Ingestion Pipeline V5 (Two-Step Batch).json
{
  "name": "Ingestion Pipeline V5 (Two-Step Batch)",
  "nodes": [
    {
      "id": "trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "name": "When clicking 'Execute workflow'"
    },
    {
      "id": "readFiles",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [200, 0],
      "name": "Read/Write Files from Disk",
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/*"
      }
    },
    {
      "id": "extractPdf",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [400, 0],
      "name": "Extract from File",
      "parameters": { "operation": "pdf" }
    },
    {
      "id": "setUrl",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 0],
      "name": "Set Source URL",
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-url", "name": "source_url", "value": "https://jdih.kemenkeu.go.id/contoh.pdf", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "prepMeta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "name": "Prepare Metadata Request",
      "parameters": {
        "jsCode": "const text = $('Extract from File').item.json.text || '';\nconst sourceUrl = $input.first().json.source_url;\nconst model = $env.OPENROUTER_INGESTION_MODEL;\n\n// Ambil max 15,000 karakter pertama untuk deteksi metadata\nconst headText = text.substring(0, 15000);\n\nconst systemPrompt = \"Kamu adalah asisten hukum. Ekstrak metadata dari dokumen hukum ini.\\n\\nOutput WAJIB berupa JSON murni dengan struktur:\\n{\\n  \\\"metadata\\\": {\\n    \\\"doc_type\\\": \\\"UU/PP/PMK/PER/dll\\\",\\n    \\\"doc_number\\\": \\\"angka\\\",\\n    \\\"doc_year\\\": \\\"4 digit\\\",\\n    \\\"doc_title\\\": \\\"judul\\\",\\n    \\\"jenis_pajak\\\": \\\"PPh/PPN/PBB/Umum/dll\\\",\\n    \\\"status_hukum\\\": \\\"BERLAKU/DICABUT/DIUBAH\\\",\\n    \\\"berlaku_sejak\\\": \\\"YYYY-MM-DD\\\",\\n    \\\"dicabut_oleh\\\": \\\"\\\",\\n    \\\"doc_category\\\": \\\"\\\"\\n  }\\n}\";\nconst userPrompt = `Dokumen:\\n${headText}`;\n\nconst payload = {\n  model: model,\n  temperature: 0.1,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n};\n\nreturn [{\n  json: {\n    payload: payload,\n    raw_full_text: text,\n    source_url: sourceUrl\n  }\n}];"
      }
    },
    {
      "id": "llmMeta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1000, 0],
      "name": "LLM Metadata",
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.OPENROUTER_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "parseMeta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "name": "Parse Metadata",
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\nconst rawFullText = $('Prepare Metadata Request').item.json.raw_full_text;\nconst sourceUrl = $('Prepare Metadata Request').item.json.source_url;\n\nlet cleaned = raw.trim();\nif (cleaned.startsWith('```json')) cleaned = cleaned.substring(7).trim();\nelse if (cleaned.startsWith('```')) cleaned = cleaned.substring(3).trim();\nif (cleaned.endsWith('```')) cleaned = cleaned.substring(0, cleaned.length - 3).trim();\n\nif (!cleaned.startsWith('{')) {\n  const jsonStart = cleaned.indexOf('{');\n  if (jsonStart !== -1) cleaned = cleaned.substring(jsonStart);\n}\nif (!cleaned.endsWith('}')) {\n  const jsonEnd = cleaned.lastIndexOf('}');\n  if (jsonEnd !== -1) cleaned = cleaned.substring(0, jsonEnd + 1);\n}\n\nlet parsed = {};\ntry { \n  parsed = JSON.parse(cleaned); \n} catch(e) { \n  throw new Error('Metadata LLM gagal di-parse sebagai JSON. Raw Output:\\n' + cleaned); \n}\n\nconst meta = parsed.metadata || parsed;\n\nreturn [{\n  json: {\n    metadata: {\n      doc_type: meta.doc_type || null,\n      doc_number: meta.doc_number || null,\n      doc_year: meta.doc_year || null,\n      doc_title: meta.doc_title || null,\n      jenis_pajak: meta.jenis_pajak || null,\n      status_hukum: meta.status_hukum || 'BERLAKU',\n      berlaku_sejak: meta.berlaku_sejak || null,\n      dicabut_oleh: meta.dicabut_oleh || null,\n      doc_category: meta.doc_category || null,\n      source_url: sourceUrl\n    },\n    raw_full_text: rawFullText\n  }\n}];"
      }
    },
    {
      "id": "prepClean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 0],
      "name": "Prepare Cleaning Requests",
      "parameters": {
        "jsCode": "const rawFullText = $input.first().json.raw_full_text;\nconst metadata = $input.first().json.metadata;\nconst model = $env.OPENROUTER_INGESTION_MODEL;\n\n// Pecah menjadi blok 15.000 karakter agar LLM tidak kehabisan output token\nconst CHUNK_CHAR_SIZE = 15000;\nconst chunks = [];\nfor (let i = 0; i < rawFullText.length; i += CHUNK_CHAR_SIZE) {\n  chunks.push(rawFullText.substring(i, i + CHUNK_CHAR_SIZE));\n}\n\nreturn chunks.map((chunkText, index) => {\n  const systemPrompt = \"Kamu adalah asisten hukum. Tugasmu hanya membersihkan teks OCR dokumen hukum ke Markdown yang rapi. HAPUS header, footer, nomor halaman, dan tanda tangan pejabat. PERTAHANKAN dan FORMAT struktur pasal. JANGAN tambahkan penjelasan apapun, JANGAN bungkus dengan JSON. HANYA Markdown murni.\";\n  const userPrompt = `Bersihkan teks bagian ini ke Markdown:\\n\\n${chunkText}`;\n  \n  return {\n    json: {\n      chunk_index: index,\n      total_chunks: chunks.length,\n      metadata: metadata,\n      payload: {\n        model: model,\n        temperature: 0.1,\n        messages: [\n          { role: 'system', content: systemPrompt },\n          { role: 'user', content: userPrompt }\n        ]\n      }\n    }\n  };\n});"
      }
    },
    {
      "id": "llmClean",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1600, 0],
      "name": "LLM Clean Batch",
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.OPENROUTER_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "id": "mergeMarkdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0],
      "name": "Merge Cleaned Markdown",
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Urutkan kembali berdasarkan index agar teks nyambung sempurna\nitems.sort((a, b) => a.json.chunk_index - b.json.chunk_index);\n\nlet fullCleanedMarkdown = \"\";\nfor (const item of items) {\n  let raw = item.json.choices[0].message.content.trim();\n  if (raw.startsWith('```markdown')) raw = raw.substring(11).trim();\n  else if (raw.startsWith('```')) raw = raw.substring(3).trim();\n  if (raw.endsWith('```')) raw = raw.substring(0, raw.length - 3).trim();\n  \n  fullCleanedMarkdown += raw + \"\\n\\n\";\n}\n\n// Ambil metadata langsung dari node Parse Metadata karena HTTP Request menimpa item\nconst metadata = $('Parse Metadata').first().json.metadata;\n\nreturn [{\n  json: {\n    cleanedMarkdown: fullCleanedMarkdown,\n    ...metadata\n  }\n}];"
      }
    },
    {
      "id": "chunking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 0],
      "name": "Semantic Chunking by Pasal",
      "parameters": {
        "jsCode": "const markdownText = $input.first().json.cleanedMarkdown;\nconst sourceUrl  = $input.first().json.source_url;\nconst docType    = $input.first().json.doc_type;\nconst docNumber  = $input.first().json.doc_number;\nconst docYear    = $input.first().json.doc_year;\nconst docTitle   = $input.first().json.doc_title;\nconst jenisPajak = $input.first().json.jenis_pajak;\nconst statusHukum = $input.first().json.status_hukum;\nconst berlakuSejak = $input.first().json.berlaku_sejak;\nconst dicabutOleh = $input.first().json.dicabut_oleh;\nconst docCategory = $input.first().json.doc_category;\n\nconst CHUNK_SIZE     = 1000;\nconst CHUNK_OVERLAP  = 150;\nconst MIN_CHUNK_SIZE = 100;\n\nfunction splitByPasal(text) {\n  const p = /(?=##\\s+(?:Pasal|BAB|Bagian|Paragraf)\\s+\\d+)/gi;\n  return text.split(p).filter(c => c.trim().length > MIN_CHUNK_SIZE);\n}\n\nfunction slidingWindow(text, size, overlap) {\n  const chunks = [];\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(start + size, text.length);\n    chunks.push(text.slice(start, end));\n    start += size - overlap;\n  }\n  return chunks;\n}\n\nfunction extractPasalNumber(chunkText) {\n  const match = chunkText.match(/##\\s+Pasal\\s+(\\d+[A-Z]?)/i);\n  return match ? match[1] : null;\n}\n\nconst rawChunks = splitByPasal(markdownText);\nconst finalChunks = [];\n\nfor (const chunk of rawChunks) {\n  if (chunk.length <= CHUNK_SIZE) {\n    finalChunks.push(chunk);\n  } else {\n    const subChunks = slidingWindow(chunk, CHUNK_SIZE, CHUNK_OVERLAP);\n    finalChunks.push(...subChunks);\n  }\n}\n\nconst output = finalChunks.map((chunk, index) => ({\n  json: {\n    chunk_text:   chunk.trim(),\n    chunk_index:  index,\n    total_chunks: finalChunks.length,\n    pasal_number: extractPasalNumber(chunk),\n    source_url:   sourceUrl,\n    doc_type:     docType,\n    doc_number:   docNumber,\n    doc_year:     docYear,\n    doc_title:    docTitle,\n    jenis_pajak:  jenisPajak,\n    status_hukum: statusHukum,\n    berlaku_sejak: berlakuSejak,\n    dicabut_oleh: dicabutOleh,\n    doc_category: docCategory,\n    ingested_at:  new Date().toISOString(),\n  }\n}));\n\nreturn output;"
      }
    },
    {
      "id": "embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2200, 0],
      "name": "Embedding",
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.OPENROUTER_API_KEY}}" },
            { "name": "HTTP-Referer", "value": "http://aisuka.com" },
            { "name": "X-Title", "value": "RAG Tax Indonesia" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "input", "value": "={{ $json.chunk_text }}" },
            { "name": "model", "value": "={{ $env.OPENROUTER_EMBEDDING_MODEL }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2400, 0],
      "name": "Execute SQL Query",
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tax_documents (\n  id, chunk_text, chunk_index, pasal_number,\n  doc_type, doc_number, doc_year, doc_title,\n  jenis_pajak, source_url, status_hukum, berlaku_sejak,\n  dicabut_oleh, doc_category, ingested_at, embedding\n)\nVALUES (\n  gen_random_uuid(),\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13,\n  NOW(),\n  $14::vector\n)\nON CONFLICT (source_url, chunk_index)\nDO UPDATE SET\n  chunk_text = EXCLUDED.chunk_text,\n  pasal_number = EXCLUDED.pasal_number,\n  doc_type = EXCLUDED.doc_type,\n  doc_number = EXCLUDED.doc_number,\n  doc_year = EXCLUDED.doc_year,\n  doc_title = EXCLUDED.doc_title,\n  jenis_pajak = EXCLUDED.jenis_pajak,\n  status_hukum = EXCLUDED.status_hukum,\n  berlaku_sejak = EXCLUDED.berlaku_sejak,\n  dicabut_oleh = EXCLUDED.dicabut_oleh,\n  doc_category = EXCLUDED.doc_category,\n  embedding = EXCLUDED.embedding,\n  ingested_at = NOW();",
        "options": {
          "queryReplacement": "={{ [\n  $('Semantic Chunking by Pasal').item.json.chunk_text,\n  $('Semantic Chunking by Pasal').item.json.chunk_index,\n  $('Semantic Chunking by Pasal').item.json.pasal_number || null,\n  $('Semantic Chunking by Pasal').item.json.doc_type,\n  $('Semantic Chunking by Pasal').item.json.doc_number,\n  $('Semantic Chunking by Pasal').item.json.doc_year,\n  $('Semantic Chunking by Pasal').item.json.doc_title,\n  $('Semantic Chunking by Pasal').item.json.jenis_pajak,\n  $('Semantic Chunking by Pasal').item.json.source_url,\n  $('Semantic Chunking by Pasal').item.json.status_hukum,\n  $('Semantic Chunking by Pasal').item.json.berlaku_sejak,\n  $('Semantic Chunking by Pasal').item.json.dicabut_oleh,\n  $('Semantic Chunking by Pasal').item.json.doc_category,\n  '[' + $json.data[0].embedding.join(',') + ']'\n] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "PH1UhuuVUQLWkV2h", "name": "Postgres account" }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": { "main": [ [ { "node": "Read/Write Files from Disk", "type": "main", "index": 0 } ] ] },
    "Read/Write Files from Disk": { "main": [ [ { "node": "Extract from File", "type": "main", "index": 0 } ] ] },
    "Extract from File": { "main": [ [ { "node": "Set Source URL", "type": "main", "index": 0 } ] ] },
    "Set Source URL": { "main": [ [ { "node": "Prepare Metadata Request", "type": "main", "index": 0 } ] ] },
    "Prepare Metadata Request": { "main": [ [ { "node": "LLM Metadata", "type": "main", "index": 0 } ] ] },
    "LLM Metadata": { "main": [ [ { "node": "Parse Metadata", "type": "main", "index": 0 } ] ] },
    "Parse Metadata": { "main": [ [ { "node": "Prepare Cleaning Requests", "type": "main", "index": 0 } ] ] },
    "Prepare Cleaning Requests": { "main": [ [ { "node": "LLM Clean Batch", "type": "main", "index": 0 } ] ] },
    "LLM Clean Batch": { "main": [ [ { "node": "Merge Cleaned Markdown", "type": "main", "index": 0 } ] ] },
    "Merge Cleaned Markdown": { "main": [ [ { "node": "Semantic Chunking by Pasal", "type": "main", "index": 0 } ] ] },
    "Semantic Chunking by Pasal": { "main": [ [ { "node": "Embedding", "type": "main", "index": 0 } ] ] },
    "Embedding": { "main": [ [ { "node": "Execute SQL Query", "type": "main", "index": 0 } ] ] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
