api/Ingestion Pipeline Beta.json
{
  "name": "Ingestion Pipeline Beta",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://aisuka.com"
            },
            {
              "name": "X-Title",
              "value": "RAG Tax Indonesia"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": {{ JSON.stringify($json.model) }}, \"temperature\": {{ $json.temperature }}, \"max_tokens\": {{ $json.max_tokens }}, \"messages\": {{ JSON.stringify($json.messages) }}}",
        "options": {}
      },
      "id": "3130834b-7851-4dd1-9e4e-43b5071867cb",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        704
      ],
      "name": "LLM Clean Batch",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://aisuka.com"
            },
            {
              "name": "X-Title",
              "value": "RAG Tax Indonesia"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.embedding_input }}"
            },
            {
              "name": "model",
              "value": "={{ $env.OPENROUTER_EMBEDDING_MODEL }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "3cefbe38-1c78-42fe-b82b-7a8098742005",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3248,
        416
      ],
      "name": "Embedding",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingest_failed_logs (\n    relational_id,\n    pasal_number,\n    chunk_index,\n    error_reason,\n    chunk_text\n)\nVALUES (\n    $1,\n    $2,\n    $3,\n    $4,\n    $5\n);",
        "options": {
          "queryReplacement": "=={{\n[\n  $json.relational_id,\n  $json.pasal_number,\n  $json.chunk_index,\n  JSON.stringify($json.quality_flags || []),\n  $json.chunk_preview || $json.chunk_text\n]\n}}"
        }
      },
      "id": "756cc9bb-a12d-4b25-9705-ad4aebb6e4be",
      "name": "Log Failed Quality",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3184,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- V11 FIX: Aggregate hasil similarity menjadi 1 row per chunk\n-- agar Evaluate Reconstruction tetap 1 item in → 1 item out\nSELECT\n  $2 AS source_url,\n  -- Same-doc: top match (chunk dari dokumen yang sama)\n  MAX(CASE WHEN match_origin = 'same_doc' THEN similarity END)     AS same_doc_top_sim,\n  -- Cross-doc: apakah ada duplikat mencurigakan (> 0.97)\n  json_agg(\n    CASE WHEN match_origin = 'cross_doc' AND similarity > 0.97\n    THEN doc_number ELSE NULL END\n  ) FILTER (WHERE match_origin = 'cross_doc' AND similarity > 0.97) AS duplicate_suspects,\n  COUNT(*) AS total_matches\nFROM (\n  (\n    SELECT\n      1 - (embedding <=> $1::vector) AS similarity,\n      doc_number,\n      pasal_number,\n      source_url,\n      'same_doc' AS match_origin\n    FROM tax_documents\n    WHERE source_url = $2\n      AND status_hukum = 'BERLAKU'\n    ORDER BY embedding <=> $1::vector\n    LIMIT 3\n  )\n  UNION ALL\n  (\n    SELECT\n      1 - (embedding <=> $1::vector) AS similarity,\n      doc_number,\n      pasal_number,\n      source_url,\n      'cross_doc' AS match_origin\n    FROM tax_documents\n    WHERE source_url != $2\n      AND status_hukum = 'BERLAKU'\n    ORDER BY embedding <=> $1::vector\n    LIMIT 3\n  )\n) sub;",
        "options": {
          "queryReplacement": "={{ [\n  $json.embedding_str,\n  $json.source_url\n] }}"
        }
      },
      "id": "aee3fe09-391b-4d88-9536-0536e484b3d8",
      "name": "Reconstruction Test",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3744,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// EVALUATE RECONSTRUCTION — V2\n// FIX-5: Pairing via relational_id (bukan posisi array).\n// ════════════════════════════════════════════════════════════════════════\n\nconst SIMILARITY_HIGH     = 0.95;\nconst SIMILARITY_MODERATE = 0.70;\n\n// FIX-5: Bangun lookup map dari Validate Embedding\nconst validatedItems = $('Embedding Quality Validator').all();\nconst validatedMap = {};\nfor (const v of validatedItems) {\n  const rid = v.json.relational_id;\n  if (rid) validatedMap[rid] = v.json;\n}\n\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n  const recon = item.json;\n\n  // FIX-5: Coba pairing via source_url + chunk_index sebagai composite key,\n  // atau relational_id jika tersedia di output Reconstruction Test.\n  const rid = recon.relational_id;\n  const chunkData = (rid && validatedMap[rid])\n    ? validatedMap[rid]\n    : (validatedItems[index]?.json || {});\n\n  const sameSim = recon.same_doc_top_sim !== null\n    ? Math.round(parseFloat(recon.same_doc_top_sim) * 10_000) / 10_000\n    : null;\n\n  let reconstructionNote = 'new_chunk';\n  if (sameSim !== null) {\n    if (sameSim >= SIMILARITY_HIGH)          reconstructionNote = 'high_similarity_match';\n    else if (sameSim >= SIMILARITY_MODERATE) reconstructionNote = 'moderate_similarity_match';\n  }\n\n  const rawSuspects = recon.duplicate_suspects;\n  const neighborFlags = Array.isArray(rawSuspects)\n    ? rawSuspects.filter(Boolean).map(d => `DUPLICATE_SUSPECT: ${d}`)\n    : [];\n\n  return {\n    json: {\n      ...chunkData,\n      _rt_similarity:     sameSim,\n      _rt_note:           reconstructionNote,\n      _rt_neighbor_flags: neighborFlags,\n    },\n  };\n});"
      },
      "id": "564ddb23-af72-4b2e-8e9c-d94b193f4234",
      "name": "Evaluate Reconstruction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tax_documents (\n  id, chunk_text, chunk_index, pasal_number,\n  doc_type, doc_number, doc_year, doc_title,\n  jenis_pajak, source_url, status_hukum, berlaku_sejak,\n  dicabut_oleh, doc_category,\n  mencabut, diubah_oleh, mengubah,\n  total_chunks, ingested_at, embedding,\n  ingestion_status, updated_at,\n  total_chunks_expected, total_chunks_ingested,\n  bab, section_type, breadcrumb, is_table,\n  doc_keywords, dasar_hukum, doc_ringkasan, abstrak_raw,\n  -- [V12] kolom baru\n  relational_id, pasal_relational_id, header, hierarchy_level,\n  semantic_types, semantic_type,\n  contains_definition, contains_sanction, contains_exception,\n  contains_obligation, contains_prohibition,\n  contains_procedure, contains_timeline,\n  outgoing_references, ayat_numbers, huruf_references, citation_graph,\n  legal_entities, legal_concept_tags,\n  procedural_stage, procedural_stage_primary,\n  primary_domain, secondary_domains, domain_tags,\n  domain_scores, domain_confidence,\n  semantic_importance, retrieval_boost, chunk_summary,\n  quality_flags, quality_score, embedding_ready,\n  embedding_validated, l2_norm,\n  _rt_similarity, _rt_note, _rt_neighbor_flags, -- Fixed: Added missing comma\n  avoidance_signals,\n  thresholds,\n  exception_refs,\n  conflict_refs,\n  applicable_entity_types,\n  gaar_exposure_level,\n  sunset_clause,\n  effective_date_end\n)\nVALUES (\n  gen_random_uuid(),\n  $1,  $2,  $3,  $4,  $5,  $6,  $7,  $8,  $9,  $10,\n  $11, $12, $13, $14::jsonb, $15::jsonb, $16::jsonb,\n  $17, NOW(), $18::vector,\n  'IN_PROGRESS', NOW(),\n  $17, 0,\n  $19, $20, $21, $22::boolean,\n  $23::text[], $24, $25, $26,\n  -- [V12] $27–$62\n  $27, $28, $29, $30,\n  $31::text[], $32,\n  $33::boolean, $34::boolean, $35::boolean,\n  $36::boolean, $37::boolean,\n  $38::boolean, $39::boolean,\n  $40::text[], $41::text[], $42::text[], $43::jsonb,\n  $44::text[], $45::text[],\n  $46::text[], $47,\n  $48, $49::text[], $50::text[],\n  $51::jsonb, $52::numeric,\n  $53::numeric, $54::numeric, $55,\n  $56::text[], $57::numeric, $58::boolean,\n  $59::boolean, $60::numeric,\n  $61::numeric, $62, $63::jsonb, -- Fixed: Added missing comma\n  $64::jsonb,   -- avoidance_signals\n  $65::jsonb,   -- thresholds\n  $66::text[],  -- exception_refs\n  $67::jsonb,   -- conflict_refs\n  $68::text[],  -- applicable_entity_types\n  $69,          -- gaar_exposure_level\n  $70::boolean, -- sunset_clause\n  $71::date     -- effective_date_end\n)\nON CONFLICT (source_url, chunk_index)\nDO UPDATE SET\n  chunk_text              = EXCLUDED.chunk_text,\n  pasal_number            = EXCLUDED.pasal_number,\n  doc_type                = EXCLUDED.doc_type,\n  doc_number              = EXCLUDED.doc_number,\n  doc_year                = EXCLUDED.doc_year,\n  doc_title               = EXCLUDED.doc_title,\n  jenis_pajak             = EXCLUDED.jenis_pajak,\n  status_hukum            = EXCLUDED.status_hukum,\n  berlaku_sejak           = EXCLUDED.berlaku_sejak,\n  dicabut_oleh            = EXCLUDED.dicabut_oleh,\n  doc_category            = EXCLUDED.doc_category,\n  mencabut                = EXCLUDED.mencabut,\n  diubah_oleh             = EXCLUDED.diubah_oleh,\n  mengubah                = EXCLUDED.mengubah,\n  total_chunks            = EXCLUDED.total_chunks,\n  total_chunks_expected   = EXCLUDED.total_chunks_expected,\n  embedding               = EXCLUDED.embedding,\n  ingested_at             = NOW(),\n  ingestion_status        = 'IN_PROGRESS',\n  updated_at              = NOW(),\n  bab                     = EXCLUDED.bab,\n  section_type            = EXCLUDED.section_type,\n  breadcrumb              = EXCLUDED.breadcrumb,\n  is_table                = EXCLUDED.is_table,\n  doc_keywords            = EXCLUDED.doc_keywords,\n  dasar_hukum             = EXCLUDED.dasar_hukum,\n  doc_ringkasan           = EXCLUDED.doc_ringkasan,\n  abstrak_raw             = EXCLUDED.abstrak_raw,\n  -- [V12]\n  relational_id           = EXCLUDED.relational_id,\n  pasal_relational_id     = EXCLUDED.pasal_relational_id,\n  header                  = EXCLUDED.header,\n  hierarchy_level         = EXCLUDED.hierarchy_level,\n  semantic_types          = EXCLUDED.semantic_types,\n  semantic_type           = EXCLUDED.semantic_type,\n  contains_definition     = EXCLUDED.contains_definition,\n  contains_sanction       = EXCLUDED.contains_sanction,\n  contains_exception      = EXCLUDED.contains_exception,\n  contains_obligation     = EXCLUDED.contains_obligation,\n  contains_prohibition    = EXCLUDED.contains_prohibition,\n  contains_procedure      = EXCLUDED.contains_procedure,\n  contains_timeline       = EXCLUDED.contains_timeline,\n  outgoing_references     = EXCLUDED.outgoing_references,\n  ayat_numbers            = EXCLUDED.ayat_numbers,\n  huruf_references        = EXCLUDED.huruf_references,\n  citation_graph          = EXCLUDED.citation_graph,\n  legal_entities          = EXCLUDED.legal_entities,\n  legal_concept_tags      = EXCLUDED.legal_concept_tags,\n  procedural_stage        = EXCLUDED.procedural_stage,\n  procedural_stage_primary= EXCLUDED.procedural_stage_primary,\n  primary_domain          = EXCLUDED.primary_domain,\n  secondary_domains       = EXCLUDED.secondary_domains,\n  domain_tags             = EXCLUDED.domain_tags,\n  domain_scores           = EXCLUDED.domain_scores,\n  domain_confidence       = EXCLUDED.domain_confidence,\n  semantic_importance     = EXCLUDED.semantic_importance,\n  retrieval_boost         = EXCLUDED.retrieval_boost,\n  chunk_summary           = EXCLUDED.chunk_summary,\n  quality_flags           = EXCLUDED.quality_flags,\n  quality_score           = EXCLUDED.quality_score,\n  embedding_ready         = EXCLUDED.embedding_ready,\n  embedding_validated     = EXCLUDED.embedding_validated,\n  l2_norm                 = EXCLUDED.l2_norm,\n  _rt_similarity          = EXCLUDED._rt_similarity,\n  _rt_note                = EXCLUDED._rt_note,\n  _rt_neighbor_flags      = EXCLUDED._rt_neighbor_flags,\n  avoidance_signals       = EXCLUDED.avoidance_signals,\n  thresholds              = EXCLUDED.thresholds,\n  exception_refs          = EXCLUDED.exception_refs,\n  conflict_refs           = EXCLUDED.conflict_refs,\n  applicable_entity_types = EXCLUDED.applicable_entity_types,\n  gaar_exposure_level     = EXCLUDED.gaar_exposure_level,\n  sunset_clause           = EXCLUDED.sunset_clause,\n  effective_date_end      = EXCLUDED.effective_date_end;\n\n-- 2. Audit log (Digeser parameternya mulai dari $72 agar tidak tabrakan)\nINSERT INTO ingestion_audit_log (\n  chunk_fingerprint, doc_type, doc_number, doc_year, pasal_number,\n  pipeline_version,\n  ocr_score, completeness_score, metadata_score, final_quality_score,\n  passed, flagged_reason,\n  reconstruction_similarity, neighbor_flags,\n  tested_at\n) VALUES (\n  md5($1),\n  $4, $5, $6, $3, \n  $72,         -- pipeline_version\n  $73::float,  -- ocr_score\n  $74::float,  -- completeness_score\n  $75::float,  -- metadata_score\n  $76::float,  -- final_quality_score\n  true, null,\n  $77,         -- reconstruction_similarity (_rt_similarity)\n  $78::jsonb,  -- neighbor_flags (_rt_neighbor_flags)\n  NOW()\n)\nON CONFLICT (chunk_fingerprint) DO UPDATE SET\n  ocr_score                 = EXCLUDED.ocr_score,\n  completeness_score        = EXCLUDED.completeness_score,\n  final_quality_score       = EXCLUDED.final_quality_score,\n  reconstruction_similarity = EXCLUDED.reconstruction_similarity,\n  neighbor_flags            = EXCLUDED.neighbor_flags,\n  passed                    = true,\n  tested_at                 = NOW();",
        "options": {
          "queryReplacement": "={{ [\n  // ── $1–$18: Inti ──────────────────────────────────────────\n  $json.chunk_text,\n  $json.chunk_index,\n  $json.pasal_number || null,\n  ($json.metadata?.doc_type   || $json.doc_type)   || null,\n  ($json.metadata?.doc_number || $json.doc_number) || null,\n  ($json.metadata?.doc_year   || $json.doc_year)   || null,\n  ($json.metadata?.doc_title  || $json.doc_title)  || null,\n  ($json.metadata?.jenis_pajak|| $json.jenis_pajak)|| null,\n  ($json.metadata?.source_url || $json.source_url) || null,\n  ($json.metadata?.status_hukum || $json.status_hukum) || null,\n  ($json.metadata?.berlaku_sejak|| $json.berlaku_sejak)|| null,\n  ($json.metadata?.dicabut_oleh || $json.dicabut_oleh) || null,\n  ($json.metadata?.doc_category || $json.doc_category) || null,\n  JSON.stringify($json.metadata?.mencabut   || $json.mencabut   || []),\n  JSON.stringify($json.metadata?.diubah_oleh|| $json.diubah_oleh|| []),\n  JSON.stringify($json.metadata?.mengubah   || $json.mengubah   || []),\n  $json.total_chunks   || null,\n  $json.embedding_str,\n\n  // ── $19–$26: V11 ────────────────────────────────────────────\n  $json.bab            || null,\n  $json.section_type   || 'batang_tubuh',\n  $json.breadcrumb     || null,\n  $json.is_table === true,\n  Array.isArray($json.doc_keywords) ? $json.doc_keywords : ($json.doc_keywords ? [$json.doc_keywords] : []),\n  $json.dasar_hukum    || null,\n  $json.doc_ringkasan  || null,\n  $json.abstrak_raw    || null,\n\n  // ── $27–$63: V12 (Force Array untuk kolom text[]) ───────────\n  $json.relational_id                    || null,         // $27\n  $json.pasal_relational_id              || null,         // $28\n  $json.header                           || null,         // $29\n  $json.hierarchy_level                  || 'pasal_chunk',// $30\n  Array.isArray($json.semantic_types) ? $json.semantic_types : ($json.semantic_types ? [$json.semantic_types] : []), // $31\n  $json.semantic_type                    || null,         // $32\n  $json.contains_definition  === true,                    // $33\n  $json.contains_sanction    === true,                    // $34\n  $json.contains_exception   === true,                    // $35\n  $json.contains_obligation  === true,                    // $36\n  $json.contains_prohibition === true,                    // $37\n  $json.contains_procedure   === true,                    // $38\n  $json.contains_timeline    === true,                    // $39\n  Array.isArray($json.outgoing_references) ? $json.outgoing_references : ($json.outgoing_references ? [$json.outgoing_references] : []), // $40\n  Array.isArray($json.ayat_numbers) ? $json.ayat_numbers : ($json.ayat_numbers ? [$json.ayat_numbers] : []),             // $41\n  Array.isArray($json.huruf_references) ? $json.huruf_references : ($json.huruf_references ? [$json.huruf_references] : []), // $42\n  JSON.stringify($json.citation_graph     || {}),         // $43 (JSONB)\n  Array.isArray($json.legal_entities) ? $json.legal_entities : ($json.legal_entities ? [$json.legal_entities] : []),     // $44\n  Array.isArray($json.legal_concept_tags) ? $json.legal_concept_tags : ($json.legal_concept_tags ? [$json.legal_concept_tags] : []), // $45\n  Array.isArray($json.procedural_stage) ? $json.procedural_stage : ($json.procedural_stage ? [$json.procedural_stage] : []), // $46\n  $json.procedural_stage_primary          || null,        // $47\n  $json.primary_domain                    || null,        // $48\n  Array.isArray($json.secondary_domains) ? $json.secondary_domains : ($json.secondary_domains ? [$json.secondary_domains] : []), // $49\n  Array.isArray($json.domain_tags) ? $json.domain_tags : ($json.domain_tags ? [$json.domain_tags] : []),                 // $50\n  JSON.stringify($json.domain_scores      || {}),         // $51 (JSONB)\n  $json.domain_confidence                  ?? null,        // $52\n  $json.semantic_importance                ?? null,        // $53\n  $json.retrieval_boost                    ?? null,        // $54\n  $json.chunk_summary                     || null,        // $55\n  Array.isArray($json.quality_flags) ? $json.quality_flags : ($json.quality_flags ? [$json.quality_flags] : []),         // $56\n  $json.quality_score                      ?? null,        // $57\n  $json.embedding_ready   === true,                       // $58\n  $json.embedding_validated=== true,                       // $59\n  $json.l2_norm                            ?? null,        // $60\n  $json._rt_similarity                     ?? null,        // $61\n  $json._rt_note                          || null,        // $62\n  JSON.stringify($json._rt_neighbor_flags || []),         // $63 (JSONB)\n\n  // ── $64–$71: [V14 NEW] Avoidance & Compliance Fields ────────\n  JSON.stringify($json.avoidance_signals  || {}),         // $64 (JSONB)\n  JSON.stringify($json.thresholds         || {}),         // $65 (JSONB)\n  Array.isArray($json.exception_refs) ? $json.exception_refs : ($json.exception_refs ? [$json.exception_refs] : []), // $66 (text[])\n  JSON.stringify($json.conflict_refs     || {}),         // $67 (JSONB)\n  Array.isArray($json.applicable_entity_types) ? $json.applicable_entity_types : ($json.applicable_entity_types ? [$json.applicable_entity_types] : []), // $68 (text[])\n  $json.gaar_exposure_level               || null,        // $69 (text)\n  $json.sunset_clause                     === true,       // $70 (boolean)\n  $json.effective_date_end                || null,        // $71 (date/text)\n\n  // ── $72–$78: Ingestion Audit Log (Digeser dengan Aman) ──────\n  $json.pipeline_version  || 'V14',                        // $72\n  $json._qs_ocr           || 0,                            // $73\n  $json._qs_completeness  || 0,                            // $74\n  $json._qs_metadata      || 0,                            // $75\n  $json._qs_final         || 0,                            // $76\n  $json._rt_similarity    || 0,                            // $77\n  JSON.stringify($json._rt_neighbor_flags || [])           // $78 (JSONB)\n] }}"
        }
      },
      "id": "aafcf41e-2f96-414d-80c4-3c7591a66473",
      "name": "Upsert + Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4400,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input      = $input.first().json;\nconst errorMsg   = input.error?.message || input.message || 'Unknown LLM error';\nconst executionId = $execution?.id || 'unknown-execution';\n\nreturn [{\n  json: {\n    error_source:    'LLM_NODE',\n    error_message:   errorMsg,\n    execution_id:    executionId,\n    source_url:      input.source_url || input.url || null,\n    doc_number:      input.doc_number || null,\n    failed_at:       new Date().toISOString(),\n    retry_suggested: true,\n  },\n}];\n"
      },
      "id": "465a8399-5b73-4313-b483-9c5f545fb2c1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        720
      ],
      "name": "Handle LLM Error",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingestion_error_log (\n  error_source, error_message, execution_id,\n  source_url, doc_number, failed_at, retry_suggested\n) VALUES (\n  $1, $2, $3, $4, $5, NOW(), $6\n);",
        "options": {
          "queryReplacement": "={{ [\n  $json.error_source,\n  $json.error_message,\n  $json.execution_id,\n  $json.source_url,\n  $json.doc_number,\n  $json.retry_suggested\n] }}"
        }
      },
      "id": "242036bd-5670-4461-a4d3-99990ac4130e",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1360,
        704
      ],
      "name": "Log LLM Error",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1JYeAWZBGkU3mojGU5jD62xDvTnQRZ58cyjki568a4Dw",
          "mode": "list",
          "cachedResultName": "LinkJDIH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JYeAWZBGkU3mojGU5jD62xDvTnQRZ58cyjki568a4Dw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1425588184,
          "mode": "list",
          "cachedResultName": "Incoming",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JYeAWZBGkU3mojGU5jD62xDvTnQRZ58cyjki568a4Dw/edit#gid=1425588184"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        272
      ],
      "id": "c7463e29-cbd8-400b-ada2-8a0c4f9c11ef",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "waytlyGeuNB8TZAu",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const TYPE_MAP = {\n  pmk: 'PMK', uu: 'UU', pp: 'PP',\n  per: 'PER', kmk: 'KMK', se: 'SE',\n};\n\nconst SLUG_RE = /^([a-z]+)-(\\d+)(?:[a-z0-9\\-]*?)-tahun-(\\d{4})$/;\n\nconst input  = $input.first().json;\nconst gSheet = $('Google Sheets Trigger').first().json;\n\nconst rawUrl = input['Url'] || '';\nif (!rawUrl.trim()) {\n  throw new Error('[ParseJDIHURL] Field \"Url\" kosong atau tidak ditemukan di row Google Sheet.');\n}\n\nconst resolvedSourceUrl = gSheet.PDF || gSheet.Url || '';\nif (!resolvedSourceUrl.trim()) {\n  throw new Error('[ParseJDIHURL] source_url kosong: kolom PDF dan Url tidak ada di Google Sheet row ini.');\n}\n\nconst slug  = rawUrl.split('/').pop().toLowerCase().trim();\nconst match = slug.match(SLUG_RE);\n\nlet docType, docNumber, docYear;\n\nif (match) {\n  docType   = TYPE_MAP[match[1]] || match[1].toUpperCase();\n  docNumber = match[2];\n  docYear   = match[3];\n} else {\n  const parts    = slug.split('-');\n  const tahunIdx = parts.indexOf('tahun');\n  docType   = TYPE_MAP[parts[0]] || parts[0].toUpperCase();\n  docNumber = parts[1] || '';\n  docYear   = tahunIdx !== -1 ? parts[tahunIdx + 1] : '';\n}\n\nreturn [{\n  json: {\n    docType,\n    docNumber,\n    docYear,\n    fullQuery:       `${docType} ${docNumber} ${docYear}`.trim(),\n    mengubah:        input.mengubah,\n    diubah_oleh:     input.diubah_oleh,\n    mencabut:        input.mencabut,\n    dicabut_oleh:    input.dicabut_oleh,\n    status_hukum:    input.status_hukum,\n    riwayat_dokumen: input.riwayat_dokumen,\n    jenis_pajak:     input.jenis_pajak,\n    source_url:      resolvedSourceUrl,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        256
      ],
      "id": "0f4031e7-3fca-4dbe-88d8-14b274be5865",
      "name": "ParseJDIHURL"
    },
    {
      "parameters": {
        "jsCode": "const TYPE_TO_BENTUK = {\n  UU:      'Undang-Undang',\n  PMK:     'Peraturan Menteri',\n  PP:      'Peraturan Pemerintah',\n  PER:     'Peraturan Unit Eselon I',\n  KMK:     'Keputusan Menteri',\n  PERPRES: 'Peraturan Presiden',\n};\n\nconst parsedDoc   = $('ParseJDIHURL').first().json;\nconst xtract    = $('ExtractPDF').first().json;\nconst { data: jdihData } = $input.first().json;\n\nconst targetType   = (parsedDoc.docType  || '').toUpperCase();\nconst targetNo     = String(parsedDoc.docNumber || '').trim();\nconst targetYear   = String(parsedDoc.docYear   || '').trim();\nconst targetBentuk = TYPE_TO_BENTUK[targetType];\n\nif (!targetBentuk) {\n  return [{ json: { jdih_found: false, reason: `Tipe dokumen ${targetType} tidak terdaftar di mapping.` } }];\n}\nif (!jdihData || jdihData.length === 0) {\n  return [{ json: { jdih_found: false, reason: 'API JDIH memberikan respon kosong.' } }];\n}\n\nconst exactMatch = jdihData.find(item =>\n  String(item.bentuk).toLowerCase() === targetBentuk.toLowerCase()\n  && String(item.no).trim()    === targetNo\n  && String(item.tahun).trim() === targetYear\n);\n\nif (!exactMatch) {\n  return [{\n    json: {\n      jdih_found: false,\n      reason: `Dokumen ${targetBentuk} No ${targetNo} Tahun ${targetYear} tidak ditemukan di JDIH.`,\n    },\n  }];\n}\n\n// ── [V11] Parse Abstrak JDIH ──────────────────────────────────────────────────\nlet abstrak_raw    = null;\nlet doc_keywords   = null;\nlet doc_ringkasan  = null;\nlet dasar_hukum    = null;\n\nconst abstrakRaw = exactMatch.abstrak || exactMatch.abstract || null;\n\nif (abstrakRaw && abstrakRaw.trim().length > 0) {\n  abstrak_raw = abstrakRaw.trim();\n\n  // 1. doc_keywords — baris pertama setelah header \"ABSTRAK PERATURAN\"\n  //    Format: \"COVID-19 – VAKSIN – VALUTA ASING\" atau baris pertama abstrak\n  const keywordMatch = abstrak_raw.match(/ABSTRAK\\s+PERATURAN[^\\n]*\\n([^\\n]+)/i);\n  if (keywordMatch) {\n    const rawKw = keywordMatch[1].trim();\n    // Split by common separators: –, -, ;, •\n    doc_keywords = rawKw.split(/[–\\-;•,]+/).map(k => k.trim()).filter(k => k.length > 0);\n  } else {\n    // Fallback: baris pertama abstrak sebagai keywords\n    const firstLine = abstrak_raw.split('\\n')[0].trim();\n    if (firstLine.length > 0 && firstLine.length < 300) {\n      doc_keywords = firstLine.split(/[–\\-;•,]+/).map(k => k.trim()).filter(k => k.length > 0);\n    }\n  }\n\n  // 2. dasar_hukum — paragraf setelah \"Dasar Hukum Peraturan ini adalah:\"\n  const dasarMatch = abstrak_raw.match(/Dasar Hukum[^:]*:\\s*([\\s\\S]*?)(?=\\n\\n|\\n[A-Z]|$)/i);\n  if (dasarMatch) {\n    const dasarText = dasarMatch[1].trim();\n    // Split per peraturan: UU, PP, PMK, KMK, Perpres, dll\n    dasar_hukum = dasarText\n      .split(/[;\\n]+/)\n      .map(s => s.replace(/^\\d+\\.\\s*/, '').trim())\n      .filter(s => s.length > 3 && /UU|PP|PMK|KMK|Perpres|Peraturan|Undang|Keputusan/i.test(s));\n    if (dasar_hukum.length === 0) dasar_hukum = null;\n  }\n\n  // 3. doc_ringkasan — paragraf \"Dalam Peraturan ini diatur:\"\n  const ringkasanMatch = abstrak_raw.match(/Dalam\\s+Peraturan(?:\\s+(?:Menteri|ini))*\\s+ini\\s+diatur\\s*:?\\s*([\\s\\S]{10,})/i);\n  if (ringkasanMatch) {\n    doc_ringkasan = ringkasanMatch[1].trim().slice(0, 500);\n  }\n}\n// ── End Parse Abstrak ─────────────────────────────────────────────────────────\n\nreturn [{\n  json: {\n    jdih_found:           true,\n    status_hukum:         exactMatch.status,\n    doc_title:            exactMatch.judul,\n    slug:                 exactMatch.slug,\n    bentuk_jdih:          exactMatch.bentuk,\n    tanggal_pengundangan: exactMatch.tanggal_pengundangan,\n    doc_type:             targetType,\n    doc_number:           targetNo,\n    doc_year:             targetYear,\n    jenis_pajak:          parsedDoc.jenis_pajak || 'Umum',\n    source_url:           parsedDoc.source_url,\n    riwayat_dokumen:      parsedDoc.riwayat_dokumen || null,\n    is_consolidated:      exactMatch.konsolidasi === 1,\n    matched_by:           'strict_string_logic',\n    // [V11] Abstrak fields\n    abstrak_raw:          abstrak_raw,\n    doc_keywords:         doc_keywords,\n    doc_ringkasan:        doc_ringkasan,\n    dasar_hukum:          dasar_hukum,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        256
      ],
      "id": "531c0aec-a395-4233-b991-9cac15d9fe31",
      "name": "ParseJDIHResponse"
    },
    {
      "parameters": {
        "jsCode": "// Node: \"MergeBestSource\"\n// V11: Tambah pass-through field abstrak dari ParseJDIHResponse.\n\nconst jdih = $input.first().json;\n\n// ── 1. AMBIL TEKS SECARA AMAN (Multi-Path Fallback) ──────────────────────────\nlet rawFullText = '';\nlet activeSource = 'UNKNOWN';\n\ntry {\n  const htmlText = $('ExtractHTML').first().json.text;\n  if (htmlText && htmlText.trim().length > 100) {\n    rawFullText = htmlText;\n    activeSource = 'JDIH_HTM';\n  } else {\n    throw new Error('HTML text terlalu pendek atau kosong');\n  }\n} catch (e) {\n  try {\n    const pdfText = $('ExtractPDF').first().json.text;\n    if (pdfText && pdfText.trim().length > 100) {\n      rawFullText = pdfText;\n      activeSource = 'JDIH_PDF';\n    } else {\n      throw new Error('PDF text terlalu pendek atau kosong');\n    }\n  } catch (e2) {\n    try {\n      if (jdih.raw_full_text && jdih.raw_full_text.trim().length > 100) {\n        rawFullText = jdih.raw_full_text;\n        activeSource = 'JDIH_DIRECT';\n      }\n    } catch (e3) {\n      // Semua jalur gagal\n    }\n  }\n}\n\n// ── 2. GUARD: Jika rawFullText kosong ────────────────────────────────────────\nif (!rawFullText || rawFullText.trim().length === 0) {\n  throw new Error(\n    `[MergeBestSource] GAGAL: Tidak ada teks yang bisa diekstrak untuk ` +\n    `${jdih.doc_type} ${jdih.doc_number}/${jdih.doc_year}. ` +\n    `Semua jalur (ExtractHTML, ExtractPDF, raw_full_text) kosong.`\n  );\n}\n\n// ── 3. PENYUSUNAN METADATA AKHIR ─────────────────────────────────────────────\nconst mergedMeta = {\n  doc_type:          jdih.doc_type,\n  doc_number:        jdih.doc_number,\n  doc_year:          jdih.doc_year,\n  doc_title:         jdih.doc_title,\n  jenis_pajak:       jdih.jenis_pajak,\n  status_hukum:      jdih.status_hukum,\n  berlaku_sejak:     jdih.berlaku_sejak,\n  dicabut_oleh:      jdih.dicabut_oleh      || null,\n  doc_category:      'Umum',  // Parse Metadata1 akan override dengan validasi enum\n  tgl_penetapan:     jdih.tgl_penetapan,\n  tgl_pengundangan:  jdih.tgl_pengundangan,\n  jdih_source_url:   jdih.jdih_source_url,\n  nomor_lengkap:     jdih.nomor_lengkap,\n  status_confidence: jdih.status_confidence,\n  _data_source:      activeSource,\n  riwayat_dokumen:   jdih.riwayat_dokumen,\n  // [V11] Pass-through abstrak fields\n  abstrak_raw:       jdih.abstrak_raw    || null,\n  doc_keywords:      jdih.doc_keywords   || null,\n  doc_ringkasan:     jdih.doc_ringkasan  || null,\n  dasar_hukum:       jdih.dasar_hukum    || null,\n};\n\n// ── 4. OUTPUT FINAL ───────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    choices: [{\n      message: {\n        content: JSON.stringify({ metadata: mergedMeta })\n      }\n    }],\n    raw_full_text: rawFullText,\n    source_url:    jdih.source_url || jdih.jdih_source_url,\n    jdih_found:    jdih.jdih_found\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        176
      ],
      "id": "1aacc8bb-8f9c-4f31-9287-3f566965fede",
      "name": "MergeBestSource"
    },
    {
      "parameters": {
        "url": "https://jdih.kemenkeu.go.id/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('ParseJDIHURL').item.json.fullQuery }}"
            },
            {
              "name": "no",
              "value": "={{ $('ParseJDIHURL').item.json.docNumber }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        352
      ],
      "id": "875ebab4-a0bc-4bd1-9725-2b11440693d8",
      "name": "GetAPIDataJDIH",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f9e274e-bddc-452d-90d4-973aa20db195",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "=PENDING",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1184,
        272
      ],
      "id": "fff25a4b-1b96-4704-89f6-ecb5c237d8a0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        480
      ],
      "id": "97908705-6758-4c8a-afe2-7c3ab27887b6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "const BULAN_MAP = {\n  jan: '01', feb: '02', mar: '03', apr: '04',\n  mei: '05', jun: '06', jul: '07', agu: '08',\n  sep: '09', okt: '10', nov: '11', des: '12',\n};\n\nconst NOMOR_RE = /^(UU|PP|PMK|PER|KMK|SE|PERPPU|PERPU)\\s+(?:NO\\.?\\s*|NOMOR\\s+)?(\\d+)(?:[\\/\\-][\\w.]+)*\\s+(?:TAHUN\\s+)?(\\d{4})$/i;\nconst DATE_RE  = /^(\\d{1,2})\\s+(\\w+)\\s+(\\d{4})$/;\nconst TANGGAL_LINE_RE = /^(\\d{1,2}\\s+\\w+\\s+\\d{4}):?$/;\n\nfunction normalizeDate(raw) {\n  if (!raw) return null;\n  const m = raw.trim().match(DATE_RE);\n  if (!m) return raw;\n  const month = BULAN_MAP[m[2].toLowerCase().substring(0, 3)];\n  return month ? `${m[3]}-${month}-${m[1].padStart(2, '0')}` : raw;\n}\n\nfunction parseNomor(raw) {\n  const cleaned = (raw || '')\n    .replace(/^(dengan|diubah(\\s+oleh)?|mencabut|mengubah|sebagian)\\s+/gi, '')\n    .trim();\n  const m = cleaned.match(NOMOR_RE);\n  if (m) return { doc_type: m[1].toUpperCase(), doc_number: m[2], doc_year: m[3] };\n  return { doc_type: null, doc_number: null, doc_year: null };\n}\n\nfunction buildEntry(nomor, judul, tanggal) {\n  return { ...parseNomor(nomor), judul: (judul || '').trim(), tanggal: normalizeDate(tanggal) };\n}\n\nfunction parseRiwayat(text) {\n  const result = { mencabut: [], diubah_oleh: [], mengubah: [] };\n  let currentTanggal = null;\n\n  for (const line of (text || '').split(/\\r?\\n/)) {\n    const trimmed = line.trim();\n    if (!trimmed) continue;\n\n    const tanggalMatch = trimmed.match(TANGGAL_LINE_RE);\n    if (tanggalMatch) { currentTanggal = tanggalMatch[1]; continue; }\n\n    const mencabutMatch  = trimmed.match(/^Mencabut\\s+(.+?)\\s+tentang\\s+(.+)$/i);\n    if (mencabutMatch)  { result.mencabut.push(buildEntry(mencabutMatch[1], mencabutMatch[2], currentTanggal));  continue; }\n\n    const diubahMatch    = trimmed.match(/^Diubah\\s+(?:oleh\\s+)?(.+?)\\s+tentang\\s+(.+)$/i);\n    if (diubahMatch)    { result.diubah_oleh.push(buildEntry(diubahMatch[1], diubahMatch[2], currentTanggal));   continue; }\n\n    const mengubahMatch  = trimmed.match(/^Mengubah\\s+(.+?)\\s+tentang\\s+(.+)$/i);\n    if (mengubahMatch)  { result.mengubah.push(buildEntry(mengubahMatch[1], mengubahMatch[2], currentTanggal)); }\n  }\n  return result;\n}\n\nconst { metadata = {}, raw_full_text: rawFullText } = $input.first().json;\nconst parsed = parseRiwayat(metadata.riwayat_dokumen);\n\nreturn [{\n  json: {\n    metadata: {\n      ...metadata,\n      mencabut:        parsed.mencabut,\n      diubah_oleh:     parsed.diubah_oleh,\n      mengubah:        parsed.mengubah,\n      riwayat_dokumen: null,\n    },\n    raw_full_text: rawFullText,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        176
      ],
      "id": "54e9914b-a995-4403-bfbc-a845b9692d70",
      "name": "ParseRiwayatDoc"
    },
    {
      "parameters": {
        "url": "={{ $('ParseJDIHURL').item.json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        256
      ],
      "id": "1245198a-1747-46c9-bb49-6e572b5497c9",
      "name": "GetPDF",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        176,
        256
      ],
      "id": "68f565b0-fd93-43d6-a624-c2ac354585f5",
      "name": "ExtractPDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "acd7526b-8f74-4a89-ae63-ad182f782f2c",
              "leftValue": "={{ $json.jdih_found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        256
      ],
      "id": "14b985f4-d5ac-4781-ab4d-505c9e842fd5",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JYeAWZBGkU3mojGU5jD62xDvTnQRZ58cyjki568a4Dw",
          "mode": "list",
          "cachedResultName": "LinkJDIH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JYeAWZBGkU3mojGU5jD62xDvTnQRZ58cyjki568a4Dw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JYeAWZBGkU3mojGU5jD62xDvTnQRZ58cyjki568a4Dw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Gagal"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "added_at",
              "displayName": "added_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PDF",
              "displayName": "PDF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "riwayat_dokumen",
              "displayName": "riwayat_dokumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_hukum",
              "displayName": "status_hukum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        544
      ],
      "id": "1931ea31-0c7a-40d8-9a27-8db87de0cf5a",
      "name": "UpdateStatusGS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1tgQZoCxAVPIrZrp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('ParseJDIHURL').item.json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "133cc77b-14fd-4866-babb-f0dbf7e59389",
      "name": "GetHTML",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('ParseJDIHURL').item.json.source_url }}",
                    "rightValue": "htm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "51803783-46f4-48cd-a75a-c2f8900faab4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cce2a896-600f-4af6-96a7-1c88883ab3a6",
                    "leftValue": "={{ $('ParseJDIHURL').item.json.source_url }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        16
      ],
      "id": "f44496a6-b71e-434d-9299-db66b54298b0",
      "name": "RulesFilterType"
    },
    {
      "parameters": {
        "jsCode": "const BLOCK_TAGS_RE    = /<\\/(p|div|br|tr|h[1-4]|table)>/gi;\nconst HTML_TAG_RE      = /<[^>]+>/g;\nconst MULTI_SPACE_RE   = /[ \\t]+/g;\nconst BLANK_LINES_RE   = /\\n\\s*\\n/g;\nconst NUMERIC_ENT_RE   = /&#(\\d+);/g;\nconst HEX_ENT_RE       = /&#x([0-9a-fA-F]+);/g;\n\nconst HTML_ENTITIES = {\n  '&nbsp;':  ' ',  '&amp;':   '&',  '&lt;':  '<',  '&gt;':  '>',\n  '&quot;':  '\"',  '&apos;':  \"'\",  '&#39;': \"'\",\n  '&ndash;': '–',  '&mdash;': '—',  '&hellip;': '…',\n};\n\nfunction decodeEntities(text) {\n  return text\n    .replace(/&[a-z]+;|&#39;/gi, m => HTML_ENTITIES[m] ?? m)\n    .replace(NUMERIC_ENT_RE, (_, n) => String.fromCharCode(parseInt(n, 10)))\n    .replace(HEX_ENT_RE,     (_, h) => String.fromCharCode(parseInt(h, 16)));\n}\n\n// Mengambil data HTML dari output node sebelumnya\nconst html = $input.first().json.data || '';\n\nconst text = decodeEntities(\n  html\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(BLOCK_TAGS_RE, '\\n')\n    .replace(HTML_TAG_RE, ' ')\n)\n  .replace(/\\r\\n/g, '\\n') // MENGHAPUS \\r agar menjadi \\n standar\n  .replace(/\\r/g, '\\n')\n  .replace(MULTI_SPACE_RE, ' ')\n  .replace(BLANK_LINES_RE, '\\n')\n  .trim();\n\n// Ambil metadata dari node JDIH awal untuk diteruskan ke bawah\nconst jdihData = $('GetAPIDataJDIH').first().json.data[0];\n\nreturn [{ \n  json: { \n    raw_full_text: text,\n    metadata: {\n      doc_type: jdihData.bentuk,\n      doc_id: jdihData.produk_hukum_id,\n      doc_number: jdihData.nomor,\n      doc_title: jdihData.judul,\n      doc_year: jdihData.tahun,\n      jenis_pajak:        jdihData.jenis_pajak || 'Umum',\n      is_consolidated:    jdihData.konsolidasi === 1,\n\n    // [V11] Abstrak fields\n   // abstrak_raw:          abstrak_raw,\n   // doc_keywords:         doc_keywords,\n   // doc_ringkasan:        doc_ringkasan,\n   // dasar_hukum:          dasar_hukum,\n      status_hukum:  $('ParseJDIHURL').first().json.status_hukum,\n    riwayat_dokumen: $('ParseJDIHURL').first().json.riwayat_dokumen || null,\n    source_url: $('ParseJDIHURL').first().json.source_url\n    }\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "684c52fe-a9c2-41ef-814f-281f3a18a97d",
      "name": "ExtractHTML"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  EXISTS (\n    SELECT 1 FROM tax_documents\n    WHERE TRIM(LOWER(source_url)) = TRIM(LOWER($1))\n      AND ingestion_status = 'COMPLETE'\n  ) AS already_exists,\n  status_hukum AS existing_status_hukum,\n  dicabut_oleh AS existing_dicabut_oleh,\n  diubah_oleh AS existing_diubah_oleh,\n  mengubah AS existing_mengubah,\n  mencabut AS existing_mencabut\nFROM tax_documents\nWHERE TRIM(LOWER(source_url)) = TRIM(LOWER($1))\n  AND ingestion_status = 'COMPLETE'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [\n  $('ParseJDIHURL').first().json.source_url\n] }}"
        }
      },
      "id": "57cbd205-696d-47f6-b300-13c02499d65e",
      "name": "Early Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30622db2-4034-429f-8a4f-66313399981c",
                    "leftValue": "={{ $json.already_exists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Baru"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "962f03e0-7934-4fc3-87db-729e0220fe41",
                    "leftValue": "={{ $json.already_exists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  },
                  {
                    "id": "23b8d2f5-3b99-42d8-8dba-3720e2e90791",
                    "leftValue": "={{ $json.existing_status_hukum?.toString().trim().toLowerCase() }}",
                    "rightValue": "={{ $('ParseJDIHURL').first().json.status_hukum?.toString().trim().toLowerCase() }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "0091705b-23c8-46cf-8a38-e91c8e167c8a",
                    "leftValue": "={{ ($json.existing_dicabut_oleh || []).map(i => i.toString().trim().toLowerCase()).sort().join(',') }}",
                    "rightValue": "={{ ($('ParseJDIHURL').first().json.dicabut_oleh || []).map(i => i.toString().trim().toLowerCase()).sort().join(',') }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "5568e315-8a34-4ca1-9fbc-0d709db428af",
                    "leftValue": "={{ ($json.existing_diubah_oleh || []).map(i => i.toString().trim().toLowerCase()).sort().join(',') }}",
                    "rightValue": "={{ ($('ParseJDIHURL').first().json.diubah_oleh || []).map(i => i.toString().trim().toLowerCase()).sort().join(',') }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "3c2b8452-dc93-4698-869d-11378b246ee6",
                    "leftValue": "={{ ($json.existing_mencabut || []).map(i => i.toString()).sort().join(',') + \"|\" + ($json.existing_mengubah || []).map(i => i.toString()).sort().join(',') }}",
                    "rightValue": "={{ ($('ParseJDIHURL').first().json.mencabut || []).map(i => i.toString()).sort().join(',') + \"|\" + ($('ParseJDIHURL').first().json.mengubah || []).map(i => i.toString()).sort().join(',') }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duplikat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "97ac304f-f2d1-4cdc-9587-596280819e62",
                    "leftValue": "={{ $json.already_exists }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Metadata Berubah"
            }
          ]
        },
        "options": {}
      },
      "id": "9b96f56a-8ea2-457e-a2e7-6f97c0f3bc5e",
      "name": "Early Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -608,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tax_documents\nSET \n  status_hukum = $1,\n  dicabut_oleh = $2::jsonb,\n  diubah_oleh = $3::jsonb,\n  mencabut = $4::jsonb,\n  mengubah = $5::jsonb,\n  updated_at = NOW()\nWHERE source_url = $6;",
        "options": {
          "queryReplacement": "={{ [\n  $json.status_hukum,\n  JSON.stringify($json.dicabut_oleh),\n  JSON.stringify($json.diubah_oleh),\n  JSON.stringify($json.mencabut),\n  JSON.stringify($json.mengubah),\n  $json.source_url\n] }}"
        }
      },
      "id": "f58cc205-fce0-4a87-8797-f09b574650d8",
      "name": "Early Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tax_documents (\n  source_url, \n  chunk_index, \n  chunk_text, \n  ingestion_status, \n  ingested_at,\n  status_hukum,\n  doc_type, \n  doc_number, \n  doc_year\n) VALUES (\n  $1, \n  0, \n  'INITIALIZING', \n  'IN_PROGRESS', \n  NOW(),\n  'BERLAKU',\n  'PENDING', \n  '0', \n  '0000'\n)\nON CONFLICT (source_url, chunk_index)\nDO UPDATE SET\n  ingestion_status = 'IN_PROGRESS',\n  ingested_at = NOW(),    -- GUNAKAN KOMA DI SINI\n  doc_type = 'PENDING',   -- GUNAKAN KOMA DI SINI\n  doc_number = '0',       -- GUNAKAN KOMA DI SINI\n  doc_year = '0000';      -- TITIK KOMA HANYA DI AKHIR",
        "options": {
          "queryReplacement": "={{ [\n  $('ParseJDIHURL').first().json.source_url\n] }}"
        }
      },
      "id": "6ddfb067-8f6f-4891-9ccf-1ae78175a747",
      "name": "Set Ingestion In Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Shared parsing utilities (mirrors ParseRiwayatDoc with additional PMK slash format)\n\nconst BULAN_MAP = {\n  jan: '01', feb: '02', mar: '03', apr: '04',\n  mei: '05', jun: '06', jul: '07', agu: '08',\n  sep: '09', okt: '10', nov: '11', des: '12',\n};\n\nconst DATE_RE         = /^(\\d{1,2})\\s+(\\w+)\\s+(\\d{4})$/;\nconst TANGGAL_LINE_RE = /^(\\d{1,2}\\s+\\w+\\s+\\d{4}):?$/;\nconst PMK_SLASH_RE    = /^([\\d]+)\\/(PMK|UU|PP|PER|KMK|SE)[\\d.]*\\/(\\d{4})/i;\nconst STANDARD_NO_RE  = /(UU|PP|PMK|PER|KMK|SE|PERPPU)\\s*(?:NO\\.?\\s*|NOMOR\\s+)?([\\d.\\/]+)\\s*(?:TAHUN\\s+)?(\\d{4})/i;\nconst CLEANUP_RE      = /^(dengan|diubah|oleh|mencabut|mengubah)\\s+/gi;\n\nfunction normalizeDate(raw) {\n  if (!raw) return null;\n  const m = raw.trim().match(DATE_RE);\n  if (!m) return raw;\n  const month = BULAN_MAP[m[2].toLowerCase().substring(0, 3)];\n  return month ? `${m[3]}-${month}-${m[1].padStart(2, '0')}` : raw;\n}\n\nfunction parseNomor(raw) {\n  const cleaned = (raw || '').replace(CLEANUP_RE, '').trim();\n\n  const slash = cleaned.match(PMK_SLASH_RE);\n  if (slash) {\n    return { doc_type: slash[2].toUpperCase(), doc_number: slash[1], doc_year: slash[3], raw_nomor: cleaned };\n  }\n\n  const std = cleaned.match(STANDARD_NO_RE);\n  if (std) {\n    let num = std[2].replace(/\\/$/, '');\n    if (num.startsWith('.')) {\n      const firstNum = cleaned.match(/^(\\d+)/);\n      if (firstNum) num = firstNum[1];\n    }\n    return { doc_type: std[1].toUpperCase(), doc_number: num, doc_year: std[3], raw_nomor: cleaned };\n  }\n\n  return { doc_type: null, doc_number: null, doc_year: null, raw_nomor: cleaned };\n}\n\nfunction buildEntry(nomor, judul, tanggal) {\n  const cleanJudul = (judul || '')\n    .split(/\\d{1,2}\\s+\\w+\\s+\\d{4}/)[0]\n    .replace(/^tentang\\s+/i, '')\n    .trim();\n  return { ...parseNomor(nomor), judul: cleanJudul, tanggal: normalizeDate(tanggal) };\n}\n\nfunction parseRiwayat(text) {\n  const result = { mencabut: [], diubah_oleh: [], mengubah: [] };\n  let lastTanggal = null;\n\n  for (const line of (text || '').split(/\\r?\\n/).map(l => l.trim()).filter(Boolean)) {\n    const tanggalMatch = line.match(TANGGAL_LINE_RE);\n    if (tanggalMatch) { lastTanggal = tanggalMatch[1]; continue; }\n\n    let type = null;\n    let content = null;\n    if (/^Mengubah\\s+/i.test(line))      { type = 'mengubah';  content = line.match(/^Mengubah\\s+(.+?)\\s+tentang\\s+(.+)$/i); }\n    else if (/^Diubah\\s+/i.test(line))   { type = 'diubah_oleh'; content = line.match(/^Diubah\\s+(?:oleh\\s+)?(.+?)\\s+tentang\\s+(.+)$/i); }\n    else if (/^Mencabut\\s+/i.test(line)) { type = 'mencabut';  content = line.match(/^Mencabut\\s+(.+?)\\s+tentang\\s+(.+)$/i); }\n\n    if (type && content) {\n      result[type].push(buildEntry(content[1], content[2], lastTanggal));\n      lastTanggal = null;\n    }\n  }\n  return result;\n}\n\nconst raw        = $('ParseJDIHURL').first().json;\nconst resRiwayat = parseRiwayat(raw.riwayat_dokumen);\nconst resMengubah = parseRiwayat(raw.mengubah);\n\nlet dicabut_oleh = null;\nif (raw.dicabut_oleh) {\n  const m = raw.dicabut_oleh.match(/^(?:Dicabut\\s+(?:dengan\\s+)?)?(.+?)\\s+tentang\\s+(.+)$/i);\n  dicabut_oleh = m\n    ? buildEntry(m[1], m[2], raw.tanggal_pencabutan)\n    : buildEntry(raw.dicabut_oleh, null, raw.tanggal_pencabutan);\n}\n\nreturn [{\n  json: {\n    source_url:   raw.source_url,\n    status_hukum: raw.status_hukum || null,\n    dicabut_oleh,\n    diubah_oleh:  [...resRiwayat.diubah_oleh, ...resMengubah.diubah_oleh],\n    mencabut:     [...resRiwayat.mencabut, ...resMengubah.mencabut],\n    mengubah:     [...resRiwayat.mengubah, ...resMengubah.mengubah],\n  },\n}];\n"
      },
      "id": "bcc95075-1828-4a80-a326-c31bf656e9a6",
      "name": "Parse Metadata Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        608
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tax_documents\nSET \n  ingestion_status      = 'COMPLETE',\n  total_chunks_ingested = sub.total_ingested,\n  updated_at            = NOW()\nFROM (\n  SELECT \n    COUNT(*) AS total_ingested,\n    source_url\n  FROM tax_documents \n  WHERE source_url = $1\n  GROUP BY source_url\n) AS sub\nWHERE tax_documents.source_url = sub.source_url;",
        "options": {
          "queryReplacement": "={{ [\n  $('ParseJDIHURL').first().json.source_url\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4608,
        352
      ],
      "id": "a1bfc1e4-5f07-4518-b0cb-7b3c5b2676c2",
      "name": "Finalizer",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// NODE: Central Metadata Hub (V14 - Compliance Pass-Through)\n// Fungsi: Konsolidasi metadata dari API JDIH, PDF, HTML, URL, serta\n//         meneruskan analitik anti-penghindaran pajak ke node Upsert.\n//\n// FIXES & UPGRADES:\n// ✅ doc_type   — prioritas ParseJDIHURL (slug), bukan apiJdih.bentuk\n// ✅ doc_number — prioritas ParseJDIHURL (slug), bukan apiJdih.nomor\n// ✅ doc_year   — prioritas ParseJDIHURL (slug), bukan apiJdih.tahun\n// ✅ rawFullText — prioritas PDF, HTML sebagai fallback\n// ✅ [V14] Pass-through fields aman untuk Avoidance Signals & GAAR Exposure\n// ════════════════════════════════════════════════════════════════════════\n\n// --- 1. Helper Functions ---\n\nfunction getSafeNodeData(nodeName) {\n  try {\n    const node = $(nodeName);\n    return node && node.first() ? node.first().json : {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction inferJenisPajak(labels, current, title, docNumber) {\n  if (current && current !== 'Umum') return current;\n\n  const searchStr = [\n    ...(Array.isArray(labels) ? labels : []),\n    (title     || \"\"),\n    (docNumber || \"\")\n  ].join(' ').toUpperCase();\n\n  const rules = [\n    { pattern: /\\bPPH\\b|PAJAK PENGHASILAN/,          value: 'PPh'      },\n    { pattern: /\\bPPN\\b|PERTAMBAHAN NILAI/,            value: 'PPN'      },\n    { pattern: /\\bKUP\\b|KETENTUAN UMUM/,               value: 'KUP'      },\n    { pattern: /\\bCUKAI\\b|BEA MASUK|BEA KELUAR/,      value: 'Bea_Cukai'},\n    { pattern: /\\bPBB\\b|BUMI DAN BANGUNAN/,            value: 'PBB'      },\n    { pattern: /\\bPPNBM\\b|PENJUALAN ATAS BARANG MEWAH/, value: 'PPnBM'  }\n  ];\n\n  const match = rules.find(r => r.pattern.test(searchStr));\n  return match ? match.value : 'Umum';\n}\n\n// --- 2. Data Acquisition ---\n\nconst jdihUrl      = getSafeNodeData('ParseJDIHURL');\nconst jdihData     = getSafeNodeData('ParseJDIHResponse');\nconst extractPdf   = getSafeNodeData('ExtractPDF');\nconst extractHtml  = getSafeNodeData('ExtractHTML');\nconst apiJdihFull  = getSafeNodeData('GetAPIDataJDIH');\n\n// [V14 Extractions] Menggunakan helper agar aman dari error runtime jika node kosong\nconst semanticAnalyzer = getSafeNodeData('Semantic Analyzer');\nconst domainScoring    = getSafeNodeData('Domain Scoring Engine');\n\nconst apiJdih = apiJdihFull?.data?.[0] || {};\n\n// --- 3. Identitas Dokumen (Source of Truth: ParseJDIHURL) ---\n//\n// ParseJDIHURL mem-parse slug URL JDIH dengan TYPE_MAP yang sudah benar:\n//   uu-7-tahun-2021      → docType=\"UU\",  docNumber=\"7\",  docYear=\"2021\"\n//   pmk-28-tahun-2026    → docType=\"PMK\", docNumber=\"28\", docYear=\"2026\"\n//\n// apiJdih.bentuk = \"Peraturan Menteri\" → JANGAN dipakai untuk doc_type\n// apiJdih.nomor  = \"PMK 28 TAHUN 2026\" → JANGAN dipakai untuk doc_number\n\nconst docType   = jdihUrl.docType   || jdihData.doc_type   || null;\nconst docNumber = jdihUrl.docNumber || jdihData.doc_number  || null;\nconst docYear   = jdihUrl.docYear   || jdihData.doc_year    || null;\n\n// --- 4. Text Selection (Prioritas: PDF → HTML → kosong) ---\n//\n// PDF diprioritaskan karena jalur HTML tidak selalu dijalankan.\n// Kalau kedua-duanya ada, PDF lebih reliable untuk dokumen hukum.\n\nconst rawFullText = (\n  extractPdf.text  ||\n  extractHtml.text ||\n  \"\"\n).trim();\n\nif (!rawFullText || rawFullText.length < 100) {\n  throw new Error(\n    `[MetadataHub] GAGAL: Tidak ada teks yang bisa diekstrak untuk ` +\n    `${docType} ${docNumber}/${docYear}. ` +\n    `ExtractPDF.text=\"${(extractPdf.text || '').slice(0, 50)}\", ` +\n    `ExtractHTML.text=\"${(extractHtml.text || '').slice(0, 50)}\"`\n  );\n}\n\n// --- 5. Metadata Construction ---\n\nconst metadata = {\n\n  // ── Identitas Primer ────────────────────────────────────────────────\n  // Sumber: ParseJDIHURL (slug) — format selalu konsisten\n  doc_id:     apiJdih.produk_hukum_id || jdihData.id || null,\n  doc_type:   docType,    // \"UU\" | \"PMK\" | \"PP\" | \"PER\" | \"KMK\" | \"SE\"\n  doc_number: docNumber,  // \"7\" | \"28\" dst — angka saja, bukan full label\n  doc_year:   docYear,    // \"2021\" | \"2026\" dst\n\n  // ── Judul & Abstrak ─────────────────────────────────────────────────\n  // Sumber: API JDIH (lebih lengkap dan akurat)\n  doc_title:   apiJdih.judul   || jdihData.doc_title  || extractPdf.title || \"\",\n  abstrak_raw: apiJdih.abstrak || jdihData.abstrak_raw || null,\n  doc_keywords: Array.isArray(apiJdih.label)\n    ? apiJdih.label\n    : (jdihData.doc_keywords || []),\n\n  // ── Klasifikasi ─────────────────────────────────────────────────────\n  jenis_pajak: inferJenisPajak(\n    apiJdih.label,\n    jdihUrl.jenis_pajak,    // dari Google Sheet (input user) — prioritas tertinggi\n    apiJdih.judul,\n    docNumber\n  ),\n  status_hukum: (\n    apiJdih.status        ||\n    jdihData.status_hukum ||\n    jdihUrl.status_hukum  ||\n    'BERLAKU'\n  ).toUpperCase(),\n  doc_category: 'Umum',\n\n  // ── Relasi & Riwayat ────────────────────────────────────────────────\n  riwayat_dokumen: jdihData.riwayat_dokumen || jdihUrl.riwayat_dokumen || null,\n  mencabut:        jdihUrl.mencabut         || jdihData.mencabut        || [],\n  diubah_oleh:      jdihUrl.diubah_oleh      || jdihData.diubah_oleh     || [],\n  mengubah:        jdihUrl.mengubah         || jdihData.mengubah         || [],\n  dicabut_oleh:    jdihUrl.dicabut_oleh     || jdihData.dicabut_oleh     || null,\n\n  // ── Tanggal & URL ───────────────────────────────────────────────────\n  tanggal_penetapan: apiJdih.tanggal_penetapan || jdihData.tanggal_penetapan || null,\n  source_url:        jdihUrl.source_url         || jdihData.source_url        || null,\n\n  // ── Flags ───────────────────────────────────────────────────────────\n  is_consolidated: !!apiJdih.konsolidasi,\n  _data_source:    extractPdf.text ? 'JDIH_PDF' : (extractHtml.text ? 'JDIH_HTM' : 'UNKNOWN'),\n  processed_at:    new Date().toISOString(),\n\n  // ── Debug (hapus setelah stable) ────────────────────────────────────\n  _debug: {\n    apiJdih_bentuk: apiJdih.bentuk || null,   // \"Peraturan Menteri\" — intentionally NOT used\n    apiJdih_nomor:  apiJdih.nomor  || null,   // \"PMK 28 TAHUN 2026\" — intentionally NOT used\n    slug_docType:   jdihUrl.docType   || null,\n    slug_docNumber: jdihUrl.docNumber || null,\n    text_source:    extractPdf.text ? 'PDF' : (extractHtml.text ? 'HTML' : 'NONE'),\n    text_length:    rawFullText.length,\n  }\n};\n\n// --- 6. Return Output ---\n\nreturn [{\n  json: {\n    raw_full_text: rawFullText,\n    metadata:      metadata,\n    source_url:    metadata.source_url,\n\n    // ── [V14] Avoidance fields — Pass-through dari Semantic Analyzer & Domain Scoring ──\n    avoidance_signals:        semanticAnalyzer.avoidance_signals        || null,\n    thresholds:               semanticAnalyzer.thresholds               || null,\n    exception_refs:           semanticAnalyzer.exception_refs           || null,\n    applicable_entity_types:  semanticAnalyzer.applicable_entity_types  || null,\n    gaar_exposure_level:      domainScoring.gaar_exposure_level         || null,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        176
      ],
      "id": "2d56871e-f826-4443-af57-16b93dc21e44",
      "name": "MetadataHub"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// METADATA ENRICHER — V4 MULTI-LABEL SEMANTIC TYPES\n// FIX-2: semantic_type sekarang ARRAY (multi-label), bukan single string.\n// Satu pasal bisa sekaligus 'obligation' + 'sanction' + 'timeline'.\n// ════════════════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ───────────────────────────────────────────────────────────────────────\n// REGEX\n// ───────────────────────────────────────────────────────────────────────\n\nconst AYAT_RE          = /ayat\\s*\\((\\d+)\\)/gi;\nconst PASAL_REF_RE     = /Pasal\\s+(\\d+[A-Z]?)/gi;\nconst HURUF_RE         = /huruf\\s+([a-z])/gi;\n\nconst DEFINISI_RE      = /yang\\s+selanjutnya\\s+disebut|yang\\s+dimaksud\\s+dengan|adalah/i;\nconst SANKSI_RE        = /dikenai\\s+sanksi|sanksi\\s+administratif|dipidana|pidana|denda/i;\nconst KEWAJIBAN_RE     = /\\bwajib\\b|\\bharus\\b|berkewajiban/i;\nconst LARANGAN_RE      = /\\bdilarang\\b|tidak\\s+boleh/i;\nconst PENGECUALIAN_RE  = /dikecualikan|kecuali(?!\\s+itu)|selain\\s+(?:hal|dalam)/i;\nconst PROSEDUR_RE      = /permohonan|pengajuan|pelaporan|pendaftaran|penyampaian/i;\nconst BATAS_WAKTU_RE   = /paling\\s+lambat|jangka\\s+waktu|paling\\s+lama|paling\\s+singkat/i;\n\n// ───────────────────────────────────────────────────────────────────────\n// HELPERS\n// ───────────────────────────────────────────────────────────────────────\n\nfunction unique(arr) { return [...new Set(arr)]; }\n\nfunction extractAyat(text) {\n  const results = []; let m;\n  while ((m = AYAT_RE.exec(text)) !== null) results.push(`ayat (${m[1]})`);\n  return unique(results);\n}\n\nfunction extractPasalRefs(text, selfPasalNumber) {\n  const results = []; let m;\n  while ((m = PASAL_REF_RE.exec(text)) !== null) results.push(`Pasal ${m[1]}`);\n  const all = unique(results);\n  // FIX-B: buang self-reference (header pasal itu sendiri)\n  return selfPasalNumber\n    ? all.filter(ref => ref !== selfPasalNumber)\n    : all;\n}\n\nfunction extractHuruf(text) {\n  const results = []; let m;\n  while ((m = HURUF_RE.exec(text)) !== null) results.push(`huruf ${m[1]}`);\n  return unique(results);\n}\n\n// FIX-2: Multi-label — evaluasi SEMUA kondisi, hasilkan array.\n// Tidak ada early return; setiap flag independen.\nfunction detectSemanticTypes(text, pasalNumber) {\n  const types = [];\n  const lower = text.toLowerCase();\n\n  // Definisi: Pasal 1 atau pola umum\n  if (\n    (pasalNumber === 'Pasal 1' && (lower.includes('adalah') || lower.includes('yang dimaksud'))) ||\n    DEFINISI_RE.test(text)\n  ) {\n    types.push('definition');\n  }\n\n  if (SANKSI_RE.test(text))       types.push('sanction');\n  if (LARANGAN_RE.test(text))     types.push('prohibition');\n  if (KEWAJIBAN_RE.test(text))    types.push('obligation');\n  if (PENGECUALIAN_RE.test(text)) types.push('exception');\n  if (PROSEDUR_RE.test(text))     types.push('procedure');\n  if (BATAS_WAKTU_RE.test(text))  types.push('timeline');\n\n  return types.length > 0 ? unique(types) : ['general'];\n}\n\n// Boost dihitung dari semua tipe yang terdeteksi (kumulatif, max 2.0)\nconst BOOST_MAP = {\n  definition:  0.25,\n  sanction:    0.30,\n  obligation:  0.20,\n  prohibition: 0.20,\n  exception:   0.15,\n  timeline:    0.10,\n};\n\nfunction calculateRetrievalBoost(semanticTypes, text) {\n  let boost = 1.0;\n  for (const t of semanticTypes) {\n    boost += (BOOST_MAP[t] || 0);\n  }\n  // Extra boost jika banyak referensi silang\n  if (extractPasalRefs(text).length >= 3) boost += 0.10;\n  return Number(Math.min(boost, 2.0).toFixed(2));\n}\n\nfunction generateMiniSummary(text) {\n  const cleaned = text.replace(/\\n+/g, ' ').replace(/\\s+/g, ' ').trim();\n  return cleaned.length <= 220 ? cleaned : cleaned.slice(0, 220) + '...';\n}\n\n// ───────────────────────────────────────────────────────────────────────\n// MAIN\n// ───────────────────────────────────────────────────────────────────────\n\nreturn items.map(item => {\n  const json = item.json;\n  const text = json.chunk_text || '';\n\n  const semanticTypes   = detectSemanticTypes(text, json.pasal_number);\n  // FIX-B: pass pasal_number agar self-reference difilter\n  const outgoingRefs    = extractPasalRefs(text, json.pasal_number);\n  const ayatNumbers     = extractAyat(text);\n  const hurufRefs       = extractHuruf(text);\n  const retrievalBoost  = calculateRetrievalBoost(semanticTypes, text);\n\n  // Untuk backward compat: semantic_type (string) = tipe prioritas tertinggi\n  const PRIORITY_ORDER  = ['sanction','prohibition','obligation','definition','exception','procedure','timeline','general'];\n  const primaryType     = PRIORITY_ORDER.find(t => semanticTypes.includes(t)) || semanticTypes[0];\n\n  return {\n    json: {\n      ...json,\n\n      // FIX-2: multi-label array (field baru)\n      semantic_types:       semanticTypes,\n      // backward compat: string untuk node downstream yang pakai semantic_type\n      semantic_type:        primaryType,\n\n      // Boolean flags — sekarang berdasarkan array\n      contains_definition:  semanticTypes.includes('definition'),\n      contains_sanction:    semanticTypes.includes('sanction'),\n      contains_exception:   semanticTypes.includes('exception'),\n      contains_obligation:  semanticTypes.includes('obligation'),\n      contains_prohibition: semanticTypes.includes('prohibition'),\n      contains_procedure:   semanticTypes.includes('procedure'),\n      contains_timeline:    semanticTypes.includes('timeline'),\n\n      outgoing_references:  outgoingRefs,\n      ayat_numbers:         ayatNumbers,\n      huruf_references:     hurufRefs,\n\n      hierarchy_level:      'pasal_chunk',\n      retrieval_boost:      retrievalBoost,\n      chunk_summary:        generateMiniSummary(text),\n      metadata_enriched_at: new Date().toISOString(),\n    }\n  };\n});"
      },
      "id": "461b3982-ce6c-4d69-8720-a04ec71792f9",
      "name": "Metadata Enricher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// SEMANTIC ANALYZER — V7 ENTERPRISE (COMPLIANCE & LEAK DETECTION)\n//\n// FIXES & UPGRADES:\n// ✅ All V6 Fixes (Hierarchy-safe, Definition priority, Token estimation)\n// ✅ V7 Added: Avoidance Signal Detector (Celah Hukum)\n// ✅ V7 Added: Threshold Extractor (Rupiah, Persen, Hari, UMKM, DER)\n// ✅ V7 Added: Applicable Entity Extractor (PT, CV, Perorangan, dll)\n// ✅ Safe-guarding: Pencegahan error jika chunk_text kosong\n// ════════════════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ════════════════════════════════════════\n// HELPERS\n// ════════════════════════════════════════\n\nfunction hasAny(text='', patterns=[]) {\n  return patterns.some(p => p.test(text));\n}\n\nfunction estimateTokens(text='') {\n  return Math.ceil(text.length / 4);\n}\n\n// ════════════════════════════════════════\n// NORMALIZE HIERARCHY\n// ════════════════════════════════════════\n\nfunction normalizeHierarchy(j) {\n  // definition chunks MUST stay definition_item\n  if (\n    j.ast_type === 'DEFINITION' ||\n    j.is_definition_chunk === true\n  ) {\n    return 'definition_item';\n  }\n\n  // ayat\n  if (\n    j.hierarchy_level === 'ayat'\n  ) {\n    return 'ayat';\n  }\n\n  // default\n  return 'pasal_chunk';\n}\n\n// ════════════════════════════════════════\n// TIMELINE DETECTOR\n// ════════════════════════════════════════\n\nfunction detectTimeline(text='') {\n  const t = text.toLowerCase();\n  const legalReferenceOnly =\n    /undang-undang nomor\\s+\\d+\\s+tahun\\s+\\d{4}/i.test(t);\n\n  if (legalReferenceOnly) {\n    const proceduralTimeline =\n      hasAny(t, [\n        /jangka waktu/i,\n        /hari kerja/i,\n        /dalam waktu/i,\n        /paling lama/i,\n        /terhitung sejak/i,\n        /jatuh tempo/i,\n        /sebelum tanggal/i,\n        /setelah tanggal/i,\n        /\\d+\\s+hari/i,\n        /\\d+\\s+bulan/i\n      ]);\n\n    return proceduralTimeline;\n  }\n\n  return hasAny(t, [\n    /jangka waktu/i,\n    /hari kerja/i,\n    /dalam waktu/i,\n    /paling lama/i,\n    /terhitung sejak/i,\n    /jatuh tempo/i,\n    /sebelum tanggal/i,\n    /setelah tanggal/i,\n    /\\d+\\s+hari/i,\n    /\\d+\\s+bulan/i,\n    /\\d+\\s+tahun pajak/i\n  ]);\n}\n\n// ════════════════════════════════════════\n// SEMANTIC ANALYZER\n// ════════════════════════════════════════\n\nfunction analyzeSemantic(j) {\n  const text = (j.chunk_text || '').toLowerCase();\n  const semanticTypes = [];\n  const isDefinition =\n    j.ast_type === 'DEFINITION' ||\n    j.is_definition_chunk === true;\n\n  // DEFINITIONS HAVE PRIORITY\n  if (isDefinition) {\n    semanticTypes.push('definition');\n    return semanticTypes;\n  }\n\n  // obligation\n  if (\n    hasAny(text, [\n      /wajib/i,\n      /harus/i\n    ])\n  ) {\n    semanticTypes.push('obligation');\n  }\n\n  // prohibition\n  if (\n    hasAny(text, [\n      /dilarang/i,\n      /tidak boleh/i\n    ])\n  ) {\n    semanticTypes.push('prohibition');\n  }\n\n  // sanction\n  if (\n    hasAny(text, [\n      /sanksi/i,\n      /pidana/i,\n      /denda/i\n    ])\n  ) {\n    semanticTypes.push('sanction');\n  }\n\n  // procedure\n  if (\n    hasAny(text, [\n      /permohonan/i,\n      /pengajuan/i,\n      /ditetapkan/i,\n      /menerbitkan/i\n    ])\n  ) {\n    semanticTypes.push('procedure');\n  }\n\n  // exception\n  if (\n    hasAny(text, [\n      /dikecualikan/i,\n      /kecuali/i\n    ])\n  ) {\n    semanticTypes.push('exception');\n  }\n\n  // timeline\n  if (\n    detectTimeline(text)\n  ) {\n    semanticTypes.push('timeline');\n  }\n\n  return semanticTypes;\n}\n\n// ════════════════════════════════════════\n// AVOIDANCE SIGNAL DETECTOR (V7 Upgrade)\n// Deteksi pola celah hukum pada teks pasal\n// ════════════════════════════════════════\n\nfunction detectAvoidanceSignals(text) {\n  const t = text.toLowerCase();\n  const signals = {};\n\n  // --- Threshold Arbitrage ---\n  const thresholdPatterns = [\n    /paling tinggi\\s+rp[\\s.]*([\\d.,]+)/gi,\n    /tidak melebihi\\s+rp[\\s.]*([\\d.,]+)/gi,\n    /paling banyak\\s+rp[\\s.]*([\\d.,]+)/gi,\n    /kurang dari\\s+rp[\\s.]*([\\d.,]+)/gi,\n    /tidak lebih dari\\s+rp[\\s.]*([\\d.,]+)/gi,\n    /sampai dengan\\s+rp[\\s.]*([\\d.,]+)/gi,\n    /omzet[\\s\\w]*tidak melebihi/gi,\n    /peredaran bruto[\\s\\w]*tidak melebihi/gi,\n    /\\b4[\\.,]8\\s*miliar\\b/gi,\n    /\\b4\\.800\\.000\\.000\\b/gi,\n  ];\n  signals.threshold_arbitrage = thresholdPatterns.some(p => p.test(t));\n\n  // --- Exception Clause ---\n  const exceptionPatterns = [\n    /dikecualikan dari/gi,\n    /tidak dikenakan/gi,\n    /tidak termasuk/gi,\n    /sepanjang memenuhi/gi,\n    /dengan syarat/gi,\n    /kecuali[\\s\\w]*yang/gi,\n    /tidak berlaku bagi/gi,\n    /dibebaskan dari/gi,\n    /mendapat fasilitas/gi,\n    /tidak dikenai pajak/gi,\n    /bukan objek pajak/gi,\n  ];\n  signals.exception_clause = exceptionPatterns.some(p => p.test(t));\n\n  // --- Entity Type Exception ---\n  const entityPatterns = [\n    /badan usaha milik negara/gi,\n    /\\bbumn\\b/gi,\n    /usaha mikro/gi,\n    /usaha kecil/gi,\n    /koperasi[\\s\\w]*yang/gi,\n    /yayasan[\\s\\w]*yang/gi,\n    /wajib pajak badan/gi,\n    /orang pribadi/gi,\n    /wajib pajak luar negeri/gi,\n    /bentuk usaha tetap/gi,\n    /\\bbut\\b/gi,\n  ];\n  signals.entity_type_exception = entityPatterns.some(p => p.test(t));\n\n  // --- Timing Window ---\n  const timingPatterns = [\n    /masa transisi/gi,\n    /berlaku sampai dengan/gi,\n    /paling lama[\\s\\w]*tahun/gi,\n    /dalam jangka waktu[\\s\\w]*tahun/gi,\n    /sebelum[\\s\\w]*berlaku/gi,\n    /mulai berlaku pada/gi,\n    /sejak[\\s\\w]*diundangkan/gi,\n    /ketentuan lama/gi,\n  ];\n  signals.timing_window = timingPatterns.some(p => p.test(t));\n\n  // --- Cross Border Gap ---\n  const crossBorderPatterns = [\n    /perjanjian penghindaran pajak berganda/gi,\n    /\\bp3b\\b/gi,\n    /tax treaty/gi,\n    /luar negeri/gi,\n    /bersumber dari luar negeri/gi,\n    /hubungan istimewa/gi,\n    /transfer pricing/gi,\n    /harga transfer/gi,\n    /deemed dividend/gi,\n    /controlled foreign/gi,\n    /\\bcfc\\b/gi,\n  ];\n  signals.cross_border_gap = crossBorderPatterns.some(p => p.test(t));\n\n  // --- Rate Differential ---\n  const ratePatterns = [\n    /tarif[\\s\\w]*lebih rendah/gi,\n    /tarif[\\s\\w]*\\d+%/gi,\n    /tarif final/gi,\n    /dikenakan tarif/gi,\n    /0%|nol persen/gi,\n    /tarif khusus/gi,\n    /tarif pajak ditanggung pemerintah/gi,\n    /\\bdtp\\b/gi,\n  ];\n  signals.rate_differential = ratePatterns.some(p => p.test(t));\n\n  const hasAnySignal = Object.values(signals).some(v => v === true);\n  return hasAnySignal ? signals : null;\n}\n\n// ════════════════════════════════════════\n// THRESHOLD EXTRACTOR (V7 Upgrade)\n// Ekstrak angka threshold aktual dari teks\n// ════════════════════════════════════════\n\nfunction extractThresholds(text) {\n  const thresholds = {};\n\n  // Ekstrak nilai Rupiah\n  const rupiahRe = /(?:rp\\.?\\s*|rupiah\\s*)([\\d.,]+(?:\\s*(?:juta|miliar|triliun))?)/gi;\n  const rupiahMatches = [...text.matchAll(rupiahRe)];\n  if (rupiahMatches.length > 0) {\n    thresholds.nilai_rupiah = rupiahMatches.map(m => m[0].trim()).slice(0, 5);\n  }\n\n  // Ekstrak persentase tarif\n  const pctRe = /(\\d+(?:[.,]\\d+)?)\\s*%/g;\n  const pctMatches = [...text.matchAll(pctRe)];\n  if (pctMatches.length > 0) {\n    thresholds.tarif_persen = [...new Set(pctMatches.map(m => parseFloat(m[1])))].slice(0, 5);\n  }\n\n  // Ekstrak batas hari\n  const hariRe = /(\\d+)\\s*hari(?:\\s*kerja)?/gi;\n  const hariMatches = [...text.matchAll(hariRe)];\n  if (hariMatches.length > 0) {\n    thresholds.batas_hari = hariMatches.map(m => parseInt(m[1])).slice(0, 3);\n  }\n\n  // Flag PP 23/2018 UMKM secara khusus\n  if (/4[\\.,]8\\s*miliar|4\\.800\\.000\\.000/.test(text)) {\n    thresholds.umkm_threshold = 4800000000;\n  }\n\n  // Flag thin cap DER 4:1\n  if (/4\\s*:\\s*1|debt.{1,20}equity\\s*ratio/i.test(text)) {\n    thresholds.der_max = 4;\n  }\n\n  return Object.keys(thresholds).length > 0 ? thresholds : null;\n}\n\n// ════════════════════════════════════════\n// APPLICABLE ENTITY EXTRACTOR (V7 Upgrade)\n// Tentukan jenis entitas yang relevan\n// ════════════════════════════════════════\n\nfunction extractApplicableEntities(text) {\n  const t = text.toUpperCase();\n  const entities = [];\n\n  if (/\\bPT\\b|PERSEROAN TERBATAS/.test(t)) entities.push('PT');\n  if (/\\bCV\\b|COMMANDITAIRE VENNOOTSCHAP|PERSEKUTUAN KOMANDITER/.test(t)) entities.push('CV');\n  if (/USAHA DAGANG|PERUSAHAAN PERSEORANGAN/.test(t)) entities.push('UD');\n  if (/ORANG PRIBADI|WAJIB PAJAK ORANG/.test(t)) entities.push('Perorangan');\n  if (/BENTUK USAHA TETAP|\\bBUT\\b/.test(t)) entities.push('BUT');\n  if (/KOPERASI/.test(t)) entities.push('Koperasi');\n  if (/YAYASAN/.test(t)) entities.push('Yayasan');\n  if (/BADAN USAHA MILIK NEGARA|\\bBUMN\\b/.test(t)) entities.push('BUMN');\n  if (/USAHA MIKRO|USAHA KECIL|USAHA MENENGAH|\\bUMKM\\b/.test(t)) entities.push('UMKM');\n\n  return entities.length > 0 ? entities : ['SEMUA'];\n}\n\n// ════════════════════════════════════════\n// MAIN EXECUTOR\n// ════════════════════════════════════════\n\nreturn items.map(item => {\n  const j = item.json;\n  const chunkText = j.chunk_text || '';\n\n  // 1. Jalankan modul analisa semantic lama (V6)\n  const semanticTypes = analyzeSemantic(j);\n  const semanticType = semanticTypes[0] || 'general';\n  const normalizedHierarchy = normalizeHierarchy(j);\n\n  // 2. Hitung retrieval boost (V6)\n  let retrievalBoost = 1.0;\n  if (semanticTypes.includes('definition')) retrievalBoost += 0.7;\n  if (semanticTypes.includes('sanction'))   retrievalBoost += 0.5;\n  if (semanticTypes.includes('procedure'))  retrievalBoost += 0.4;\n\n  // 3. Ekstrak entitas hukum reguler (V6)\n  const legalEntities = chunkText.match(/Undang-Undang Nomor\\s+\\d+\\s+Tahun\\s+\\d{4}/gi) || [];\n\n  // 4. Integrasi Analitik Celah Hukum Baru (V7)\n  const avoidanceSignals     = detectAvoidanceSignals(chunkText);\n  const thresholds           = extractThresholds(chunkText);\n  const applicableEntityTypes = extractApplicableEntities(chunkText);\n\n  // 5. Kembalikan gabungan payload utuh\n  return {\n    json: {\n      ...j,\n\n      // Metadata Hierarki & Klasifikasi Utama (V6)\n      hierarchy_level: normalizedHierarchy,\n      semantic_types: semanticTypes,\n      semantic_type: semanticType,\n      \n      // Flags Boolean Semantic (V6)\n      contains_definition: semanticTypes.includes('definition'),\n      contains_sanction: semanticTypes.includes('sanction'),\n      contains_exception: semanticTypes.includes('exception'),\n      contains_obligation: semanticTypes.includes('obligation'),\n      contains_prohibition: semanticTypes.includes('prohibition'),\n      contains_procedure: semanticTypes.includes('procedure'),\n      contains_timeline: semanticTypes.includes('timeline'),\n      \n      // Pembobotan Vector Search (V6)\n      retrieval_boost: retrievalBoost,\n      semantic_importance: retrievalBoost,\n      legal_entities: legalEntities,\n      semantic_token_estimate: estimateTokens(chunkText),\n      \n      // Data Ekstraksi Celah Hukum Baru (V7)\n      avoidance_signals: avoidanceSignals,\n      thresholds: thresholds,\n      applicable_entity_types: applicableEntityTypes,\n      \n      // Versioning & Timestamp\n      semantic_analyzer_version: 'v7_compliance_leak_detection',\n      semantic_analyzed_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "c81cc98e-2583-41a1-bf33-0ce55e4c80db",
      "name": "Semantic Analyzer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Domain Scoring Engine — V3 (Advanced Tax Domains & GAAR Upgrade)\n// For n8n Code Node\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ───────────────────────────────────────────────────────────────\n// DOMAIN PATTERNS (V3 Extended)\n// ───────────────────────────────────────────────────────────────\nconst DOMAIN_PATTERNS = {\n\n  PPh: [\n    /Pajak Penghasilan/gi,\n    /\\bPPh\\b/gi,\n    /Pasal\\s+21/gi,\n    /Pasal\\s+22/gi,\n    /Pasal\\s+23/gi,\n    /Pasal\\s+25/gi,\n    /Pasal\\s+26/gi,\n    /Pasal\\s+29/gi,\n  ],\n\n  PPN: [\n    /Pajak Pertambahan Nilai/gi,\n    /\\bPPN\\b/gi,\n  ],\n\n  PPnBM: [\n    /\\bPPnBM\\b/gi,\n    /Pajak Penjualan atas Barang Mewah/gi,\n  ],\n\n  \"Bea Meterai\": [\n    /Bea Meterai/gi,\n  ],\n\n  PBB: [\n    /Pajak Bumi dan Bangunan/gi,\n    /\\bPBB\\b/gi,\n  ],\n\n  KUP: [\n    /Ketentuan Umum dan Tata Cara Perpajakan/gi,\n    /\\bKUP\\b/gi,\n  ],\n\n  Cukai: [\n    /Cukai/gi,\n  ],\n\n  \"Pajak Karbon\": [\n    /Pajak Karbon/gi,\n  ],\n\n  // --- Tambahan Domain Baru V3 ---\n  TRANSFER_PRICING: [\n    /transfer pricing/gi,\n    /harga transfer/gi,\n    /hubungan istimewa/gi,\n    /arm.{1,5}length/gi,\n    /prinsip kewajaran/gi,\n    /dokumen transfer pricing/gi,\n    /country.{1,10}country reporting/gi,\n    /\\bcbcr\\b/gi,\n    /advance pricing agreement/gi,\n    /\\bapa\\b/gi,\n  ],\n\n  P3B: [\n    /perjanjian penghindaran pajak berganda/gi,\n    /\\bp3b\\b/gi,\n    /tax treaty/gi,\n    /bentuk usaha tetap/gi,\n    /\\bbut\\b/gi,\n    /controlled foreign corporation/gi,\n    /\\bcfc\\b/gi,\n    /deemed dividend/gi,\n  ],\n\n  GAAR: [\n    /ketentuan anti penghindaran/gi,\n    /general anti.avoidance/gi,\n    /\\bgaar\\b/gi,\n    /substansi ekonomi/gi,\n    /economic substance/gi,\n    /rekarakterisasi/gi,\n    /penyalahgunaan perjanjian/gi,\n    /treaty abuse/gi,\n    /pasal 18/gi,\n  ],\n\n  TAX_FACILITY: [\n    /fasilitas pajak/gi,\n    /tax holiday/gi,\n    /pembebasan pajak/gi,\n    /pengurangan pajak/gi,\n    /insentif pajak/gi,\n    /kawasan ekonomi khusus/gi,\n    /\\bkek\\b/gi,\n    /kawasan berikat/gi,\n    /\\bkib\\b/gi,\n    /kemudahan investasi/gi,\n  ]\n};\n\n// ───────────────────────────────────────────────────────────────\n// HELPERS\n// ───────────────────────────────────────────────────────────────\nfunction countMatches(text, regex) {\n  const matches = text.match(regex);\n  return matches ? matches.length : 0;\n}\n\nfunction detectDomainScores(text) {\n  const scores = {};\n\n  for (const [domain, patterns] of Object.entries(DOMAIN_PATTERNS)) {\n    let score = 0;\n    for (const pattern of patterns) {\n      score += countMatches(text, pattern);\n    }\n    scores[domain] = score;\n  }\n\n  return scores;\n}\n\n// ───────────────────────────────────────────────────────────────\n// PRIMARY DOMAIN\n// ───────────────────────────────────────────────────────────────\nfunction getPrimaryDomain(scores) {\n  const sorted = Object.entries(scores)\n    .filter(([_, score]) => score > 0)\n    .sort((a, b) => b[1] - a[1]);\n\n  if (!sorted.length) {\n    return 'UMUM';\n  }\n\n  // Hanya MULTI_DOMAIN jika benar-benar identik\n  if (\n    sorted.length > 1 &&\n    sorted[0][1] === sorted[1][1]\n  ) {\n    return 'MULTI_DOMAIN';\n  }\n\n  return sorted[0][0];\n}\n\n// ───────────────────────────────────────────────────────────────\n// SECONDARY DOMAINS\n// ───────────────────────────────────────────────────────────────\nfunction getSecondaryDomains(scores, primary) {\n  return Object.entries(scores)\n    .filter(([domain, score]) =>\n      score > 0 &&\n      domain !== primary\n    )\n    .map(([domain]) => domain);\n}\n\n// ───────────────────────────────────────────────────────────────\n// CONFIDENCE\n// ───────────────────────────────────────────────────────────────\nfunction calculateConfidence(scores) {\n  const values = Object.values(scores)\n    .filter(v => v > 0)\n    .sort((a, b) => b - a);\n\n  if (values.length === 0) return 0;\n  if (values.length === 1) return 1;\n\n  const top = values[0];\n  const second = values[1];\n\n  return Number(\n    (top / (top + second)).toFixed(2)\n  );\n}\n\n// ───────────────────────────────────────────────────────────────\n// RISK ASSESSMENT HELPER (V3 Upgrade)\n// ───────────────────────────────────────────────────────────────\nfunction assessGaarExposure(j) {\n  const signals = j.avoidance_signals || {};\n  const domain  = j.primary_domain || '';\n\n  // Exposure tinggi jika menyentuh GAAR/TP domain atau cross-border\n  if (\n    domain === 'GAAR' ||\n    domain === 'TRANSFER_PRICING' ||\n    signals.cross_border_gap === true\n  ) return 'HIGH';\n\n  // Exposure sedang jika ada exception/timing/rate game\n  if (\n    signals.exception_clause === true ||\n    signals.timing_window === true ||\n    signals.rate_differential === true\n  ) return 'MEDIUM';\n\n  // Exposure rendah jika hanya threshold biasa\n  if (signals.threshold_arbitrage === true) return 'LOW';\n\n  return null;\n}\n\n// ───────────────────────────────────────────────────────────────\n// EXECUTION\n// ───────────────────────────────────────────────────────────────\nreturn items.map(item => {\n  const json = item.json;\n\n  // Gabungkan semua text semantic\n  const text = `\n${json.chunk_text || ''}\n${json.chunk_summary || ''}\n${(json.legal_concept_tags || []).join(' ')}\n${json.doc_title || ''}\n`;\n\n  // 1. Hitung Domain Score\n  const domainScores = detectDomainScores(text);\n\n  // 2. Tentukan Primary Domain\n  const primaryDomain = getPrimaryDomain(domainScores);\n\n  // 3. Tentukan Secondary Domains\n  const secondaryDomains = getSecondaryDomains(domainScores, primaryDomain);\n\n  // 4. Ekstrak Semua Domain Tags aktif\n  const domainTags = Object.entries(domainScores)\n    .filter(([_, score]) => score > 0)\n    .map(([domain]) => domain);\n\n  // 5. Hitung Tingkat Confidence\n  const confidence = calculateConfidence(domainScores);\n\n  // 6. Evaluasi GAAR Exposure Level (Menggunakan data pendukung dari payload json)\n  const gaarExposureLevel = assessGaarExposure({\n    avoidance_signals: json.avoidance_signals,\n    primary_domain: primaryDomain\n  });\n\n  // 7. Kembalikan Payload Akhir\n  return {\n    json: {\n      ...json,\n      domain_scores: domainScores,\n      primary_domain: primaryDomain,\n      secondary_domains: secondaryDomains,\n      domain_tags: domainTags,\n      domain_confidence: confidence,\n      gaar_exposure_level: gaarExposureLevel, // Field baru V3\n      domain_scored_at: new Date().toISOString(),\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        176
      ],
      "id": "3eb23020-bd26-456f-8788-c60261f213c8",
      "name": "Domain Scoring Engine"
    },
    {
      "parameters": {
        "jsCode": "const failedChunks = [];\n\nfor (const item of items) {\n\n  const data = item.json;\n\n  failedChunks.push({\n    failed_at: new Date().toISOString(),\n\n    relational_id: data.relational_id || null,\n    pasal_number: data.pasal_number || null,\n\n    quality_score: data.quality_score || 0,\n\n    quality_flags: data.quality_flags || [],\n\n    primary_domain: data.primary_domain || null,\n\n    chunk_preview: (data.chunk_text || \"\")\n      .substring(0, 300),\n\n    total_characters: (data.chunk_text || \"\").length\n  });\n}\n\nreturn failedChunks.map(x => ({\n  json: x\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        752
      ],
      "id": "013b9cf5-58d3-4074-a8ba-ac626cdb17eb",
      "name": "Invalid Chunk Logger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5cb88b59-5dea-4e7a-9711-151b2d66412d",
              "leftValue": "={{ $json.embedding_ready }}",
              "rightValue": 0.6,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e1592d9-c6f2-4707-8607-fc14bc3ce724",
      "name": "Quality check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2960,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// QUALITY GATE — V2\n// FIX-4: Tambah flag INCOMPLETE_ARTICLE untuk mendeteksi pasal terpotong.\n//        Scoring disesuaikan dengan multi-label semantic_types.\n// ════════════════════════════════════════════════════════════════════════\n\nconst results = [];\n\n// Pola akhiran pasal yang lengkap secara hukum\nconst VALID_ENDINGS_RE  = /[.;]\\s*$/;\n// Header pasal (indikasi ada judul tapi konten bisa terpotong)\nconst PASAL_HEADER_RE   = /^#{1,3}\\s+Pasal\\s+\\d+[A-Z]?/m;\n// Ayat atau huruf di akhir chunk (tanda masih ada lanjutan)\nconst DANGLING_LIST_RE  = /\\b(?:huruf|angka)\\s+[a-z]\\s*[;:]?\\s*$/i;\n\nfunction isIncompleteArticle(text) {\n  // Heuristik 1: ada header Pasal tapi tidak diakhiri tanda baca lengkap\n  if (PASAL_HEADER_RE.test(text) && !VALID_ENDINGS_RE.test(text)) return true;\n  // Heuristik 2: chunk berakhir dengan daftar menggantung (huruf a; huruf b:)\n  if (DANGLING_LIST_RE.test(text)) return true;\n  // Heuristik 3: chunk dimulai di tengah kalimat (sudah ada BROKEN_START tapi\n  // kita juga cek jika tidak ada header sama sekali untuk chunk panjang)\n  if (text.length > 300 && !PASAL_HEADER_RE.test(text) && !VALID_ENDINGS_RE.test(text)) return true;\n  return false;\n}\n\nfor (const item of items) {\n  const data = item.json;\n  const text = (data.chunk_text || '').trim();\n\n  // ─── BASIC METRICS ───────────────────────────────────────────────────\n  const textLength = text.length;\n  const wordCount  = text.split(/\\s+/).length;\n\n  // ─── QUALITY FLAGS ───────────────────────────────────────────────────\n  const qualityFlags = [];\n\n  if (textLength < 120)  qualityFlags.push('TOO_SHORT');\n  if (wordCount < 20)    qualityFlags.push('LOW_WORD_COUNT');\n\n  if (\n    text.startsWith('.') || text.startsWith(',') ||\n    text.startsWith(')') || text.startsWith('dan ') ||\n    text.startsWith('atau ')\n  ) qualityFlags.push('BROKEN_START');\n\n  if (!data.primary_domain)  qualityFlags.push('MISSING_DOMAIN');\n  if (!data.semantic_type)   qualityFlags.push('MISSING_SEMANTIC_TYPE');\n\n  // FIX-4: Deteksi pasal terpotong\n  if (isIncompleteArticle(text)) qualityFlags.push('INCOMPLETE_ARTICLE');\n\n  // ─── QUALITY SCORE ────────────────────────────────────────────────────\n  let qualityScore = 1.0;\n  qualityScore -= qualityFlags.length * 0.15;\n\n  // Bonus dari multi-label semantic_types\n  const sTypes = data.semantic_types || [];\n  if (sTypes.includes('definition'))  qualityScore += 0.05;\n  if (sTypes.includes('sanction'))    qualityScore += 0.10;\n  if ((data.semantic_importance || 1) > 1.3) qualityScore += 0.05;\n\n  // Penalty ekstra untuk pasal terpotong (konten tidak dapat dipercaya sepenuhnya)\n  if (qualityFlags.includes('INCOMPLETE_ARTICLE')) qualityScore -= 0.10;\n\n  qualityScore = Math.max(0, Math.min(1, Number(qualityScore.toFixed(2))));\n\n  // ─── EMBEDDING ELIGIBILITY ────────────────────────────────────────────\n  // INCOMPLETE_ARTICLE tidak otomatis blokir embedding (data parsial masih berguna)\n  // tapi threshold lebih ketat jika ada flag tersebut.\n  const criticalFlags  = qualityFlags.filter(f => f !== 'INCOMPLETE_ARTICLE');\n  const embeddingReady =\n    criticalFlags.length <= 1 &&\n    qualityScore >= (qualityFlags.includes('INCOMPLETE_ARTICLE') ? 0.65 : 0.55);\n\n  results.push({\n    json: {\n      ...data,\n      quality_flags:       qualityFlags,\n      quality_score:       qualityScore,\n      embedding_ready:     embeddingReady,\n      quality_checked_at:  new Date().toISOString(),\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        176
      ],
      "id": "aa34ccfa-1884-449f-a48d-745afa8d269a",
      "name": "Quality Gate"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// EMBEDDING BUILDER ENGINE — V14 ENTERPRISE\n// For n8n Code Node (Central Vector Preparation)\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ───────────────────────────────────────────────────────────────\n// HELPERS & NORMALIZERS\n// ───────────────────────────────────────────────────────────────\n\nfunction normalizeTerm(term) {\n  if (!term) return \"\";\n\n  return term\n    .toLowerCase()\n    .replace(/[^\\w\\s-]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction uniqueArray(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction buildAliases(term) {\n  if (!term) return [];\n\n  const aliases = [];\n  const upper = term.toUpperCase();\n\n  // =========================\n  // KUP\n  // =========================\n  if (upper.includes(\"KETENTUAN UMUM DAN TATA CARA PERPAJAKAN\")) {\n    aliases.push(\"UU KUP\");\n    aliases.push(\"KUP\");\n    aliases.push(\"Ketentuan Umum Perpajakan\");\n  }\n\n  // =========================\n  // PPN\n  // =========================\n  if (upper.includes(\"PAJAK PERTAMBAHAN NILAI\")) {\n    aliases.push(\"UU PPN\");\n    aliases.push(\"PPN\");\n  }\n\n  // =========================\n  // PKP\n  // =========================\n  if (upper.includes(\"PENGUSAHA KENA PAJAK\")) {\n    aliases.push(\"PKP\");\n  }\n\n  // =========================\n  // NPWP\n  // =========================\n  if (upper.includes(\"NOMOR POKOK WAJIB PAJAK\")) {\n    aliases.push(\"NPWP\");\n  }\n\n  // =========================\n  // SKPKB\n  // =========================\n  if (upper.includes(\"SURAT KETETAPAN PAJAK KURANG BAYAR\")) {\n    aliases.push(\"SKPKB\");\n  }\n\n  // =========================\n  // STP\n  // =========================\n  if (upper.includes(\"SURAT TAGIHAN PAJAK\")) {\n    aliases.push(\"STP\");\n  }\n\n  return uniqueArray(aliases);\n}\n\nfunction buildChunkHeadline(chunk) {\n  const term =\n    chunk.definition_term ||\n    chunk.pasal_title ||\n    \"Dokumen Hukum\";\n\n  return `Definisi ${term} dalam ${chunk.doc_number || \"\"} Pasal ${chunk.pasal_number || \"\"}`;\n}\n\nfunction buildCitationShort(chunk) {\n  return `${chunk.doc_number || \"\"} Pasal ${chunk.pasal_number || \"\"} Definisi ${chunk.definition_number || \"\"}`;\n}\n\nfunction buildCitationPath(chunk) {\n  const hierarchy = Array.isArray(chunk.hierarchy_path)\n    ? chunk.hierarchy_path.join(\" > \")\n    : \"\";\n\n  return `${chunk.doc_number || \"\"} > ${hierarchy}`;\n}\n\n// ───────────────────────────────────────────────────────────────\n// VECTOR READY TEXT (V14 UPGRADE - INJECT AVOIDANCE SIGNALS)\n// ───────────────────────────────────────────────────────────────\n\nfunction buildVectorReadyText(chunk, aliases) {\n  const sections = [];\n\n  if (chunk.definition_term) {\n    sections.push(chunk.definition_term);\n  }\n\n  if (aliases.length) {\n    sections.push(aliases.join(\"\\n\"));\n  }\n\n  if (chunk.doc_number) {\n    sections.push(chunk.doc_number);\n  }\n\n  if (chunk.doc_title) {\n    sections.push(chunk.doc_title);\n  }\n\n  if (chunk.chunk_text) {\n    sections.push(chunk.chunk_text);\n  }\n\n  // [V14] Tambahkan sinyal avoidance ke embedding text\n  if (chunk.avoidance_signals) {\n    const signalLabels = Object.entries(chunk.avoidance_signals)\n      .filter(([_, v]) => v === true)\n      .map(([k]) => k.replace(/_/g, ' '))\n      .join(', ');\n\n    if (signalLabels) {\n      sections.push(`Celah pajak: ${signalLabels}`);\n    }\n  }\n\n  if (chunk.applicable_entity_types && chunk.applicable_entity_types[0] !== 'SEMUA') {\n    sections.push(`Berlaku untuk: ${chunk.applicable_entity_types.join(', ')}`);\n  }\n\n  if (chunk.thresholds) {\n    const thr = JSON.stringify(chunk.thresholds);\n    sections.push(`Threshold: ${thr}`);\n  }\n\n  return sections.join(\"\\n\\n\").trim();\n}\n\nfunction buildSearchText(chunk, aliases) {\n  const parts = [];\n\n  if (chunk.definition_term) {\n    parts.push(chunk.definition_term);\n  }\n\n  aliases.forEach(a => parts.push(a));\n\n  if (chunk.doc_number) {\n    parts.push(chunk.doc_number);\n  }\n\n  if (chunk.doc_title) {\n    parts.push(chunk.doc_title);\n  }\n\n  if (chunk.chunk_text) {\n    parts.push(chunk.chunk_text);\n  }\n\n  return parts.join(\" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction buildEmbeddingInput(chunk, aliases) {\n  const lines = [];\n\n  lines.push(\n    `Definisi ${chunk.definition_term || \"\"} dalam ${chunk.doc_number || \"\"} Pasal ${chunk.pasal_number || \"\"}.`\n  );\n\n  if (aliases.length) {\n    lines.push(`Alias: ${aliases.join(\", \")}`);\n  }\n\n  if (chunk.doc_title) {\n    lines.push(`Dokumen: ${chunk.doc_title}`);\n  }\n\n  if (chunk.chunk_text) {\n    lines.push(`Isi:\\n${chunk.chunk_text}`);\n  }\n\n  return lines.join(\"\\n\\n\").trim();\n}\n\n// ───────────────────────────────────────────────────────────────\n// MAIN EXECUTOR\n// ───────────────────────────────────────────────────────────────\n\nreturn items.map(item => {\n  const chunk = item.json;\n\n  // =========================\n  // ALIAS\n  // =========================\n  const aliases = buildAliases(chunk.definition_term || \"\");\n\n  // =========================\n  // NORMALIZED TERMS\n  // =========================\n  const normalizedTerms = uniqueArray([\n    normalizeTerm(chunk.definition_term || \"\"),\n    ...aliases.map(a => normalizeTerm(a))\n  ]);\n\n  // =========================\n  // HEADLINE & CITATIONS\n  // =========================\n  chunk.chunk_headline = buildChunkHeadline(chunk);\n  chunk.citation_short = buildCitationShort(chunk);\n  chunk.citation_path  = buildCitationPath(chunk);\n\n  // =========================\n  // ALIAS & TERMS STORAGE\n  // =========================\n  chunk.canonical_aliases = aliases;\n  chunk.normalized_terms   = normalizedTerms;\n\n  // =========================\n  // VECTOR READY TEXT (V14 Enhanced)\n  // =========================\n  const vectorReadyText = buildVectorReadyText(chunk, aliases);\n  chunk.vector_ready_text = vectorReadyText;\n  chunk.retrieval_text    = vectorReadyText; // Sinkronisasi dengan retrieval text\n\n  // =========================\n  // BM25 SEARCH TEXT & EMBEDDING INPUT\n  // =========================\n  chunk.search_text     = buildSearchText(chunk, aliases);\n  chunk.embedding_input = buildEmbeddingInput(chunk, aliases);\n\n  // =========================\n  // STATIC METADATA FIXED FIELDS\n  // =========================\n  chunk.entity_type = \"legal_definition\";\n  chunk.effective_status = chunk.status_hukum === \"BERLAKU\" ? \"active\" : \"inactive\";\n\n  // =========================\n  // DOCUMENT FAMILY\n  // =========================\n  if (!chunk.document_family) {\n    if (chunk.doc_number && chunk.doc_number.includes(\"PMK\")) {\n      chunk.document_family = \"PMK\";\n    } else if (chunk.doc_number && chunk.doc_number.includes(\"PER\")) {\n      chunk.document_family = \"PER\";\n    } else {\n      chunk.document_family = \"UNKNOWN\";\n    }\n  }\n\n  // =========================\n  // LEGAL DOMAIN & YEAR\n  // =========================\n  if (!chunk.legal_domain) {\n    chunk.legal_domain = \"perpajakan\";\n  }\n\n  if (!chunk.effective_year) {\n    chunk.effective_year = chunk.doc_year || null;\n  }\n\n  // =========================\n  // PRIORITY ALGORITHM\n  // =========================\n  if (!chunk.search_priority) {\n    let priority = 50;\n\n    if (chunk.is_definition_chunk)  priority += 25;\n    if (chunk.contains_obligation)    priority += 10;\n    if (chunk.contains_sanction)      priority += 15;\n\n    chunk.search_priority = priority;\n  }\n\n  // =========================\n  // CHUNK TYPE PRIORITY\n  // =========================\n  if (!chunk.chunk_type_priority) {\n    if (chunk.semantic_type === \"definition\") {\n      chunk.chunk_type_priority = 7;\n    } else if (chunk.semantic_type === \"procedure\") {\n      chunk.chunk_type_priority = 8;\n    } else {\n      chunk.chunk_type_priority = 5;\n    }\n  }\n\n  // =========================\n  // VERSIONING & TIMESTAMP\n  // =========================\n  chunk.embedding_builder_version = \"vFinal_legal_rag_enterprise\";\n  chunk.embedding_built_at        = new Date().toISOString();\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        176
      ],
      "id": "5c6623ae-d1bc-4b0a-ac9f-cfb49657c3cf",
      "name": "Embeding Builder"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nreturn $input.all().map(item => {\n\n  const text =\n    item.json.chunk_text;\n\n  const hash =\n    crypto\n      .createHash('sha256')\n      .update(text)\n      .digest('hex');\n\n  return {\n    json: {\n      ...item.json,\n      chunk_hash: hash\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        352
      ],
      "id": "6a753bbb-bcfb-414c-a7c5-81835d2798aa",
      "name": "FINGERPRINT HASH"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// EMBEDDING QUALITY VALIDATOR — V3\n// Refactor Upgrade\n//\n// Features:\n// ✅ relational_id pairing\n// ✅ dimension validation\n// ✅ L2 norm validation\n// ✅ NaN detection\n// ✅ Infinity detection\n// ✅ variance detection\n// ✅ contextual embedding validation\n// ✅ embedding fingerprint preview\n// ✅ embedding version tagging\n// ════════════════════════════════════════════════════════════════════════\n\nconst EXPECTED_DIM = 1536;\n\nconst MIN_L2_NORM = 0.1;\n\nconst MIN_VARIANCE = 1e-6;\n\nconst EMBEDDING_MODEL = 'text-embedding-3-small';\n\nconst EMBEDDING_PIPELINE_VERSION = 'v3';\n\n// ════════════════════════════════════════\n// LOAD QUALITY GATE ITEMS\n// ════════════════════════════════════════\n\nconst qualityGateItems = $('Quality check?').all();\n\nconst qualityMap = {};\n\nfor (const q of qualityGateItems) {\n\n  const rid = q.json.relational_id;\n\n  if (rid) {\n    qualityMap[rid] = q.json;\n  }\n}\n\n// ════════════════════════════════════════\n// VALIDATION FUNCTIONS\n// ════════════════════════════════════════\n\nfunction validateEmbedding(vec, chunkId) {\n\n  // NULL / TYPE CHECK\n\n  if (!vec || !Array.isArray(vec)) {\n    throw new Error(\n      `[EmbeddingValidator] Embedding null/bukan array pada chunk: ${chunkId}`\n    );\n  }\n\n  // DIMENSION CHECK\n\n  if (vec.length !== EXPECTED_DIM) {\n    throw new Error(\n      `[EmbeddingValidator] Dimensi salah: expected ${EXPECTED_DIM}, got ${vec.length} (Chunk: ${chunkId})`\n    );\n  }\n\n  // NaN CHECK\n\n  if (vec.some(v => Number.isNaN(v))) {\n    throw new Error(\n      `[EmbeddingValidator] NaN detected pada chunk: ${chunkId}`\n    );\n  }\n\n  // INFINITY CHECK\n\n  if (vec.some(v => !Number.isFinite(v))) {\n    throw new Error(\n      `[EmbeddingValidator] Infinite value detected pada chunk: ${chunkId}`\n    );\n  }\n\n  // L2 NORM CHECK\n\n  const l2 = Math.sqrt(\n    vec.reduce((s, v) => s + v * v, 0)\n  );\n\n  if (l2 < MIN_L2_NORM) {\n    throw new Error(\n      `[EmbeddingValidator] L2 norm terlalu kecil (${l2.toFixed(6)}) pada chunk: ${chunkId}`\n    );\n  }\n\n  // VARIANCE CHECK\n\n  const mean =\n    vec.reduce((a, b) => a + b, 0) / vec.length;\n\n  const variance =\n    vec.reduce(\n      (s, v) => s + Math.pow(v - mean, 2),\n      0\n    ) / vec.length;\n\n  if (variance < MIN_VARIANCE) {\n    throw new Error(\n      `[EmbeddingValidator] Variance terlalu kecil (${variance}) pada chunk: ${chunkId}`\n    );\n  }\n\n  // FINGERPRINT PREVIEW\n  // untuk duplicate detection ringan\n\n  const fingerprint =\n    vec\n      .slice(0, 24)\n      .map(v => v.toFixed(4))\n      .join('|');\n\n  return {\n    l2,\n    variance,\n    fingerprint\n  };\n}\n\n// ════════════════════════════════════════\n// MAIN PROCESSING\n// ════════════════════════════════════════\n\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n\n  const embeddingResponse = item.json;\n\n  const embedding =\n    embeddingResponse.data?.[0]?.embedding;\n\n  // ════════════════════════════════════\n  // RELATIONAL PAIRING\n  // ════════════════════════════════════\n\n  const rid =\n    embeddingResponse.relational_id ||\n    embeddingResponse.input;\n\n  const chunkData =\n    (rid && qualityMap[rid])\n      ? qualityMap[rid]\n      : (qualityGateItems[index]?.json || {});\n\n  const chunkId =\n    chunkData.relational_id ||\n    chunkData.chunk_index ||\n    index;\n\n  // ════════════════════════════════════\n  // CONTEXTUAL EMBEDDING VALIDATION\n  // ════════════════════════════════════\n\n  if (!chunkData.embedding_input) {\n    throw new Error(\n      `[EmbeddingValidator] Missing embedding_input pada chunk: ${chunkId}`\n    );\n  }\n\n  // ════════════════════════════════════\n  // VALIDATE EMBEDDING\n  // ════════════════════════════════════\n\n  const validation =\n    validateEmbedding(embedding, chunkId);\n\n  // ════════════════════════════════════\n  // OUTPUT\n  // ════════════════════════════════════\n\n  return {\n    json: {\n\n      ...chunkData,\n\n      embedding_validated: true,\n\n      embedding_vector: embedding,\n\n      embedding_str:\n        `[${embedding.join(',')}]`,\n\n      l2_norm:\n        Math.round(validation.l2 * 1_000_000) / 1_000_000,\n\n      embedding_variance:\n        validation.variance,\n\n      embedding_fingerprint:\n        validation.fingerprint,\n\n      embedding_dimension:\n        EXPECTED_DIM,\n\n      embedding_model:\n        EMBEDDING_MODEL,\n\n      embedding_pipeline_version:\n        EMBEDDING_PIPELINE_VERSION,\n\n      embedding_validated_at:\n        new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "05aa1ab7-12bb-4acb-9fca-9d7e3a0c006e",
      "name": "Embedding Quality Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════\n// ADAPTIVE TOKEN CHUNKER — V6\n// ENTERPRISE LEGAL HIERARCHY CHUNKER\n//\n// FEATURES:\n// ✅ preserve metadata\n// ✅ preserve hierarchy\n// ✅ preserve AST semantics\n// ✅ parent-child relation\n// ✅ hierarchy path\n// ✅ structural depth\n// ✅ globally unique relational_id\n// ✅ adaptive chunk splitting\n// ✅ definition-aware chunking\n// ✅ citation-ready architecture\n// ✅ graph-ready architecture\n//\n// OUTPUT:\n// optimized legal retrieval chunks\n// ════════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ════════════════════════════════════════\n// CONFIG\n// ════════════════════════════════════════\n\nconst TARGET_TOKENS = 350;\nconst HARD_LIMIT = 500;\n\n// ════════════════════════════════════════\n// TOKEN ESTIMATOR\n// ════════════════════════════════════════\n\nfunction estimateTokens(text = '') {\n\n  return Math.ceil(\n    text.length / 4\n  );\n}\n\n// ════════════════════════════════════════\n// LEGAL PARAGRAPH SPLITTER\n// ════════════════════════════════════════\n\nfunction splitLegalParagraphs(text = '') {\n\n  return text\n    .split(/\\n(?=\\d+\\.\\s)|\\n(?=[a-z]\\.\\s)/g)\n    .map(s => s.trim())\n    .filter(Boolean);\n}\n\n// ════════════════════════════════════════\n// ADAPTIVE SPLITTER\n// ════════════════════════════════════════\n\nfunction adaptiveSplit(text = '') {\n\n  const paragraphs =\n    splitLegalParagraphs(text);\n\n  const chunks = [];\n\n  let current = '';\n\n  for (const para of paragraphs) {\n\n    const candidate =\n      current\n        ? current + '\\n' + para\n        : para;\n\n    if (\n      estimateTokens(candidate)\n      <= TARGET_TOKENS\n    ) {\n\n      current = candidate;\n      continue;\n    }\n\n    if (current) {\n      chunks.push(current.trim());\n    }\n\n    // oversized paragraph\n    if (\n      estimateTokens(para)\n      > HARD_LIMIT\n    ) {\n\n      const sentences =\n        para.split(/(?<=\\.)\\s+/);\n\n      let temp = '';\n\n      for (const s of sentences) {\n\n        const sentenceCandidate =\n          temp\n            ? temp + ' ' + s\n            : s;\n\n        if (\n          estimateTokens(sentenceCandidate)\n          <= TARGET_TOKENS\n        ) {\n\n          temp = sentenceCandidate;\n\n        } else {\n\n          if (temp) {\n            chunks.push(temp.trim());\n          }\n\n          temp = s;\n        }\n      }\n\n      if (temp) {\n        chunks.push(temp.trim());\n      }\n\n      current = '';\n\n      continue;\n    }\n\n    current = para;\n  }\n\n  if (current) {\n    chunks.push(current.trim());\n  }\n\n  return chunks;\n}\n\n// ════════════════════════════════════════\n// METADATA BUILDER\n// ════════════════════════════════════════\n\nfunction buildMetadata(j) {\n\n  return {\n\n    // identity\n    doc_id:\n      j.doc_id || null,\n\n    doc_type:\n      j.doc_type || null,\n\n    doc_number:\n      j.doc_number || null,\n\n    doc_year:\n      j.doc_year || null,\n\n    doc_title:\n      j.doc_title || null,\n\n    doc_category:\n      j.doc_category || null,\n\n    source_url:\n      j.source_url || null,\n\n    document_slug:\n      j.document_slug || null,\n\n    // enrichment\n    doc_keywords:\n      j.doc_keywords || [],\n\n    status_hukum:\n      j.status_hukum || null,\n\n    jenis_pajak:\n      j.jenis_pajak || null,\n\n    tanggal_penetapan:\n      j.tanggal_penetapan || null,\n\n    // hierarchy\n    bab:\n      j.bab || null,\n\n    pasal_number:\n      j.pasal_number || null,\n\n    pasal_title:\n      j.pasal_title || null,\n\n    hierarchy_level:\n      j.hierarchy_level || null,\n\n    ast_type:\n      j.ast_type || null,\n\n    semantic_label:\n      j.semantic_label || null,\n\n    definition_term:\n      j.definition_term || null,\n\n    definition_number:\n      j.definition_number || null,\n\n    ast_version:\n      j.ast_version || null\n  };\n}\n\n// ════════════════════════════════════════\n// BUILD HIERARCHY PATH\n// ════════════════════════════════════════\n\nfunction buildHierarchyPath(j) {\n\n  const path = [];\n\n  if (j.bab) {\n    path.push(j.bab);\n  }\n\n  if (j.pasal_title) {\n    path.push(j.pasal_title);\n  }\n\n  if (j.definition_number) {\n    path.push(\n      `Definisi ${j.definition_number}`\n    );\n  }\n\n  return path;\n}\n\n// ════════════════════════════════════════\n// MAIN EXECUTION\n// ════════════════════════════════════════\n\nconst output = [];\n\nlet globalChunkIndex = 1;\n\nfor (const item of items) {\n\n  const j = item.json;\n\n  const text =\n    j.raw_content || '';\n\n  if (!text) continue;\n\n  const metadata =\n    buildMetadata(j);\n\n  const hierarchyPath =\n    buildHierarchyPath(j);\n\n  const isDefinitionChunk =\n    j.ast_type === 'DEFINITION'\n    || j.hierarchy_level === 'definition_item';\n\n  // ════════════════════════════════\n  // DEFINITION CHUNKS\n  // ════════════════════════════════\n\n  if (isDefinitionChunk) {\n\n    output.push({\n      json: {\n\n        ...metadata,\n\n        hierarchy_level:\n          'definition_item',\n\n        hierarchy_path:\n          hierarchyPath,\n\n        structural_depth:\n          hierarchyPath.length,\n\n        parent_relation: {\n\n          type:\n            'pasal',\n\n          id:\n            `${j.document_slug}_pasal_${j.pasal_number}`\n        },\n\n        chunk_text:\n          text,\n\n        chunk_token_estimate:\n          estimateTokens(text),\n\n        chunk_index:\n          globalChunkIndex++,\n\n        semantic_boundary:\n          'ast_definition_boundary',\n\n        is_definition_chunk:\n          true,\n\n        relational_id:\n          j.relational_id,\n\n        chunker_version:\n          'v6'\n      }\n    });\n\n    continue;\n  }\n\n  // ════════════════════════════════\n  // SHORT PASAL\n  // ════════════════════════════════\n\n  const totalTokens =\n    estimateTokens(text);\n\n  if (\n    totalTokens <= TARGET_TOKENS\n  ) {\n\n    output.push({\n      json: {\n\n        ...metadata,\n\n        hierarchy_level:\n          'pasal_chunk',\n\n        hierarchy_path:\n          hierarchyPath,\n\n        structural_depth:\n          hierarchyPath.length,\n\n        parent_relation: {\n\n          type:\n            'document',\n\n          id:\n            j.document_slug\n        },\n\n        chunk_text:\n          text,\n\n        chunk_token_estimate:\n          totalTokens,\n\n        chunk_index:\n          globalChunkIndex++,\n\n        semantic_boundary:\n          'passthrough',\n\n        is_definition_chunk:\n          false,\n\n        relational_id:\n          `${j.relational_id}_chunk_1`,\n\n        chunker_version:\n          'v6'\n      }\n    });\n\n    continue;\n  }\n\n  // ════════════════════════════════\n  // ADAPTIVE SPLIT\n  // ════════════════════════════════\n\n  const chunks =\n    adaptiveSplit(text);\n\n  chunks.forEach((chunk, idx) => {\n\n    output.push({\n      json: {\n\n        ...metadata,\n\n        hierarchy_level:\n          'pasal_chunk',\n\n        hierarchy_path:\n          hierarchyPath,\n\n        structural_depth:\n          hierarchyPath.length,\n\n        parent_relation: {\n\n          type:\n            'pasal',\n\n          id:\n            j.relational_id\n        },\n\n        chunk_text:\n          chunk,\n\n        chunk_token_estimate:\n          estimateTokens(chunk),\n\n        chunk_index:\n          globalChunkIndex++,\n\n        semantic_boundary:\n          'adaptive_split',\n\n        is_definition_chunk:\n          false,\n\n        relational_id:\n          `${j.relational_id}_chunk_${idx + 1}`,\n\n        chunker_version:\n          'v6'\n      }\n    });\n  });\n}\n\n// ════════════════════════════════════════\n// FINAL OUTPUT\n// ════════════════════════════════════════\n\nreturn output;"
      },
      "id": "ec192fed-a61f-4d6f-a4bf-4d88b1c43150",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        176
      ],
      "name": "Adaptive Token Chunker",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// LEGAL AST PARSER — V6\n// ENTERPRISE LEGAL INGESTION PARSER\n//\n// FIXES:\n// ✅ metadata propagation FIXED\n// ✅ globally unique relational_id\n// ✅ document identity support\n// ✅ OCR wrap normalization\n// ✅ definition splitting\n// ✅ heading leakage prevention\n// ✅ lightweight architecture\n// ✅ semantic hierarchy preservation\n//\n// RESULT:\n// production-grade legal AST chunks\n// ════════════════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ════════════════════════════════════════\n// METADATA PICKER\n// FIX: metadata now read from item.json.metadata\n// ════════════════════════════════════════\n\nfunction pickMetadata(j) {\n\n  const meta =\n    j.metadata || {};\n\n  return {\n\n    doc_id:\n      meta.doc_id || null,\n\n    doc_type:\n      meta.doc_type || null,\n\n    doc_number:\n      meta.doc_number || null,\n\n    doc_year:\n      meta.doc_year || null,\n\n    doc_title:\n      meta.doc_title || null,\n\n    doc_category:\n      meta.doc_category || null,\n\n    source_url:\n      meta.source_url || null,\n\n    doc_keywords:\n      meta.doc_keywords || [],\n\n    status_hukum:\n      meta.status_hukum || null,\n\n    jenis_pajak:\n      meta.jenis_pajak || null,\n\n    tanggal_penetapan:\n      meta.tanggal_penetapan || null\n  };\n}\n\n// ════════════════════════════════════════\n// BUILD DOCUMENT SLUG\n// ════════════════════════════════════════\n\nfunction buildDocumentSlug(meta={}) {\n\n  const type =\n    (meta.doc_type || 'doc')\n      .toString()\n      .toLowerCase()\n      .replace(/[^\\w\\s]/g, '')\n      .replace(/\\s+/g, '_');\n\n  const number =\n    (meta.doc_number || 'unknown')\n      .toString()\n      .toLowerCase()\n      .replace(/[^\\w\\s]/g, '')\n      .replace(/\\s+/g, '_');\n\n  const year =\n    (meta.doc_year || 'unknown')\n      .toString();\n\n  return `${type}_${number}_${year}`;\n}\n\n// ════════════════════════════════════════\n// DETECT UPPERCASE HEADINGS\n// ════════════════════════════════════════\n\nfunction isUppercaseHeading(line='') {\n\n  const clean =\n    line.trim();\n\n  if (clean.length < 20) {\n    return false;\n  }\n\n  // ignore numbered definitions\n  if (/^\\d+\\./.test(clean)) {\n    return false;\n  }\n\n  const upper =\n    clean.replace(/[^A-Z]/g, '').length;\n\n  const alpha =\n    clean.replace(/[^A-Za-z]/g, '').length;\n\n  if (!alpha) return false;\n\n  return (upper / alpha) > 0.9;\n}\n\n// ════════════════════════════════════════\n// NORMALIZE OCR WRAPS\n// ════════════════════════════════════════\n\nfunction normalizeLegalText(text='') {\n\n  return text\n\n    // normalize line endings\n    .replace(/\\r/g, '\\n')\n\n    // merge broken OCR words\n    .replace(/([a-zA-Z])-\\n([a-zA-Z])/g, '$1$2')\n\n    // merge wrapped sentences\n    .replace(/([a-zA-Z0-9,])\\n([a-zA-Z])/g, '$1 $2')\n\n    // preserve numbered list\n    .replace(/(\\.)\\s+(\\d+\\.)/g, '$1\\n$2')\n\n    // preserve huruf list\n    .replace(/([;:])\\s+([a-z]\\.)/g, '$1\\n$2')\n\n    // normalize spaces\n    .replace(/[ \\t]+/g, ' ')\n\n    // normalize empty lines\n    .replace(/\\n{3,}/g, '\\n\\n')\n\n    // trim lines\n    .replace(/[ \\t]+$/gm, '')\n\n    .trim();\n}\n\n// ════════════════════════════════════════\n// SPLIT DEFINITIONS\n// ════════════════════════════════════════\n\nfunction splitDefinitions(content='') {\n\n  const lines =\n    content.split('\\n');\n\n  const defs = [];\n\n  let current = null;\n\n  for (const raw of lines) {\n\n    const line =\n      raw.trim();\n\n    if (!line) continue;\n\n    const match =\n      line.match(/^(\\d+)\\.\\s+(.+)/);\n\n    // new definition item\n    if (match) {\n\n      if (current) {\n        defs.push(current);\n      }\n\n      current = {\n\n        number:\n          match[1],\n\n        text:\n          match[2]\n      };\n\n      continue;\n    }\n\n    // continuation line\n    if (current) {\n\n      current.text +=\n        ' ' + line;\n    }\n  }\n\n  if (current) {\n    defs.push(current);\n  }\n\n  return defs;\n}\n\n// ════════════════════════════════════════\n// EXTRACT LEGAL HIERARCHY\n// ════════════════════════════════════════\n\nfunction extractHierarchy(text='') {\n\n  const lines =\n    text.split('\\n');\n\n  let currentBAB = null;\n\n  let currentPasal = null;\n\n  const ast = [];\n\n  for (const rawLine of lines) {\n\n    const line =\n      rawLine.trim();\n\n    if (!line) continue;\n\n    // ════════════════════════════════\n    // BAB\n    // ════════════════════════════════\n\n    const babMatch =\n      line.match(/^BAB\\s+([IVXLCDM]+)/i);\n\n    if (babMatch) {\n\n      currentBAB = line;\n\n      continue;\n    }\n\n    // ════════════════════════════════\n    // PASAL\n    // ════════════════════════════════\n\n    const pasalMatch =\n      line.match(/^Pasal\\s+(\\d+[A-Z]?)/i);\n\n    if (pasalMatch) {\n\n      currentPasal = {\n\n        bab:\n          currentBAB,\n\n        pasal:\n          pasalMatch[1],\n\n        title:\n          line,\n\n        content: []\n      };\n\n      ast.push(currentPasal);\n\n      continue;\n    }\n\n    // ════════════════════════════════\n    // PREVENT HEADING LEAKAGE\n    // ════════════════════════════════\n\n    if (\n      isUppercaseHeading(line)\n    ) {\n      continue;\n    }\n\n    // ════════════════════════════════\n    // APPEND CONTENT\n    // ════════════════════════════════\n\n    if (currentPasal) {\n\n      currentPasal.content.push(line);\n    }\n  }\n\n  return ast;\n}\n\n// ════════════════════════════════════════\n// MAIN EXECUTION\n// ════════════════════════════════════════\n\nconst output = [];\n\nfor (const item of items) {\n\n  const text =\n    item.json.cleaned_text || '';\n\n  if (!text) continue;\n\n  // ════════════════════════════════\n  // METADATA\n  // ════════════════════════════════\n\n  const metadata =\n    pickMetadata(item.json);\n\n  // ════════════════════════════════\n  // DOCUMENT SLUG\n  // ════════════════════════════════\n\n  const documentSlug =\n    buildDocumentSlug(metadata);\n\n  // ════════════════════════════════\n  // EXTRACT AST\n  // ════════════════════════════════\n\n  const ast =\n    extractHierarchy(text);\n\n  for (const node of ast) {\n\n    const rawContent =\n      normalizeLegalText(\n        node.content.join('\\n')\n      );\n\n    // skip empty\n    if (!rawContent) {\n      continue;\n    }\n\n    // ════════════════════════════════\n    // DETECT DEFINITION PASAL\n    // ════════════════════════════════\n\n    const isDefinitionPasal =\n      /yang dimaksud dengan/i.test(rawContent);\n\n    // ════════════════════════════════\n    // DEFINITION CHUNKS\n    // ════════════════════════════════\n\n    if (isDefinitionPasal) {\n\n      const definitions =\n        splitDefinitions(rawContent);\n\n      definitions.forEach((def, idx) => {\n\n        const definitionTerm =\n          (\n            def.text.split(' adalah ')[0] || ''\n          )\n          .replace(/\\s+/g, ' ')\n          .trim();\n\n        output.push({\n          json: {\n\n            // metadata\n            ...metadata,\n\n            document_slug:\n              documentSlug,\n\n            // hierarchy\n            bab:\n              node.bab,\n\n            pasal_number:\n              node.pasal,\n\n            pasal_title:\n              node.title,\n\n            hierarchy_level:\n              'definition_item',\n\n            ast_type:\n              'DEFINITION',\n\n            semantic_label:\n              'definition',\n\n            // definition metadata\n            definition_number:\n              def.number,\n\n            definition_term:\n              definitionTerm,\n\n            // content\n            raw_content:\n              def.text,\n\n            // indexing\n            chunk_index:\n              idx + 1,\n\n            relational_id:\n              `${documentSlug}_pasal_${node.pasal}_def_${def.number}`,\n\n            ast_version:\n              'v6'\n          }\n        });\n      });\n\n      continue;\n    }\n\n    // ════════════════════════════════\n    // NORMAL PASAL\n    // ════════════════════════════════\n\n    output.push({\n      json: {\n\n        // metadata\n        ...metadata,\n\n        document_slug:\n          documentSlug,\n\n        // hierarchy\n        bab:\n          node.bab,\n\n        pasal_number:\n          node.pasal,\n\n        pasal_title:\n          node.title,\n\n        hierarchy_level:\n          'pasal',\n\n        ast_type:\n          'PASAL',\n\n        semantic_label:\n          'pasal',\n\n        // content\n        raw_content:\n          rawContent,\n\n        // indexing\n        chunk_index:\n          1,\n\n        relational_id:\n          `${documentSlug}_pasal_${node.pasal}`,\n\n        ast_version:\n          'v6'\n      }\n    });\n  }\n}\n\n// ════════════════════════════════════════\n// FINAL OUTPUT\n// ════════════════════════════════════════\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        176
      ],
      "id": "a84c05bb-a0bb-4978-b462-87b2a4765c81",
      "name": "Legal Ast Parser"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// REGEX CLEANUP — V5\n// AUTO TEXT FIELD DETECTOR\n//\n// FIXES:\n// ✅ automatic text field detection\n// ✅ OCR footer cleanup\n// ✅ fail-safe ingestion\n// ✅ schema-agnostic support\n// ════════════════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\n// ════════════════════════════════════════\n// FIND TEXT FIELD AUTOMATICALLY\n// ════════════════════════════════════════\n\nfunction detectTextField(json) {\n\n  // PRIORITY FIELDS\n\n  const priorityFields = [\n\n    'cleaned_text',\n\n    'cleanedMarkdown',\n\n    'full_text',\n\n    'raw_content',\n\n    'text',\n\n    'raw_text',\n\n    'markdown',\n\n    'content',\n\n    'result',\n\n    'body'\n  ];\n\n  // CHECK PRIORITY FIRST\n\n  for (const field of priorityFields) {\n\n    const value = json[field];\n\n    if (\n      typeof value === 'string' &&\n      value.trim().length > 50\n    ) {\n      return value;\n    }\n  }\n\n  // FALLBACK:\n  // SEARCH ANY STRING FIELD\n\n  for (const [key, value] of Object.entries(json)) {\n\n    if (\n      typeof value === 'string' &&\n      value.trim().length > 50\n    ) {\n\n      return value;\n    }\n  }\n\n  return '';\n}\n\n// ════════════════════════════════════════\n// OCR CLEANER\n// ════════════════════════════════════════\n\nfunction cleanupOCR(text = '') {\n\n  return text\n\n    .replace(/\\r/g, '\\n')\n\n    // remove page footer\n    .replace(/^\\s*-\\s*\\d+\\s*-\\s*$/gm, '')\n\n    // remove standalone numbers\n    .replace(/^\\s*\\d+\\s*$/gm, '')\n\n    // remove OCR artifacts\n    .replace(\n      /^\\s*(RUANG LINGKUP|LAMPIRAN|PENJELASAN)\\s*$/gmi,\n      ''\n    )\n\n    // remove separator lines\n    .replace(/^\\s*[-—]{2,}\\s*$/gm, '')\n\n    // fix OCR broken wrap\n    .replace(/([A-Za-z])-\\n([A-Za-z])/g, '$1-$2')\n\n    // normalize spaces\n    .replace(/[ \\t]+/g, ' ')\n\n    // normalize empty lines\n    .replace(/\\n{3,}/g, '\\n\\n')\n\n    // remove trailing spaces\n    .replace(/[ \\t]+$/gm, '')\n\n    .trim();\n}\n\n// ════════════════════════════════════════\n// MAIN\n// ════════════════════════════════════════\n\nreturn items.map((item, index) => {\n\n  const rawText =\n    detectTextField(item.json);\n\n  // FAIL SAFE:\n  // don't crash ingestion pipeline\n\n  if (!rawText) {\n\n    return {\n      json: {\n\n        ...item.json,\n\n        cleaned_text: '',\n\n        cleanup_error:\n          'No text field detected',\n\n        cleanup_version:\n          'regex_cleanup_v5'\n      }\n    };\n  }\n\n  const cleaned =\n    cleanupOCR(rawText);\n\n  return {\n    json: {\n\n      ...item.json,\n\n      cleaned_text:\n        cleaned,\n\n      cleanup_stats: {\n\n        original_length:\n          rawText.length,\n\n        cleaned_length:\n          cleaned.length\n      },\n\n      cleanup_version:\n        'regex_cleanup_v5',\n\n      cleaned_at:\n        new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "3839ea88-093e-43c3-a001-e50e1ba1f2b8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        176
      ],
      "name": "Regex Cleanup"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════════\n// AVOIDANCE SIGNAL EXTRACTOR — V1\n// Finalizer sinyal celah sebelum masuk Quality Gate.\n// Fungsi: 1) Validasi & standardisasi signals dari Semantic Analyzer\n//         2) Build exception_refs dari breadcrumb + contains_exception\n//         3) Set sunset_clause dari effective_date_end\n// ════════════════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const j = { ...item.json };\n\n  // 1. Validasi avoidance_signals — pastikan format benar\n  if (j.avoidance_signals && typeof j.avoidance_signals !== 'object') {\n    j.avoidance_signals = null;\n  }\n\n  // 2. Build exception_refs dari pasal yang contains_exception = true\n  if (j.contains_exception === true && j.pasal_number) {\n    const ref = [j.doc_type, j.doc_number, 'Tahun', j.doc_year, '-', j.pasal_number]\n      .filter(Boolean).join(' ');\n    j.exception_refs = j.exception_refs\n      ? [...new Set([...j.exception_refs, ref])]\n      : [ref];\n  }\n\n  // 3. Deteksi sunset clause dari teks\n  const text = (j.chunk_text || '').toLowerCase();\n  if (\n    /berlaku sampai dengan|masa berlaku|dicabut pada|berakhir pada/.test(text)\n  ) {\n    j.sunset_clause = true;\n\n    // Coba ekstrak tanggal berakhir\n    const dateRe = /(\\d{1,2})\\s+(januari|februari|maret|april|mei|juni|juli|agustus|september|oktober|november|desember)\\s+(\\d{4})/gi;\n    const dateMatch = dateRe.exec(text);\n    if (dateMatch) {\n      const bulanMap = {\n        januari:'01', februari:'02', maret:'03', april:'04',\n        mei:'05', juni:'06', juli:'07', agustus:'08',\n        september:'09', oktober:'10', november:'11', desember:'12'\n      };\n      const tgl = dateMatch[1].padStart(2,'0');\n      const bln = bulanMap[dateMatch[2].toLowerCase()] || '01';\n      const thn = dateMatch[3];\n      j.effective_date_end = `${thn}-${bln}-${tgl}`;\n    }\n  } else {\n    j.sunset_clause = j.sunset_clause || false;\n  }\n\n  // 4. Enrich applicable_entity_types dengan default jika kosong\n  if (!j.applicable_entity_types || j.applicable_entity_types.length === 0) {\n    j.applicable_entity_types = ['SEMUA'];\n  }\n\n  // 5. Log summary untuk debug\n  const hasSignals = j.avoidance_signals && Object.values(j.avoidance_signals).some(v => v);\n  if (hasSignals) {\n    console.log(`[AvoidanceExtractor] ${j.relational_id} — signals: ${JSON.stringify(j.avoidance_signals)}`);\n  }\n\n  return { json: j };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        496
      ],
      "id": "107307b8-4685-4158-a5bd-39347207881e",
      "name": "Avoidance Signal Extractor"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Cek apakah ada chunk lain di DB yang membahas topik sama\n-- dengan doc_type berbeda atau tahun berbeda\nSELECT\n  doc_type,\n  doc_number,\n  doc_year,\n  pasal_number,\n  primary_domain,\n  status_hukum,\n  1 - (embedding <=> (\n    SELECT embedding FROM tax_documents\n    WHERE relational_id = $1\n    LIMIT 1\n  )) AS similarity\nFROM tax_documents\nWHERE\n  relational_id    != $1\n  AND primary_domain = $2\n  AND status_hukum   = 'BERLAKU'\n  AND (\n    1 - (embedding <=> (\n      SELECT embedding FROM tax_documents WHERE relational_id = $1 LIMIT 1\n    ))\n  ) > 0.85\n  AND (\n    doc_type != $3\n    OR (doc_type = $3 AND doc_year != $4)\n  )\nORDER BY similarity DESC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1952,
        496
      ],
      "id": "94b27622-107f-4043-b115-c20652618b4d",
      "name": "Conflict Mapper",
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: Build Conflict Refs\nconst conflicts = $input.all();\nconst original  = $('Avoidance Signal Extractor').first().json;\n\nif (conflicts.length === 0) {\n  return [{ json: { ...original, conflict_refs: null } }];\n}\n\nconst conflictRefs = conflicts.map(c => ({\n  doc_type:      c.json.doc_type,\n  doc_number:    c.json.doc_number,\n  doc_year:      c.json.doc_year,\n  pasal_number:  c.json.pasal_number,\n  similarity:    parseFloat(c.json.similarity.toFixed(3)),\n  conflict_type: c.json.doc_type !== original.doc_type\n    ? 'different_regulation'\n    : 'different_version',\n  status_hukum: c.json.status_hukum,\n}));\n\nreturn [{\n  json: {\n    ...original,\n    conflict_refs: conflictRefs,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        496
      ],
      "id": "bc62abff-9c16-4d4e-b451-d080797fa911",
      "name": "Build Conflict Refs"
    }
  ],
  "pinData": {},
  "connections": {
    "LLM Clean Batch": {
      "main": [
        [],
        [
          {
            "node": "Handle LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding": {
      "main": [
        [
          {
            "node": "Embedding Quality Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconstruction Test": {
      "main": [
        [
          {
            "node": "Evaluate Reconstruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Reconstruction": {
      "main": [
        [
          {
            "node": "FINGERPRINT HASH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle LLM Error": {
      "main": [
        [
          {
            "node": "Log LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseJDIHURL": {
      "main": [
        [
          {
            "node": "Early Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseJDIHResponse": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeBestSource": {
      "main": [
        [
          {
            "node": "MetadataHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAPIDataJDIH": {
      "main": [
        [
          {
            "node": "RulesFilterType",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RulesFilterType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ParseJDIHURL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseRiwayatDoc": {
      "main": [
        [
          {
            "node": "Regex Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPDF": {
      "main": [
        [
          {
            "node": "ExtractPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractPDF": {
      "main": [
        [
          {
            "node": "ParseJDIHResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MergeBestSource",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateStatusGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetHTML": {
      "main": [
        [
          {
            "node": "ExtractHTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RulesFilterType": {
      "main": [
        [
          {
            "node": "GetHTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractHTML": {
      "main": [
        [
          {
            "node": "ParseJDIHResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Check": {
      "main": [
        [
          {
            "node": "Early Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Gate": {
      "main": [
        [
          {
            "node": "Set Ingestion In Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Metadata Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ingestion In Progress": {
      "main": [
        [
          {
            "node": "GetAPIDataJDIH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert + Audit Log": {
      "main": [
        [
          {
            "node": "Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata Fields": {
      "main": [
        [
          {
            "node": "Early Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MetadataHub": {
      "main": [
        [
          {
            "node": "ParseRiwayatDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata Enricher": {
      "main": [
        [
          {
            "node": "Avoidance Signal Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Analyzer": {
      "main": [
        [
          {
            "node": "Embeding Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Scoring Engine": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality check?": {
      "main": [
        [
          {
            "node": "Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Chunk Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Chunk Logger": {
      "main": [
        [
          {
            "node": "Log Failed Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Quality check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeding Builder": {
      "main": [
        [
          {
            "node": "Domain Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINGERPRINT HASH": {
      "main": [
        [
          {
            "node": "Upsert + Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Quality Validator": {
      "main": [
        [
          {
            "node": "Reconstruction Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adaptive Token Chunker": {
      "main": [
        [
          {
            "node": "Metadata Enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Legal Ast Parser": {
      "main": [
        [
          {
            "node": "Adaptive Token Chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex Cleanup": {
      "main": [
        [
          {
            "node": "Legal Ast Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avoidance Signal Extractor": {
      "main": [
        [
          {
            "node": "Conflict Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conflict Mapper": {
      "main": [
        [
          {
            "node": "Build Conflict Refs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Conflict Refs": {
      "main": [
        [
          {
            "node": "Semantic Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e4f8702-f471-43bd-9f9a-c06426bc7f15",
  "meta": {
    "instanceId": "0bc038e49b07af2e3e858246c7c482b54ba66879f695b1ba1f1900faa8f7d141"
  },
  "id": "IFnK49sq0Vx2odFb",
  "tags": []
}