api/Query Pipeline.json
{
  "name": "Query Pipeline V7 (V12 Schema + Hybrid Scoring + Semantic Metadata)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query-pajak",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6e8a6cac-6361-418a-a047-de2a630aa221",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2672,
        48
      ],
      "name": "Webhook",
      "webhookId": "84cd7386-5b6e-49f5-b840-b776c9849c43"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.all_queries }}"
            },
            {
              "name": "model",
              "value": "={{ $env.OPENROUTER_EMBEDDING_MODEL }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e11be760-03dc-49ed-906d-2f738bfa6363",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1504,
        32
      ],
      "name": "Embed User Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL hnsw.ef_search = 200;\n\nWITH vector_candidates AS (\n  SELECT\n    id,\n    doc_type,\n    doc_number,\n    doc_year,\n    pasal_number,\n    chunk_text,\n    chunk_summary,\n    source_url,\n    doc_title,\n    status_hukum,\n    jenis_pajak,\n    chunk_index,\n    total_chunks,\n    hierarchy_level,\n    semantic_type,\n    semantic_types,\n    primary_domain,\n    domain_tags,\n    contains_definition,\n    contains_sanction,\n    contains_obligation,\n    contains_procedure,\n    contains_exception,\n    contains_timeline,\n    retrieval_boost,\n    semantic_importance,\n    quality_score,\n    relational_id,\n    breadcrumb,\n    1 - (embedding <=> $1::vector) AS similarity\n  FROM tax_documents\n  WHERE\n    status_hukum = 'BERLAKU'\n    AND embedding_validated = true\n    AND embedding_ready = true\n    AND quality_score >= 0.5\n    AND (1 - (embedding <=> $1::vector)) >= 0.25\n    -- jenis_pajak: exact match ATAU Umum selalu lolos\n    AND (\n      $2::text IS NULL\n      OR jenis_pajak = $2\n      OR jenis_pajak = 'Umum'\n    )\n    -- doc_type: tidak berubah\n    AND ($3::text IS NULL OR doc_type = $3)\n    -- primary_domain: exact match ATAU UMUM/MULTI_DOMAIN selalu lolos\n    AND (\n      $4::text IS NULL\n      OR primary_domain = $4\n      OR primary_domain = 'UMUM'\n      OR primary_domain = 'MULTI_DOMAIN'\n    )\n  LIMIT 50\n)\nSELECT\n  *,\n  (similarity * COALESCE(retrieval_boost, 1.0) * COALESCE(quality_score, 0.8)) AS hybrid_score\nFROM vector_candidates\nORDER BY\n  hybrid_score DESC,\n  doc_year DESC\nLIMIT 25;",
        "options": {
          "queryReplacement": "={{ [\n  '[' + $('Merge Multi Embeddings').first().json.embedding.join(',') + ']',\n  $('Parse Query Intelligence').first().json.jenis_pajak,\n  $('Parse Query Intelligence').first().json.doc_type,\n  $('Parse Query Intelligence').first().json.primary_domain\n] }}"
        }
      },
      "id": "f39f4b26-f0be-44a5-a131-7a8a91af08e8",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1088,
        32
      ],
      "name": "Postgres Vector Search",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "P3my7gcL6yREmLDp",
          "name": "Postgres account TaxRag"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/rerank",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"cohere/rerank-v3.5\",\n  query: $('Webhook').first().json.body.query,\n  documents: $input.all().map(item => item.json.chunk_text),\n  top_n: 6,\n  return_documents: false\n} }}",
        "options": {}
      },
      "id": "4c97467b-04d7-4724-9ea9-8a064f22359f",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -880,
        32
      ],
      "name": "OpenRouter Rerank"
    },
    {
      "parameters": {
        "jsCode": "const rerankResults = $input.first().json.results;\nconst originalChunks = $('Postgres Vector Search').all();\n\n// Map hasil rerank ke chunk original dengan field V12\nlet rerankedChunks = rerankResults.map(result => {\n  const original = originalChunks[result.index].json;\n  return {\n    json: {\n      ...original,\n      rerank_score: result.relevance_score,\n      // Final score: kombinasi hybrid_score + rerank (weighted)\n      final_score: (original.hybrid_score || original.similarity || 0) * 0.4\n                   + result.relevance_score * 0.6\n    }\n  };\n});\n\n// Urutkan: final_score DESC, lalu doc_year DESC\nrerankedChunks.sort((a, b) => {\n  const scoreDiff = b.json.final_score - a.json.final_score;\n  if (Math.abs(scoreDiff) > 0.005) return scoreDiff;\n  return parseInt(b.json.doc_year || 0) - parseInt(a.json.doc_year || 0);\n});\n\n// Deteksi konflik: pasal_number sama tapi doc_year berbeda\nconst pasalMap = {};\nconst conflicts = [];\nfor (const chunk of rerankedChunks) {\n  const key = `${chunk.json.doc_type}-${chunk.json.pasal_number}`;\n  if (pasalMap[key] && pasalMap[key] !== chunk.json.doc_year) {\n    conflicts.push({\n      pasal: chunk.json.pasal_number,\n      doc_type: chunk.json.doc_type,\n      years: [pasalMap[key], chunk.json.doc_year]\n    });\n  } else {\n    pasalMap[key] = chunk.json.doc_year;\n  }\n}\n\n// Tandai chunk dengan conflict flag\nrerankedChunks = rerankedChunks.map(chunk => ({\n  json: {\n    ...chunk.json,\n    has_conflict: conflicts.some(c =>\n      c.pasal === chunk.json.pasal_number &&\n      c.doc_type === chunk.json.doc_type\n    ),\n    conflicts: conflicts\n  }\n}));\n\n// Ambil top 6\nreturn rerankedChunks.slice(0, 6);\n"
      },
      "id": "d5bd27fc-3f0a-42d5-8115-4e387e1f1e03",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        32
      ],
      "name": "Parse Rerank Results"
    },
    {
      "parameters": {
        "jsCode": "const chunks = $input.all();\nconst originalQuery = $('Webhook').first().json.body.query;\nconst autoDetected = $('Parse Query Intelligence').first().json.auto_detected;\n\nif (chunks.length === 0 || !chunks[0].json.chunk_text) {\n  return [{ json: {\n    context: 'TIDAK ADA DOKUMEN YANG DITEMUKAN.',\n    query: originalQuery,\n    sources: [],\n    max_rerank_score: 0,\n    confidence: 'NONE',\n    auto_detected: autoDetected\n  }}];\n}\n\nconst maxScore = chunks[0].json.rerank_score || 0;\nconst conflicts = chunks[0].json.conflicts || [];\n\n// Hierarki kekuatan hukum\nconst hierarki = { 'UU': 1, 'PP': 2, 'PMK': 3, 'PER': 4, 'KMK': 5, 'SE': 6 };\n\n// Sort by hierarki hukum untuk tampilan LLM\nconst sortedChunks = [...chunks].sort((a, b) => {\n  const ha = hierarki[a.json.doc_type] || 99;\n  const hb = hierarki[b.json.doc_type] || 99;\n  if (ha !== hb) return ha - hb;\n  return parseInt(b.json.doc_year || 0) - parseInt(a.json.doc_year || 0);\n});\n\nconst contextParts = sortedChunks.map((item, i) => {\n  const d = item.json;\n  const hierLabel = hierarki[d.doc_type] ? `[Hierarki ${hierarki[d.doc_type]}]` : '';\n  const conflictWarning = d.has_conflict\n    ? `PERHATIAN: Ada versi lain dari peraturan ini dengan tahun berbeda.`\n    : '';\n\n  // Semantic badges dari V12 metadata\n  const semanticBadges = [];\n  if (d.contains_definition) semanticBadges.push('Definisi');\n  if (d.contains_obligation) semanticBadges.push('Kewajiban');\n  if (d.contains_sanction)   semanticBadges.push('Sanksi');\n  if (d.contains_procedure)  semanticBadges.push('Prosedur');\n  if (d.contains_exception)  semanticBadges.push('Pengecualian');\n  if (d.contains_timeline)   semanticBadges.push('Batas Waktu');\n\n  const parts = [\n    `--- Sumber ${i+1}: ${d.doc_type} No. ${d.doc_number} Tahun ${d.doc_year} ${hierLabel} ---`,\n    `Judul: ${d.doc_title || '-'}`,\n    `Pasal: ${d.pasal_number || 'Ketentuan Umum'}`,\n    d.breadcrumb ? `Konteks Hierarki: ${d.breadcrumb}` : null,\n    d.primary_domain && d.primary_domain !== 'UMUM' ? `Domain Pajak: ${d.primary_domain}` : null,\n    d.hierarchy_level ? `Level: ${d.hierarchy_level}` : null,\n    semanticBadges.length > 0 ? `Tipe Konten: ${semanticBadges.join(' | ')}` : null,\n    d.chunk_summary ? `Ringkasan: ${d.chunk_summary}` : null,\n    conflictWarning || null,\n    '',\n    d.chunk_text\n  ];\n\n  return parts.filter(Boolean).join('\\n');\n});\n\nconst contextText = contextParts.join('\\n\\n');\n\n// Conflict summary\nconst conflictSummary = conflicts.length > 0\n  ? `\\n\\nPERINGATAN KONFLIK: Ditemukan ${conflicts.length} kemungkinan konflik antar peraturan. Gunakan peraturan dengan tahun terbaru dan hierarki tertinggi (UU > PP > PMK > PER > KMK > SE).`\n  : '';\n\n// Confidence level\nlet confidence = 'LOW';\nif (maxScore >= 0.75) confidence = 'HIGH';\nelse if (maxScore >= 0.50) confidence = 'MEDIUM';\n\nreturn [{\n  json: {\n    query: originalQuery,\n    context: contextText + conflictSummary,\n    max_rerank_score: maxScore,\n    confidence: confidence,\n    conflicts: conflicts,\n    auto_detected: autoDetected,\n    sources: sortedChunks.map(c => ({\n      doc_title:        c.json.doc_title,\n      doc_type:         c.json.doc_type,\n      doc_number:       c.json.doc_number,\n      doc_year:         c.json.doc_year,\n      pasal_number:     c.json.pasal_number,\n      source_url:       c.json.source_url,\n      hierarchy_level:  c.json.hierarchy_level,\n      primary_domain:   c.json.primary_domain,\n      semantic_type:    c.json.semantic_type,\n      chunk_summary:    c.json.chunk_summary,\n      similarity_score: c.json.similarity,\n      hybrid_score:     c.json.hybrid_score,\n      rerank_score:     c.json.rerank_score,\n      final_score:      c.json.final_score,\n      quality_score:    c.json.quality_score,\n      retrieval_boost:  c.json.retrieval_boost,\n      hierarki:         hierarki[c.json.doc_type] || 99\n    }))\n  }\n}];\n"
      },
      "id": "fa0bc161-7ba4-4f9e-97e2-fcfe80afff27",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        32
      ],
      "name": "Format Context for LLM"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.max_rerank_score }}",
              "operation": "largerEqual",
              "value2": 0.5
            }
          ]
        }
      },
      "id": "f276ce98-9268-4f9c-a5cd-9b07727e1d09",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -256,
        32
      ],
      "name": "Cek Relevance Score"
    },
    {
      "parameters": {
        "jsCode": "const autoDetected = $json.auto_detected || {};\nconst score = ($json.max_rerank_score * 100).toFixed(1);\n\nreturn [{\n  json: {\n    answer: `Maaf, pertanyaan Anda tidak dapat dijawab dengan tingkat kepercayaan yang cukup dari database peraturan yang ada (skor relevansi: ${score}%, minimum: 50%).\\n\\nKemungkinan penyebab:\\n- Peraturan terkait belum diinput ke dalam database\\n- Pertanyaan menggunakan terminologi yang berbeda dari redaksi peraturan\\n- Topik tidak tercakup dalam peraturan perpajakan yang tersedia\\n\\nSaran:\\n- Coba reformulasikan pertanyaan dengan terminologi hukum pajak formal\\n- Konsultasikan langsung dengan Kantor Pelayanan Pajak (KPP) setempat\\n- Hubungi DJP di kring pajak 1500200`,\n    query: $json.query,\n    sources: [],\n    confidence: 'NONE',\n    rerank_score: $json.max_rerank_score,\n    auto_detected: autoDetected\n  }\n}];\n"
      },
      "id": "d1eb26b3-ad0c-4f0f-a544-37ba9b555140",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        128
      ],
      "name": "Format Bypass Output (False)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  status: \"rejected\",\n  answer: $json.answer,\n  query: $json.query,\n  sources: $json.sources,\n  confidence: $json.confidence,\n  rerank_score: $json.rerank_score,\n  auto_detected: $json.auto_detected\n} }}",
        "options": {}
      },
      "id": "cfe9db0a-e104-4330-8fde-92b9a23838ab",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "name": "Respond to Webhook (Ditolak)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: $env.OPENROUTER_INGESTION_MODEL,\n  temperature: 0.0,\n  max_tokens: 2048,\n  messages: [\n    {\n      role: 'system',\n      content: \"Kamu adalah asisten hukum pajak Indonesia yang sangat presisi. Tugasmu HANYA menjawab berdasarkan dokumen peraturan yang diberikan.\\n\\nATURAN MUTLAK:\\n1. HANYA gunakan informasi yang ADA di konteks. DILARANG menggunakan pengetahuan internal LLM tentang pajak.\\n2. Jika informasi tidak tersedia, jawab: 'Informasi ini tidak tersedia dalam basis data peraturan yang ada.'\\n3. SETIAP klaim hukum WAJIB disertai referensi spesifik: nama peraturan, nomor, tahun, dan pasal/ayat.\\n4. Jika ada konflik antar sumber:\\n   a. Sebutkan adanya konflik secara eksplisit\\n   b. Gunakan hierarki tertinggi (UU > PP > PMK > PER > KMK > SE)\\n   c. Untuk hierarki sama, gunakan tahun terbaru\\n5. DILARANG menyimpulkan atau mengekstrapolasi aturan yang tidak eksplisit tertulis\\n6. DILARANG menggunakan frasa ambigu seperti 'umumnya', 'biasanya', 'seharusnya'\\n7. Perhatikan label Tipe Konten pada setiap sumber sebagai panduan:\\n   - Definisi: gunakan untuk mendefinisikan istilah\\n   - Kewajiban: gunakan untuk menjelaskan apa yang wajib dilakukan\\n   - Sanksi: gunakan untuk menjelaskan konsekuensi pelanggaran\\n   - Prosedur: gunakan untuk menjelaskan tata cara\\n   - Pengecualian: perhatikan pengecualian yang berlaku\\n   - Batas Waktu: soroti tenggat waktu yang kritis\\n8. Jika sumber memiliki Ringkasan, gunakan untuk orientasi cepat sebelum membaca isi penuh\\n9. Akhiri SELALU dengan disclaimer: 'Jawaban ini hanya berdasarkan dokumen dalam database. Untuk keputusan bisnis, konsultasikan dengan konsultan pajak berlisensi atau Kantor Pelayanan Pajak setempat.'\"\n    },\n    {\n      role: 'user',\n      content: `Pertanyaan: ${$json.query}\\n\\nTingkat Kepercayaan Sumber: ${$json.confidence}\\n\\nKonteks Peraturan Perpajakan (diurutkan dari hierarki tertinggi):\\n${$json.context}\\n\\nBerikan jawaban komprehensif berdasarkan HANYA peraturan di atas.`\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "0d50138b-8d2c-43e0-a0bf-463e69582a59",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -192
      ],
      "name": "LLM Synthesis (True)"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    answer:        $json.choices[0].message.content,\n    sources:       $('Format Context for LLM').first().json.sources,\n    query:         $('Format Context for LLM').first().json.query,\n    confidence:    $('Format Context for LLM').first().json.confidence,\n    rerank_score:  $('Format Context for LLM').first().json.max_rerank_score,\n    auto_detected: $('Format Context for LLM').first().json.auto_detected,\n    conflicts:     $('Format Context for LLM').first().json.conflicts\n  }\n}];\n"
      },
      "id": "a4d8aa3a-2d31-42e9-aa02-e135836d1f09",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -192
      ],
      "name": "Format Final Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  status: \"success\",\n  answer: $json.answer,\n  sources: $json.sources,\n  query: $json.query,\n  confidence: $json.confidence,\n  rerank_score: $json.rerank_score,\n  auto_detected: $json.auto_detected,\n  conflicts: $json.conflicts\n} }}",
        "options": {}
      },
      "id": "39826fc6-b40d-465b-82f2-0ca3d9903bd5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        -192
      ],
      "name": "Respond to Webhook (Sukses)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: $env.OPENROUTER_INGESTION_MODEL,\n  temperature: 0.0,\n  max_tokens: 400,\n  messages: [\n    {\n      role: 'system',\n      content: \"Kamu adalah analis query hukum pajak Indonesia. Tugasmu menganalisis pertanyaan user dan mengembalikan JSON murni tanpa preamble, tanpa backtick, tanpa teks apapun di luar JSON.\\n\\nStruktur output WAJIB:\\n{\\n  \\\"jenis_pajak\\\": \\\"PPh|PPN|PPnBM|PBB|Bea_Cukai|KUP|Umum|null\\\",\\n  \\\"doc_type\\\": \\\"UU|PP|PMK|PER|KMK|SE|null\\\",\\n  \\\"primary_domain\\\": \\\"PPh|PPN|PPnBM|Bea Meterai|PBB|KUP|Cukai|Pajak Karbon|UMUM|null\\\",\\n  \\\"expanded_queries\\\": [\\\"reformulasi teknis 1\\\", \\\"reformulasi teknis 2\\\", \\\"reformulasi teknis 3\\\"]\\n}\\n\\nPanduan jenis_pajak:\\n- PPh: pajak penghasilan, PPh 21/22/23/25/26, badan, dividen, bunga, royalti\\n- PPN: pajak pertambahan nilai, faktur pajak, PKP, BKP, JKP\\n- KUP: ketentuan umum, sanksi, denda, STP, SKP, keberatan, banding, NPWP, SPT\\n- Umum: jika tidak bisa dipastikan\\n- null: jika user eksplisit kirim filter\\n\\nPanduan primary_domain (harus match enum di database):\\n- PPh, PPN, PPnBM, PBB, KUP, Cukai, Bea Meterai, Pajak Karbon, UMUM\\n- null jika tidak relevan\\n\\nPanduan expanded_queries:\\n- Terjemahkan bahasa sehari-hari ke terminologi hukum pajak formal\\n- Sertakan akronim lazim: NPWP, SPT, SKP, STP, SKPKB, PKP, BKP, JKP, SKPLB\\n- Buat 3 reformulasi berbeda sudut pandang terminologinya\"\n    },\n    {\n      role: 'user',\n      content: `Analisis pertanyaan ini: \\\"${$('Webhook').first().json.body.query}\\\"\\n\\nFilter eksplisit dari user (jika ada, set field terkait = null agar tidak di-override):\\n- jenis_pajak: ${$('Webhook').first().json.body.jenis_pajak || 'tidak ada'}\\n- doc_type: ${$('Webhook').first().json.body.doc_type || 'tidak ada'}\\n- primary_domain: ${$('Webhook').first().json.body.primary_domain || 'tidak ada'}`\n    }\n  ]\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b0d78b46-622d-4555-ae83-fd0f4a12e574",
      "name": "Query Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1920,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst originalQuery    = $('Webhook').first().json.body.query;\nconst userJenisPajak   = $('Webhook').first().json.body.jenis_pajak    || null;\nconst userDocType      = $('Webhook').first().json.body.doc_type       || null;\nconst userPrimaryDomain = $('Webhook').first().json.body.primary_domain || null;\n\nlet parsed = {};\ntry {\n  const raw = llmResponse.choices[0].message.content;\n  const clean = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { jenis_pajak: null, doc_type: null, primary_domain: null, expanded_queries: [originalQuery] };\n}\n\n\n// Tambah helper di awal node\nfunction toNullIfString(val) {\n  if (!val || val === 'null' || val === 'undefined' || val === '') return null;\n  return val;\n}\n\n// Lalu gunakan di semua assignment\nconst finalJenisPajak    = toNullIfString(userJenisPajak)    || toNullIfString(parsed.jenis_pajak)    || null;\nconst finalDocType       = toNullIfString(userDocType)       || toNullIfString(parsed.doc_type)       || null;\nconst finalPrimaryDomain = toNullIfString(userPrimaryDomain) || toNullIfString(parsed.primary_domain) || null;\n\n// Gabungkan query original + expanded untuk multi-embedding\nconst allQueries = [originalQuery, ...(parsed.expanded_queries || [])].slice(0, 4);\n\nreturn [{\n  json: {\n    original_query:  originalQuery,\n    all_queries:     allQueries,\n    jenis_pajak:     finalJenisPajak,\n    doc_type:        finalDocType,\n    primary_domain:  finalPrimaryDomain,\n    auto_detected: {\n      jenis_pajak:      parsed.jenis_pajak,\n      doc_type:         parsed.doc_type,\n      primary_domain:   parsed.primary_domain,\n      expanded_queries: parsed.expanded_queries\n    }\n  }\n}];\n"
      },
      "id": "7ce8e2b6-5e39-48cb-a1cb-f20b0803911a",
      "name": "Parse Query Intelligence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rata-rata semua embedding vectors dari multi-query\n// Ini membuat satu vektor \"centroid\" yang representatif\nconst embeddingData = $input.first().json.data;\n\nif (!embeddingData || embeddingData.length === 0) {\n  throw new Error('[Merge Multi Embeddings] Tidak ada embedding yang dihasilkan.');\n}\n\nconst dims = embeddingData[0].embedding.length;\nconst count = embeddingData.length;\n\n// Hitung rata-rata per dimensi\nconst avgEmbedding = new Array(dims).fill(0);\nfor (const item of embeddingData) {\n  for (let d = 0; d < dims; d++) {\n    avgEmbedding[d] += item.embedding[d] / count;\n  }\n}\n\n// Normalisasi L2 agar tetap unit vector (penting untuk cosine similarity)\nconst magnitude = Math.sqrt(avgEmbedding.reduce((sum, v) => sum + v * v, 0));\nconst normalizedEmbedding = magnitude > 0\n  ? avgEmbedding.map(v => v / magnitude)\n  : avgEmbedding;\n\nreturn [{\n  json: {\n    embedding: normalizedEmbedding,\n    query_count: count,\n    dims: dims\n  }\n}];\n"
      },
      "id": "e1161e47-b02e-4d9a-a179-0e15b550a8a9",
      "name": "Merge Multi Embeddings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77d2d419-68cd-4916-9548-b7613c77efeb",
              "leftValue": "={{ $('Postgres Vector Search').all().length }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        384
      ],
      "id": "a0d869a3-004b-42bd-981c-35b076b92084",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const autoDetected = $json.auto_detected || {};\nconst score = ($json.max_rerank_score * 100).toFixed(1);\n\nreturn [{\n  json: {\n    answer: `Maaf, pertanyaan Anda tidak dapat dijawab dengan tingkat kepercayaan yang cukup dari database peraturan yang ada Kemungkinan penyebab:\\n- Peraturan terkait belum diinput ke dalam database\\n- Pertanyaan menggunakan terminologi yang berbeda dari redaksi peraturan\\n- Topik tidak tercakup dalam peraturan perpajakan yang tersedia\\n\\nSaran:\\n- Coba reformulasikan pertanyaan dengan terminologi hukum pajak formal\\n- Konsultasikan langsung dengan Kantor Pelayanan Pajak (KPP) setempat\\n- Hubungi DJP di kring pajak 1500200`,\n    query: $json.query,\n    sources: [],\n    confidence: 'NONE',\n    rerank_score: $json.max_rerank_score,\n    auto_detected: autoDetected,\n    status_reason: 'rejected'        // ← tambahkan ini\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        384
      ],
      "id": "d730ac98-3da4-4638-9c5f-21f7f6cb8f96",
      "name": "Format No Data Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  status: $json.status_reason,\n  answer: $json.answer,\n  query: $json.query,\n  sources: $json.sources,\n  confidence: $json.confidence,\n  rerank_score: $json.rerank_score,\n  auto_detected: $json.auto_detected\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -240,
        512
      ],
      "id": "d3b92236-2ff9-47c3-8ed3-7846689a0604",
      "name": "Respond to Webhook (Not Found)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8a104f62-3119-4633-ab79-5c2294d76fb1",
              "leftValue": "={{ $json.choices[0].message.content.trim().toUpperCase() }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        48
      ],
      "id": "6f28ab21-6a05-4e14-87a2-cefc024aa380",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Node: \"Format Off-Topic Output\"\n// Mengambil data dari node Webhook dan node Filter\n\nconst originalQuery = $('Webhook').item.json.body.query || '';\n// Sesuaikan nama node 'Query Intelligence1' atau nama node HTTP Request Anda\nconst filterOutput = $('Pre-FilterAI: Cek Relevansi Query').item.json; \n\n// Logika penentuan reason (bisa ditambah sesuai kebutuhan)\nlet reason = 'no_tax_keyword_found';\nif (originalQuery.length < 5) {\n  reason = 'query_too_short';\n}\n\nconst reasonMessages = {\n  'query_too_short': 'Pertanyaan terlalu singkat untuk diproses.',\n  'no_tax_keyword_found': 'Pertanyaan tidak mengandung konteks perpajakan.'\n};\n\nreturn {\n  answer: `Maaf, sistem ini hanya dapat menjawab pertanyaan seputar peraturan perpajakan Indonesia.\\n\\nPertanyaan Anda: \"${originalQuery}\"\\n${reasonMessages[reason]}\\n\\nContoh pertanyaan yang dapat dijawab:\\n- \"Berapa tarif PPh badan untuk UMKM?\"\\n- \"Apa sanksi telat lapor SPT tahunan?\"\\n- \"Bagaimana cara menghitung PPh 21 karyawan?\"\\n- \"Apa saja objek PPN yang dikecualikan?\"`,\n  query: originalQuery,\n  sources: [],\n  confidence: 'NONE',\n  rerank_score: 0,\n  auto_detected: {},\n  status_reason: 'off_topic'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        528
      ],
      "id": "98154190-2e9f-451f-b673-2cde8b2bf25c",
      "name": "Format Off-Topic Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENROUTER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": $env.OPENROUTER_INGESTION_MODEL,\n  \"temperature\": 0,\n  \"max_tokens\": 2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Anda adalah Gatekeeper Aisuka.com. Tugas Anda memfilter relevansi pertanyaan terhadap topik Pajak, Akuntansi, dan Hukum Indonesia. Jawab HANYA dengan satu kata: 'YES' atau 'NO'.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Pertanyaan Pengguna: \" + $json.body.query + \"\\n\\nRelevan?\"\n    }\n  ]\n}\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "488c6a54-8a16-4434-83d5-35af49b24639",
      "name": "Pre-FilterAI: Cek Relevansi Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2432,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Pre-FilterAI: Cek Relevansi Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed User Query": {
      "main": [
        [
          {
            "node": "Merge Multi Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Search": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Rerank": {
      "main": [
        [
          {
            "node": "Parse Rerank Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rerank Results": {
      "main": [
        [
          {
            "node": "Format Context for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context for LLM": {
      "main": [
        [
          {
            "node": "Cek Relevance Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Relevance Score": {
      "main": [
        [
          {
            "node": "LLM Synthesis (True)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Bypass Output (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bypass Output (False)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Ditolak)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Synthesis (True)": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Sukses)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Intelligence": {
      "main": [
        [
          {
            "node": "Parse Query Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query Intelligence": {
      "main": [
        [
          {
            "node": "Embed User Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Multi Embeddings": {
      "main": [
        [
          {
            "node": "Postgres Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenRouter Rerank",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format No Data Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format No Data Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Not Found)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Query Intelligence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Off-Topic Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Off-Topic Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Not Found)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-FilterAI: Cek Relevansi Query": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "685fbcde-f551-48a6-ae96-397b1a440454",
  "meta": {
    "instanceId": "0bc038e49b07af2e3e858246c7c482b54ba66879f695b1ba1f1900faa8f7d141"
  },
  "id": "s3GLg9x429JREofV",
  "tags": []
}