api/SpeakUp — Page Login _ Signup Auth Workflows.json
{
  "name": "SpeakUp — Page Login / Signup Auth Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/signin",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "35e6c35c-d2f7-456d-a13a-4966c29b7b95",
      "name": "Webhook — Sign In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        -208
      ],
      "webhookId": "speakup-signin"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || {};\nconst email    = (body.email    || '').trim().toLowerCase();\nconst password = (body.password || '').trim();\nif (!email || !password) throw new Error('Email and password are required');\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) throw new Error('Invalid email format');\nreturn [{ json: { email, password } }];"
      },
      "id": "e95f439c-50b0-4078-a3fb-b81ed76d2641",
      "name": "Validate Sign In",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, password_hash, level, is_active FROM users WHERE email = $1 LIMIT 1",
        "options": {}
      },
      "id": "6dd346cc-ec80-4ecd-ac6e-3a4cebdc328b",
      "name": "DB — Find User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        544,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46914980-6a61-4986-bacb-5e666ecb0551",
      "name": "User exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst crypto = require('crypto');\nconst user = $input.first().json;\nconst pw   = $('Validate Sign In').first().json.password;\nconst parts = (user.password_hash || ':').split(':');\nconst salt  = parts[0], stored = parts[1];\nconst candidate = crypto.createHmac('sha256', salt).update(pw).digest('hex');\nif (candidate !== stored) throw new Error('Email atau password salah');\nreturn [{ json: { id: user.id, name: user.name, email: user.email, level: user.level || 'A1', is_active: user.is_active } }];"
      },
      "id": "0d36804c-55c6-4f27-bbb1-22026adfb2ee",
      "name": "Verify Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7097d6f-14bf-4858-b225-d5beae0dcde6",
      "name": "Account active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1152,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst user    = $input.first().json;\nconst secret  = $env.JWT_SECRET || 'speakup_change_me';\nconst exp     = Math.floor(Date.now() / 1000) + 7 * 24 * 3600;\nconst header  = Buffer.from(JSON.stringify({ alg: 'HS256', typ: 'JWT' })).toString('base64url');\nconst payload = Buffer.from(JSON.stringify({\n  sub: user.id, name: user.name, email: user.email, level: user.level,\n  iat: Math.floor(Date.now() / 1000), exp\n})).toString('base64url');\nconst sig = crypto.createHmac('sha256', secret).update(header + '.' + payload).digest('base64url');\nreturn [{ json: {\n  success: true,\n  token: header + '.' + payload + '.' + sig,\n  user: { id: user.id, name: user.name, email: user.email, level: user.level }\n}}];"
      },
      "id": "b047ede4-76a4-43fb-a5c8-be17b653bb94",
      "name": "Generate JWT — Sign In",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c9038625-e8d3-4abb-88ce-11e935788210",
      "name": "200 — Sign In OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        -208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Email atau password salah' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "af352cee-8ef2-4eeb-aeaa-ab752c8cbc7f",
      "name": "401 — Wrong Credentials",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        944,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Akun tidak aktif. Hubungi support.' }) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "aa3b09ad-f6d6-4d3b-b743-bf3b321bf364",
      "name": "403 — Account Inactive",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1152,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Sign in gagal' }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "13744411-1984-471d-aa94-415dff6f2062",
      "name": "400 — Sign In Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        -32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/signup",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "cb23b95f-9de3-484e-bc0b-8ae64aec32c4",
      "name": "Webhook — Sign Up",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        176
      ],
      "webhookId": "speakup-signup"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || {};\nconst name     = (body.name     || '').trim();\nconst email    = (body.email    || '').trim().toLowerCase();\nconst password = (body.password || '').trim();\nif (!name)  throw new Error('Name is required');\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) throw new Error('Invalid email format');\nif (password.length < 8) throw new Error('Password must be at least 8 characters');\nreturn [{ json: { name, email, password } }];"
      },
      "id": "eb057484-c887-43f5-80a0-fb717314ede8",
      "name": "Validate Sign Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM users WHERE email = $1 LIMIT 1",
        "options": {}
      },
      "id": "c6b61f9b-8c63-4635-87c5-aeae2810babe",
      "name": "DB — Check Duplicate Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        544,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "45f0a656-3486-4b5c-b5c1-d2e16f5bd442",
      "name": "Email taken?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst crypto = require('crypto');\nconst { name, email, password } = $('Validate Sign Up').first().json;\nconst salt = crypto.randomBytes(16).toString('hex');\nconst hash = crypto.createHmac('sha256', salt).update(password).digest('hex');\nreturn [{ json: { id: crypto.randomUUID(), name, email, password_hash: salt + ':' + hash, level: 'A1' } }];"
      },
      "id": "03222fd9-3d40-42bb-8a36-26b81a8a9c64",
      "name": "Hash Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (id, name, email, password_hash, level, is_active, created_at) VALUES ($1,$2,$3,$4,$5,true,NOW()) RETURNING id, name, email, level",
        "options": {}
      },
      "id": "c9907bde-4570-4081-b99f-f775f3890c1e",
      "name": "DB — Insert User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1152,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst user    = $input.first().json;\nconst secret  = $env.JWT_SECRET || 'speakup_change_me';\nconst exp     = Math.floor(Date.now() / 1000) + 7 * 24 * 3600;\nconst header  = Buffer.from(JSON.stringify({ alg: 'HS256', typ: 'JWT' })).toString('base64url');\nconst payload = Buffer.from(JSON.stringify({\n  sub: user.id, name: user.name, email: user.email, level: user.level,\n  iat: Math.floor(Date.now() / 1000), exp\n})).toString('base64url');\nconst sig = crypto.createHmac('sha256', secret).update(header + '.' + payload).digest('base64url');\nreturn [{ json: {\n  success: true,\n  token: header + '.' + payload + '.' + sig,\n  user: { id: user.id, name: user.name, email: user.email, level: user.level }\n}}];"
      },
      "id": "cf2e5228-c8e6-4f96-84db-0a35e12b1ef6",
      "name": "Generate JWT — Sign Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d04a1445-74cd-424e-95b7-16bb74175d01",
      "name": "201 — Sign Up OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Email sudah terdaftar. Silakan Sign In.' }) }}",
        "options": {
          "responseCode": 409,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f65c35c7-683d-4685-8997-86e112eea65d",
      "name": "409 — Email Taken",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        944,
        352
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Sign up gagal' }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fa3b7bbd-0caf-4c63-ba23-804983a27f65",
      "name": "400 — Sign Up Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        352
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/google",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a57d3533-5366-4897-bb12-b05a45006f11",
      "name": "Webhook — Google OAuth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        560
      ],
      "webhookId": "speakup-google"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || {};\nconst access_token = (body.access_token || '').trim();\nif (!access_token) throw new Error('access_token is required');\nreturn [{ json: { access_token } }];"
      },
      "id": "7fc24491-8978-4fc1-b0b0-9fdae8132353",
      "name": "Validate Google Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/oauth2/v3/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7402c33-6b4d-4437-99ca-df88afdfee44",
      "name": "Google — Verify Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.email_verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d8d1fe2-619d-4285-b84b-fef9a4b5523a",
      "name": "Email verified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (\n    id, \n    name, \n    email, \n    google_sub, \n    avatar_url, \n    level, \n    is_active, \n    created_at\n) \nVALUES (\n    gen_random_uuid(),\n    $1, \n    $2, \n    $3, \n    $4, \n    'A1', \n    true, \n    NOW()\n) \nON CONFLICT (email) \nDO UPDATE SET \n    google_sub = EXCLUDED.google_sub, \n    avatar_url = EXCLUDED.avatar_url, \n    updated_at = NOW() \nRETURNING id, name, email, level;",
        "options": {
          "queryReplacement": "={{ [ $json.name, $json.email, $json.sub, $json.picture ] }}"
        }
      },
      "id": "41b261d8-4dad-4460-9dfd-57b02c2699b2",
      "name": "DB — Upsert Google User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        944,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst user    = $input.first().json;\nconst secret  = $env.JWT_SECRET || 'speakup_change_me';\nconst exp     = Math.floor(Date.now() / 1000) + 7 * 24 * 3600;\nconst header  = Buffer.from(JSON.stringify({ alg: 'HS256', typ: 'JWT' })).toString('base64url');\nconst payload = Buffer.from(JSON.stringify({\n  sub: user.id, name: user.name, email: user.email, level: user.level,\n  iat: Math.floor(Date.now() / 1000), exp\n})).toString('base64url');\nconst sig = crypto.createHmac('sha256', secret).update(header + '.' + payload).digest('base64url');\nreturn [{ json: {\n  success: true,\n  token: header + '.' + payload + '.' + sig,\n  user: { id: user.id, name: user.name, email: user.email, level: user.level }\n}}];"
      },
      "id": "02cc2be0-fa44-44a7-9a87-e0e57e51bec1",
      "name": "Generate JWT — Google",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "24ce4268-0b95-495c-831b-10d59cae7132",
      "name": "200 — Google OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1344,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Google account email not verified' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "605c5a31-e246-4c77-be55-615a1a6dc9dd",
      "name": "401 — Not Verified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        944,
        736
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Google authentication failed' }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5466c9dd-4869-4a10-b081-4707129c14e2",
      "name": "400 — Google Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        736
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/forgot-password",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9a59035b-8606-44b5-8a4e-8294283be752",
      "name": "Webhook — Forgot Password",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        944
      ],
      "webhookId": "speakup-forgot"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || {};\nconst email = (body.email || '').trim().toLowerCase();\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) throw new Error('Valid email is required');\nreturn [{ json: { email } }];"
      },
      "id": "0a5790ea-2284-44fc-a4f2-d14fa45a9e4a",
      "name": "Validate Forgot Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"If that email exists, a reset link has been sent.\" }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ba83d35e-d3af-423e-b340-7b3227ff9eb2",
      "name": "200 — Forgot (Always OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        544,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email FROM users WHERE email = $1 AND is_active = true LIMIT 1",
        "options": {}
      },
      "id": "12fbc987-75c6-4c95-bdce-9de2987bdba1",
      "name": "DB — Find Active User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        544,
        1104
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dbc738d1-7623-46e1-be67-ed44f3c418c1",
      "name": "User found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        752,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst crypto = require('crypto');\nconst user = $input.first().json;\nconst token = crypto.randomBytes(32).toString('hex');\nconst expiresAt = new Date(Date.now() + 3600000).toISOString();\nreturn [{ json: { userId: user.id, name: user.name, email: user.email, token, expiresAt } }];"
      },
      "id": "62cea0a6-b664-4462-9a8c-c51936b02182",
      "name": "Generate Reset Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        992
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO password_reset_tokens (user_id, token, expires_at, created_at) VALUES ($1,$2,$3,NOW()) ON CONFLICT (user_id) DO UPDATE SET token=EXCLUDED.token, expires_at=EXCLUDED.expires_at, created_at=NOW()",
        "options": {}
      },
      "id": "bacbcc07-5a66-4126-9676-c3c3f4adc42f",
      "name": "DB — Save Reset Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1152,
        992
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {},
      "id": "1d36310a-e846-46e3-b224-154fc2a163f0",
      "name": "No-op — Email Not Found (Silent)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        1152
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Request gagal' }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2ec482a3-d03e-4fef-9656-586d60320b61",
      "name": "400 — Forgot Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 6,
        "receipients": "={{ $('DB — Insert User').first().json.email }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1664,
        416
      ],
      "id": "71947015-6c4c-4c10-9733-b2d4aa2b51ed",
      "name": "Send an email with an existing Template",
      "credentials": {
        "sendInBlueApi": {
          "id": "7kV5Vb1MjCDcY5EF",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 6,
        "receipients": "={{ $('DB — Insert User').first().json.email }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1408,
        992
      ],
      "id": "b5241baa-38cd-4a15-b6e0-00696bc2fd5c",
      "name": "Send an email with an existing Template1",
      "credentials": {
        "sendInBlueApi": {
          "id": "7kV5Vb1MjCDcY5EF",
          "name": "Brevo account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Sign In": {
      "main": [
        [
          {
            "node": "Validate Sign In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Sign In": {
      "main": [
        [
          {
            "node": "DB — Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Find User": {
      "main": [
        [
          {
            "node": "User exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User exists?": {
      "main": [
        [
          {
            "node": "Verify Password",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 — Wrong Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Password": {
      "main": [
        [
          {
            "node": "Account active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account active?": {
      "main": [
        [
          {
            "node": "Generate JWT — Sign In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403 — Account Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT — Sign In": {
      "main": [
        [
          {
            "node": "200 — Sign In OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Sign Up": {
      "main": [
        [
          {
            "node": "Validate Sign Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Sign Up": {
      "main": [
        [
          {
            "node": "DB — Check Duplicate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Check Duplicate Email": {
      "main": [
        [
          {
            "node": "Email taken?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email taken?": {
      "main": [
        [
          {
            "node": "409 — Email Taken",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hash Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password": {
      "main": [
        [
          {
            "node": "DB — Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Insert User": {
      "main": [
        [
          {
            "node": "Generate JWT — Sign Up",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an email with an existing Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT — Sign Up": {
      "main": [
        [
          {
            "node": "201 — Sign Up OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Google OAuth": {
      "main": [
        [
          {
            "node": "Validate Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Google Token": {
      "main": [
        [
          {
            "node": "Google — Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google — Verify Token": {
      "main": [
        [
          {
            "node": "Email verified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email verified?": {
      "main": [
        [
          {
            "node": "DB — Upsert Google User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 — Not Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Upsert Google User": {
      "main": [
        [
          {
            "node": "Generate JWT — Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT — Google": {
      "main": [
        [
          {
            "node": "200 — Google OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Forgot Password": {
      "main": [
        [
          {
            "node": "Validate Forgot Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Forgot Email": {
      "main": [
        [
          {
            "node": "200 — Forgot (Always OK)",
            "type": "main",
            "index": 0
          },
          {
            "node": "DB — Find Active User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Find Active User": {
      "main": [
        [
          {
            "node": "User found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User found?": {
      "main": [
        [
          {
            "node": "Generate Reset Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-op — Email Not Found (Silent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reset Token": {
      "main": [
        [
          {
            "node": "DB — Save Reset Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB — Save Reset Token": {
      "main": [
        [
          {
            "node": "Send an email with an existing Template1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "200 — Google OK": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e500e7be-8cf3-43e8-87e1-ffbf99041c88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bc038e49b07af2e3e858246c7c482b54ba66879f695b1ba1f1900faa8f7d141"
  },
  "id": "rgu4LOs5XOO0hD5y",
  "tags": []
}