api/SpeakUp — Page Tutor API.json
{
  "name": "SpeakUp — Page Tutor API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conversation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "6a69cf78-8522-4709-ba18-711bd471707c",
      "name": "Webhook — POST /conversation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4784,
        320
      ],
      "webhookId": "0fae3503-e042-4c85-a575-b15ba4aa490a"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Validate & Extract Input\n// v3 — Termasuk level (A1-C2) + user_name\n// ============================================================\n\nconst data = $input.first().json.body || $input.first().json;\n\nconst {\n  session_id,\n  user_id,\n  object_key,\n  topic,\n  level,\n  user_name\n} = data;\n\nif (!object_key) {\n  throw new Error('object_key wajib diisi. Upload audio ke /upload/presign terlebih dahulu.');\n}\nif (!session_id) {\n  throw new Error('session_id wajib diisi.');\n}\n\nreturn [{\n  json: {\n    session_id,\n    user_id,\n    user_name: (user_name || 'Friend').trim(),\n    object_key,\n    topic:  topic || 'Daily Life',\n    level:  (level || 'A1').toUpperCase()\n  }\n}];\n"
      },
      "id": "8cfc0073-3f56-4bed-9daf-93747bcc12f8",
      "name": "Validate & Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4592,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            },
            {
              "name": "X-Title",
              "value": "English AI Tutor"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.llm_request_body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "91d5fdae-ec8c-4b89-b9ef-ed55c561ec5c",
      "name": "OpenRouter LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2944,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Parse LLM Response\n// v6 — HANYA parse conversation + pattern_to_use\n//      Grammar check dihandle oleh node terpisah (HTTP Request)\n// ============================================================\n\nconst llmResponse = $input.first().json;\nconst prevData = $('Extract Transcription').first().json;\n\nlet fullText = '';\nif (llmResponse.choices && llmResponse.choices[0]) {\n  fullText = llmResponse.choices[0].message?.content || '';\n}\nif (!fullText) throw new Error('LLM tidak mengembalikan response.');\n\nlet parsed;\ntry {\n  const cleaned = fullText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM tidak mengembalikan JSON valid. Raw: ' + fullText.slice(0, 200));\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    conversation_text: parsed.conversation || '',\n    pattern_to_use:    parsed.pattern_to_use || 'NONE',\n    full_llm_response: fullText\n  }\n}];"
      },
      "id": "5d7b14f4-96b2-4665-a04b-821273de820e",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"x-ai/grok-voice-tts-1.0\",\n  \"input\": {{ JSON.stringify($json.tts_conversation_text) }},\n  \"voice\": \"Ara\",\n  \"language\": \"en\",\n  \"response_format\": \"mp3\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "10983af8-40e1-481b-9607-3f09e7098589",
      "name": "Grok TTS — Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, topic, session_id, role, message, created_at)\nVALUES (\n  '{{ $json.user_id }}', -- Mengambil ID user langsung dari data JSON di atas\n  '{{ $json.topic }}',\n  '{{ $json.session_id }}',\n  'assistant',\n  '{{ $json.conversation_text.replace(/'/g, \"''\") }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "58b6e6d6-f72a-4ffd-ba95-4159947a0c28",
      "name": "Save Conversation to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1632,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Check if Correction Exists\n// v6 — ambil data dari Parse Grammar Response\n// ============================================================\n\nconst data = $('Parse Grammar Response').first().json;\n\nif (data.correction && data.correction.has_error) {\n  return [{ json: data }];\n}\nreturn [];"
      },
      "id": "04a4a3c1-2533-4435-ba97-bd7a618293c7",
      "name": "Check if Correction Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        656
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO corrections (user_id, topic, session_id, wrong_text, correct_text, reason, created_at)\nVALUES (\n  '{{ $json.user_id }}', -- Mengambil ID user langsung dari data JSON di atas\n  '{{ $json.topic }}',\n  '{{ $json.session_id }}',\n  '{{ $json.correction.wrong.replace(/'/g, \"''\") }}',\n  '{{ $json.correction.right.replace(/'/g, \"''\") }}',\n  '{{ $json.correction.reason.replace(/'/g, \"''\") }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "d0ca9ef1-cbec-48c3-bc25-722d7e02875b",
      "name": "Save Correction to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1760,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Build Final Response v9\n// Sequential TTS flow:\n//   1. correction_audio_url (kalau has_error = true)\n//   2. audio_url (conversation — selalu ada)\n// ============================================================\n\nconst grammarData  = $('Parse Grammar Response').first().json;\nconst whisperNode  = $('Extract Transcription').first().json;\n\nconst sessionId    = grammarData.session_id;\nconst hasError     = grammarData.correction && grammarData.correction.has_error === true;\n\nconst audioUrl           = `http://localhost:9002/audio-uploads/audio/${sessionId}.mp3`;\nconst correctionAudioUrl = hasError\n  ? `http://localhost:9002/audio-uploads/audio/${sessionId}_correction.mp3`\n  : null;\n\n// Debug log (tampil di n8n execution output)\nconsole.log('[BuildFinalResponse] session_id:', sessionId);\nconsole.log('[BuildFinalResponse] has_error:', hasError);\nconsole.log('[BuildFinalResponse] correction_audio_url:', correctionAudioUrl);\nconsole.log('[BuildFinalResponse] audio_url:', audioUrl);\nconsole.log('[BuildFinalResponse] correction obj:', JSON.stringify(grammarData.correction));\n\nreturn [{\n  json: {\n    success:                 true,\n    session_id:              sessionId,\n    user_text:               whisperNode.user_text || 'Audio processed',\n    conversation:            grammarData.conversation_text,\n    pattern_to_use:          grammarData.pattern_to_use || 'NONE',\n    correction:              grammarData.correction,\n    audio_url:               audioUrl,\n    audio_format:            'mp3',\n    correction_audio_url:    correctionAudioUrl,\n    correction_audio_format: 'mp3'\n  }\n}];"
      },
      "id": "a3ec18d9-5ac4-43f4-8d6a-2267b4842c83",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5c55b5f3-a6ff-43a8-8b5e-0c8881a674c5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        112,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session/start",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "0d91daf2-3f4a-46e7-b942-470d5410806b",
      "name": "Webhook — POST /session/start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4768,
        576
      ],
      "webhookId": "5eca1f8e-80b4-49a5-812a-7d5bd656213e"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (user_id, topic, level, started_at)\nVALUES (\n  '{{ $json.body.user_id }}',\n  '{{ ($json.body.topic || 'Daily Life').replace(/'/g, \"''\") }}',\n  '{{ ($json.body.level || 'A1').replace(/'/g, \"''\") }}',\n  NOW()\n)\nRETURNING id, user_id, topic, level, started_at;",
        "options": {}
      },
      "id": "d184c014-3664-48ec-9ac4-892c9e6d6aef",
      "name": "Create Session in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4544,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Build Session Response\n// v2 — Level-aware + Vocab topic support\n// ============================================================\n\nconst dbResult = $input.first().json;\nconst body = $('Webhook — POST /session/start').first().json.body;\n\nconst rawTopic = body.topic || 'Daily Life';\nconst userName = (body.user_name || 'Friend').trim();\nconst level = (body.level || 'A1').toUpperCase();\n\n// Deteksi apakah ini mode Vocab Practice\nconst isVocab = rawTopic.startsWith('Practice vocabulary:');\nconst vocabWords = isVocab ? rawTopic.replace('Practice vocabulary:', '').trim() : '';\n\n// Normalized topic key untuk lookup\nconst topic = isVocab ? 'Vocab' : rawTopic;\n\n// Level descriptions untuk opening message\nconst levelDescriptions = {\n  'A1': 'absolute beginner',\n  'A2': 'elementary',\n  'B1': 'intermediate',\n  'B2': 'upper-intermediate',\n  'C1': 'advanced',\n  'C2': 'proficient/native-like'\n};\nconst levelDesc = levelDescriptions[level] || 'beginner';\n\n// Opening messages berdasarkan topik\nconst openingMessages = {\n  'Daily Life':            `Hi! Let's talk about daily life. What does your typical morning look like?`,\n  'Food & Cooking':        `Hey there! I love talking about food. What's your favorite dish to eat or cook?`,\n  'Travel & Places':       `Let's talk about travel! Have you been to any interesting places recently?`,\n  'Work & Career':         `Great topic! Tell me about your work. What do you do for a living?`,\n  'Hobbies & Interests':   `Fun topic! What do you like to do in your free time?`,\n  'Technology':            `Tech is always exciting! Are you into any new gadgets or apps lately?`,\n  'Movies & Entertainment':`I love movies! What kind of films or shows are you into?`,\n  'Health & Fitness':      `Great choice! Do you have any workout routine or health habits you follow?`,\n  'Family & Relationships':`Family is important! Tell me a little about your family.`,\n  'Current Events':        `Let's talk about what's happening in the world. Anything interesting you've noticed lately?`,\n  'Vocab':                 `Great! Let's practice your target vocabulary: **${vocabWords}**. I'll help you use each word naturally in conversation. Can you try using one of these words in a sentence right now?`\n};\n\n// Pattern awal per topik\nconst openingPatterns = {\n  'Daily Life':            'I wake up at [time]. OR My morning is [adjective].',\n  'Food & Cooking':        'My favorite food is [food]. OR I like to eat [food].',\n  'Travel & Places':       'Yes, I went to [place]. OR No, I did not travel recently.',\n  'Work & Career':         'I am a [job]. OR I work at [place].',\n  'Hobbies & Interests':   'I like to [activity]. OR My hobby is [activity].',\n  'Technology':            'Yes, I use [gadget/app]. OR No, I do not use new gadgets.',\n  'Movies & Entertainment':'I like [genre] movies. OR My favorite show is [name].',\n  'Health & Fitness':      'Yes, I [activity] every day. OR No, I do not exercise much.',\n  'Family & Relationships':'I have [number] family members. OR My family is [adjective].',\n  'Current Events':        'I heard about [topic]. OR I think [topic] is interesting.',\n  'Vocab':                 `[vocab word] means [meaning]. OR I use [vocab word] when [situation].`\n};\n\nconst openingMessage = openingMessages[topic] || `Hi! Let's have a conversation in English. How are you today?`;\nconst patternToUse   = openingPatterns[topic]  || 'I think... OR I like...';\n\nreturn [\n  {\n    json: {\n      success:         true,\n      session_id:      dbResult.id,\n      user_id:         dbResult.user_id,\n      topic:           dbResult.topic,\n      level,\n      level_desc:      levelDesc,\n      is_vocab:        isVocab,\n      vocab_words:     vocabWords,\n      opening_message: openingMessage,\n      pattern_to_use:  patternToUse\n    }\n  }\n];\n"
      },
      "id": "ee4eca36-accb-468b-9c9c-8434555c4f10",
      "name": "Build Session Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4320,
        576
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Build Session Response').first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "81b8f7ba-2017-45f5-b6eb-4aa3e66cbf51",
      "name": "Respond Session",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3840,
        576
      ]
    },
    {
      "parameters": {
        "path": "corrections/:session_id",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "5895f9d0-bb8d-4b61-8f7c-df6243a8d087",
      "name": "Webhook — GET /corrections/:session_id",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4768,
        816
      ],
      "webhookId": "47b4a619-000d-4df6-bd3c-32bfe6f7b8c1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  wrong_text,\n  correct_text,\n  reason,\n  created_at\nFROM corrections\nWHERE session_id = '{{ $json.params.session_id }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "id": "dcf9f967-a32e-4498-a358-0e637dc9bda0",
      "name": "Get Corrections from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4544,
        816
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Build Corrections Response\n// ============================================================\n\nconst items = $input.all();\nconst corrections = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      success: true,\n      session_id: $('Webhook — GET /corrections/:session_id').first().json.params.session_id,\n      total: corrections.length,\n      corrections\n    }\n  }\n];"
      },
      "id": "be64b5ad-edc8-4baf-9c56-733409c859e9",
      "name": "Build Corrections Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4320,
        816
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4d8e2c52-8f89-4ab9-ac7a-fb83e4cf67aa",
      "name": "Respond Corrections",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4096,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Extract Transcription\n// Ambil hasil Whisper + gabungkan dengan metadata dari upstream\n// ============================================================\n\nconst whisperResponse = $input.first().json;\nconst prevData = $('Fetch Audio from MinIO').first().json;  // updated reference\n\nlet transcribedText = '';\nif (whisperResponse.text) {\n  transcribedText = whisperResponse.text.trim();\n} else if (whisperResponse.data) {\n  transcribedText = whisperResponse.data.trim();\n} else if (typeof whisperResponse === 'string') {\n  transcribedText = whisperResponse.trim();\n}\n\nif (!transcribedText) {\n  throw new Error('Whisper gagal transkrip. Response: ' + JSON.stringify(whisperResponse));\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    user_text: transcribedText\n  }\n}];\n"
      },
      "id": "1ad00ca2-91d6-49f0-9f79-804a608ca121",
      "name": "Extract Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3632,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, message\nFROM (\n  SELECT role, message, created_at,\n         ROW_NUMBER() OVER (ORDER BY created_at DESC) as rn\n  FROM conversations\n  WHERE session_id::text = '{{ $(\"Extract Transcription\").first().json.session_id }}'\n) sub\nWHERE rn > 1\nORDER BY created_at ASC\nLIMIT 20;",
        "options": {}
      },
      "id": "73f7be05-eebc-4374-9132-60cbab0c704c",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3248,
        336
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Build Messages with History\n// v6 — Level-aware (A1-C2) + Vocab mode support\n// ============================================================\n\nconst inputData = $('Extract Transcription').first().json;\n\nconst rawTopic = (inputData.topic || 'Daily Life').trim();\nconst level    = (inputData.level  || 'A1').toUpperCase();\nconst userName = (inputData.user_name || 'Friend').trim();\n\nconst historyRows = $input.all();\n\nlet latestUserText = (inputData.user_text || '').trim();\nif (!latestUserText) {\n  latestUserText = \"(User said nothing or audio was unclear)\";\n}\n\nconst allHistory = historyRows\n  .map(r => r.json)\n  .filter(r => r.role && r.message);\n\nlet historySlice = allHistory.slice(-18);\nif (historySlice.length % 2 !== 0) {\n  historySlice = historySlice.slice(1);\n}\n\n// Level ke CEFR instructions\nconst levelInstructions = {\n  'A1': 'Use only the simplest Present Simple sentences. Max 6 words per sentence. Vocabulary: extremely basic (colors, numbers, family, food). One very simple question at a time.',\n  'A2': 'Use Present Simple and Present Continuous. Short sentences (8 words max). Basic everyday vocabulary. Ask simple questions about daily routines.',\n  'B1': 'Use a variety of tenses (Past Simple, Present Perfect, Future). Medium sentences. Everyday vocabulary with some idioms. Ask open-ended questions.',\n  'B2': 'Use complex sentences with subordinate clauses. Mix of tenses including conditionals. Wider vocabulary, phrasal verbs. Thought-provoking questions.',\n  'C1': 'Use sophisticated sentence structures. Advanced vocabulary, collocations, idiomatic expressions. Nuanced questions requiring detailed answers.',\n  'C2': 'Use near-native complexity. Highly idiomatic, nuanced, culturally aware language. Engage in abstract discussion and debate.'\n};\nconst levelInstruction = levelInstructions[level] || levelInstructions['A1'];\n\n// Detect Vocab mode\nconst isVocab = rawTopic.startsWith('Practice vocabulary:');\nconst vocabWords = isVocab ? rawTopic.replace('Practice vocabulary:', '').trim() : '';\nconst displayTopic = isVocab ? 'Vocabulary Practice' : rawTopic;\n\n// Build system prompt\nlet systemPrompt;\n\nif (isVocab) {\n  systemPrompt = `You are a friendly AI English tutor for an Indonesian student named ${userName} at CEFR level ${level}.\n\nTHE STUDENT IS PRACTICING THESE TARGET VOCABULARY WORDS: \"${vocabWords}\"\n\nYOUR MISSION:\n- Naturally weave the target vocabulary words into the conversation one or two at a time.\n- Encourage the student to use those words in their answers.\n- Gently guide them if they haven't used a word yet, e.g. \"Can you try to use the word **resilient** in a sentence?\"\n- Bold the target vocabulary words wherever they appear: **ubiquitous**, **resilient**.\n\nLANGUAGE LEVEL RULES FOR ${level}:\n${levelInstruction}\n\nOUTPUT: Strictly valid JSON only. No markdown, no backticks.\n{\n  \"conversation\": \"Your response + question encouraging use of a target vocab word with **bold** formatting.\",\n  \"pattern_to_use\": \"Try: '[vocab word] means... OR In my life, [vocab word] is...'.\"\n}`;\n} else {\n  systemPrompt = `You are a friendly, enthusiastic AI English tutor for an Indonesian student named ${userName} at CEFR level ${level}.\n\nTHE CURRENT CONVERSATION TOPIC IS: \"${displayTopic}\"\nYou must base your comments and questions strictly on this topic.\n\nLANGUAGE LEVEL RULES FOR ${level}:\n${levelInstruction}\n\nGENERAL RULES:\n1. Be encouraging, warm, and highly conversational.\n2. Ask exactly 1 NEW question relevant to the topic. Bold key vocabulary like **apple**.\n3. Do NOT focus on cliche examples unless explicitly brought up by the student.\n4. Never repeat the same question twice in a row.\n\nOUTPUT: Strictly valid JSON only. No markdown, no backticks.\n{\n  \"conversation\": \"Your level-appropriate response + your next topic-related question with **bold** vocabulary.\",\n  \"pattern_to_use\": \"Simple answer template or options for your question.\"\n}`;\n}\n\nconst messages = [\n  { role: \"system\", content: systemPrompt },\n  ...historySlice.map(row => ({ role: row.role, content: row.message })),\n  { role: \"user\", content: latestUserText }\n];\n\nconst requestBody = JSON.stringify({\n  model: \"google/gemini-2.5-flash-lite\",\n  max_tokens: 350,\n  messages: messages,\n  temperature: 1.0,\n  response_format: { type: \"json_object\" }\n});\n\nreturn [{\n  json: {\n    ...inputData,\n    user_text: latestUserText,\n    llm_request_body: requestBody,\n    history_length: historySlice.length / 2\n  }\n}];\n"
      },
      "id": "a070a7f8-da04-4284-b064-0e422fa73e9f",
      "name": "Build Messages with History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload/presign",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "476c9bd3-29ce-47db-9b27-2a9903f5f3e7",
      "name": "Webhook — POST /upload/presign",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4768,
        1008
      ],
      "webhookId": "e71d2f4d-3b03-4a55-99f1-8598a935f717"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// VANILLA JAVASCRIPT SHA-256 & HMAC IMPLEMENTATION (Sandbox-Friendly)\n// ============================================================================\nfunction sha256_pure(ascii) {\n  function rightRotate(value, amount) { return (value >>> amount) | (value << (32 - amount)); }\n  var mathPow = Math.pow, maxWord = mathPow(2, 32), result = '', words = [];\n  var asciiLength = ascii.length, hash = [], k = [], primeCounter = 0, isPrime = {};\n  for (var i = 2; primeCounter < 64; i++) {\n    if (!isPrime[i]) {\n      for (var j = i * i; j < 312; j += i) { isPrime[j] = true; }\n      if (primeCounter < 8) hash[primeCounter] = (mathPow(i, .5) * maxWord) | 0;\n      k[primeCounter] = (mathPow(i, 1 / 3) * maxWord) | 0; primeCounter++;\n    }\n  }\n  ascii += '\\x80'; while (ascii.length % 64 - 56) ascii += '\\x00';\n  for (var i = 0; i < ascii.length; i++) { var j = ascii.charCodeAt(i); words[i >> 2] |= j << (24 - (i % 4) * 8); }\n  words[words.length] = ((asciiLength * 8) / maxWord) | 0; words[words.length] = (asciiLength * 8) | 0;\n  for (var j = 0; j < words.length; j += 16) {\n    var w = words.slice(j, j + 16), oldHash = hash.slice(0);\n    for (var i = 0; i < 64; i++) {\n      if (i >= 16) {\n        var w15 = w[i - 15], w2 = w[i - 2];\n        var s0 = rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3);\n        var s1 = rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10);\n        w[i] = (w[i - 16] + s0 + w[i - 7] + s1) | 0;\n      }\n      var ch = (hash[4] & hash[5]) ^ (~hash[4] & hash[6]), maj = (hash[0] & hash[1]) ^ (hash[0] & hash[2]) ^ (hash[1] & hash[2]);\n      var s0_h = rightRotate(hash[0], 2) ^ rightRotate(hash[0], 13) ^ rightRotate(hash[0], 22), s1_h = rightRotate(hash[4], 6) ^ rightRotate(hash[4], 11) ^ rightRotate(hash[4], 25);\n      var t1 = (hash[7] + s1_h + ch + k[i] + (w[i] || 0)) | 0, t2 = (s0_h + maj) | 0;\n      hash = [(t1 + t2) | 0].concat(hash); hash[4] = (hash[4] + t1) | 0; hash.length = 8;\n    }\n    for (var i = 0; i < 8; i++) hash[i] = (hash[i] + oldHash[i]) | 0;\n  }\n  for (var i = 0; i < 8; i++) result += (('00000000' + (hash[i] >>> 0).toString(16)).slice(-8));\n  return result;\n}\n\nfunction hexToBytes(hex) { var bytes = []; for (var c = 0; c < hex.length; c += 2) bytes.push(parseInt(hex.substr(c, 2), 16)); return bytes; }\nfunction stringToBytes(str) { var bytes = []; for (var i = 0; i < str.length; i++) bytes.push(str.charCodeAt(i) & 0xFF); return bytes; }\nfunction hmac_sha256_pure(key, data, returnBytes = false) {\n  var bKey = (typeof key === 'string') ? stringToBytes(key) : key, bData = (typeof data === 'string') ? stringToBytes(data) : data;\n  if (bKey.length > 64) bKey = hexToBytes(sha256_pure(String.fromCharCode.apply(null, bKey)));\n  while (bKey.length < 64) bKey.push(0);\n  var ipad = [], opad = []; for (var i = 0; i < 64; i++) { ipad.push(bKey[i] ^ 0x36); opad.push(bKey[i] ^ 0x5C); }\n  var innerData = ipad.concat(bData), innerHashHex = sha256_pure(String.fromCharCode.apply(null, innerData));\n  var outerData = opad.concat(hexToBytes(innerHashHex)), outerHashHex = sha256_pure(String.fromCharCode.apply(null, outerData));\n  return returnBytes ? hexToBytes(outerHashHex) : outerHashHex;\n}\n\nfunction getSignatureKeyPure(key, dateStamp, regionName, serviceName) {\n  const kDate = hmac_sha256_pure('AWS4' + key, dateStamp, true);\n  const kRegion = hmac_sha256_pure(kDate, regionName, true);\n  const kService = hmac_sha256_pure(kRegion, serviceName, true);\n  return hmac_sha256_pure(kService, 'aws4_request', true);\n}\n\n// ============================================================================\n// MAIN GENERATOR LOGIC (STRICT FIXED FOR BROWSER PUT)\n// ============================================================================\nconst bucket = 'audio-uploads';\nconst accessKey = 'isi_bebas_min3karakter'; \nconst secretKey = 'isi_bebas_min8karakter'; \nconst region = 'us-east-1';\n\nfunction buildBrowserPresignedUrl(method, objectKey, expiresIn = 900) {\n  const date = new Date();\n  const amzDate = date.toISOString().replace(/[:-]/g, '').split('.')[0] + 'Z';\n  const dateStamp = amzDate.substr(0, 8);\n  const credential = `${accessKey}/${dateStamp}/${region}/s3/aws4_request`;\n\n  const signatureHost = 'localhost:9002';\n  const baseEndpoint = 'http://localhost:9002';\n\n  const qsParams = [\n    ['X-Amz-Algorithm', 'AWS4-HMAC-SHA256'],\n    ['X-Amz-Credential', credential],\n    ['X-Amz-Date', amzDate],\n    ['X-Amz-Expires', String(expiresIn)],\n    ['X-Amz-SignedHeaders', 'host'],\n  ];\n\n  // Susun query string terurut secara alfabetis\n  const qs = qsParams.map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(v)}`).join('&');\n\n  // Perbaikan struktur Newline (\\n) Canonical Request AWS V4 yang sangat presisi\n  const canonicalRequest = [\n    method,\n    '/' + bucket + '/' + objectKey,\n    qs,\n    'host:' + signatureHost,  // Tanpa manual \\n tambahan di ujung string, biarkan join('\\n') yang bekerja\n    '',                       // Spasi kosong untuk memisahkan daftar Signed Headers dengan Canonical Headers\n    'host',\n    'UNSIGNED-PAYLOAD'\n  ].join('\\n');\n\n  const stringToSign = [\n    'AWS4-HMAC-SHA256',\n    amzDate,\n    `${dateStamp}/${region}/s3/aws4_request`,\n    sha256_pure(canonicalRequest)\n  ].join('\\n');\n\n  const signingKey = getSignatureKeyPure(secretKey, dateStamp, region, 's3');\n  const signature = hmac_sha256_pure(signingKey, stringToSign);\n\n  return `${baseEndpoint}/${bucket}/${objectKey}?${qs}&X-Amz-Signature=${signature}`;\n}\n\n// --- EXECUTION ---\nconst body = $input.first().json.body || {};\nconst session_id = body.session_id || 'default-session';\n\nconst timestamp = Date.now();\nconst randomString = Math.random().toString(36).substring(7);\nconst objectKey = `audio/${session_id}/${timestamp}_${randomString}.webm`;\n\nconst presignedUrlForBrowser = buildBrowserPresignedUrl('PUT', objectKey, 900);\n\nreturn [{\n  json: {\n    success: true,\n    presigned_url: presignedUrlForBrowser,\n    object_key: objectKey,\n    bucket_name: bucket\n  }\n}];"
      },
      "id": "022e4a96-9859-400b-8048-7cfb04978a67",
      "name": "Generate Presigned URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4544,
        1008
      ]
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d2e5d84d-48f0-40cf-9623-e414178f3b80",
      "name": "Respond Presign",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4320,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Pure JS SHA-256 & HMAC-SHA256 — zero dependencies\n// Verified correct against Node.js crypto module\n// ============================================================\nfunction _sha256Bytes(inputBytes) {\n  const H=[0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  const bytes=[...inputBytes];\n  const origLen=bytes.length;\n  bytes.push(0x80);\n  while(bytes.length%64!==56)bytes.push(0);\n  const bitLen=origLen*8;\n  bytes.push(0,0,0,0,(bitLen>>>24)&0xff,(bitLen>>>16)&0xff,(bitLen>>>8)&0xff,bitLen&0xff);\n  const h=[...H];\n  for(let i=0;i<bytes.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w[j]=((bytes[i+j*4]<<24)|(bytes[i+j*4+1]<<16)|(bytes[i+j*4+2]<<8)|bytes[i+j*4+3])>>>0;\n    for(let j=16;j<64;j++){const s0=(((w[j-15]>>>7)|(w[j-15]<<25))^((w[j-15]>>>18)|(w[j-15]<<14))^(w[j-15]>>>3))>>>0;const s1=(((w[j-2]>>>17)|(w[j-2]<<15))^((w[j-2]>>>19)|(w[j-2]<<13))^(w[j-2]>>>10))>>>0;w[j]=(w[j-16]+s0+w[j-7]+s1)>>>0;}\n    let a=h[0],b=h[1],c=h[2],d=h[3],e=h[4],f=h[5],g=h[6],hh=h[7];\n    for(let j=0;j<64;j++){const S1=(((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7)))>>>0;const ch=((e&f)^((~e>>>0)&g))>>>0;const tmp1=(hh+S1+ch+K[j]+w[j])>>>0;const S0=(((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10)))>>>0;const maj=((a&b)^(a&c)^(b&c))>>>0;const tmp2=(S0+maj)>>>0;hh=g;g=f;f=e;e=(d+tmp1)>>>0;d=c;c=b;b=a;a=(tmp1+tmp2)>>>0;}\n    h[0]=(h[0]+a)>>>0;h[1]=(h[1]+b)>>>0;h[2]=(h[2]+c)>>>0;h[3]=(h[3]+d)>>>0;h[4]=(h[4]+e)>>>0;h[5]=(h[5]+f)>>>0;h[6]=(h[6]+g)>>>0;h[7]=(h[7]+hh)>>>0;\n  }\n  return h.map(v=>v.toString(16).padStart(8,'0')).join('');\n}\nfunction _strToBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048){b.push((c>>6)|192);b.push((c&63)|128);}else{b.push((c>>12)|224);b.push(((c>>6)&63)|128);b.push((c&63)|128);}}return b;}\nfunction _hexToBytes(hex){const b=[];for(let i=0;i<hex.length;i+=2)b.push(parseInt(hex.slice(i,i+2),16));return b;}\nfunction sha256Hex(input){return _sha256Bytes(typeof input==='string'?_strToBytes(input):input);}\nfunction hmacSha256(keyInput,msgInput){\n  let key=typeof keyInput==='string'?_strToBytes(keyInput):[...keyInput];\n  const msg=typeof msgInput==='string'?_strToBytes(msgInput):[...msgInput];\n  if(key.length>64)key=_hexToBytes(_sha256Bytes(key));\n  while(key.length<64)key.push(0);\n  const opad=key.map(b=>(b^0x5c)&0xff);\n  const ipad=key.map(b=>(b^0x36)&0xff);\n  const innerBytes=_hexToBytes(_sha256Bytes([...ipad,...msg]));\n  return _hexToBytes(_sha256Bytes([...opad,...innerBytes]));\n}\nfunction hmacSha256Hex(keyInput,msgInput){return hmacSha256(keyInput,msgInput).map(b=>b.toString(16).padStart(2,'0')).join('');}\nfunction randomHex(byteCount){let r='';for(let i=0;i<byteCount*2;i++)r+=Math.floor(Math.random()*16).toString(16);return r;}\n\n// Parse host from URL string — no URL/URLSearchParams globals needed\nfunction _extractHost(endpoint) {\n  // endpoint e.g. \"http://minio:9000\" or \"https://minio.example.com\"\n  const withoutProto = endpoint.replace(/^https?:\\/\\//i, '');\n  // strip any path\n  const slashIdx = withoutProto.indexOf('/');\n  return slashIdx === -1 ? withoutProto : withoutProto.slice(0, slashIdx);\n}\n\n// Build query string manually — no URLSearchParams needed\nfunction _buildQueryString(params) {\n  // params is an ordered array of [key, value] pairs\n  // AWS requires percent-encoding of special chars in values\n  function pctEncode(str) {\n    return String(str).replace(/[^A-Za-z0-9\\-_.~]/g, ch => {\n      const hex = ch.charCodeAt(0).toString(16).toUpperCase();\n      return '%' + (hex.length === 1 ? '0' + hex : hex);\n    });\n  }\n  return params.map(([k, v]) => pctEncode(k) + '=' + pctEncode(v)).join('&');\n}\n\nfunction buildPresignedUrl({endpoint, bucket, objectKey, accessKey, secretKey, region, method, expiresIn}) {\n  const now = new Date();\n  const dateStamp = now.toISOString().slice(0,10).replace(/-/g,'');\n  const amzDate   = now.toISOString().replace(/[:-]|\\\\.\\\\d{3}/g,'');\n  const host      = _extractHost(endpoint);\n\n  const credentialScope = dateStamp + '/' + region + '/s3/aws4_request';\n  const credential      = accessKey + '/' + credentialScope;\n\n  // Query params MUST be in sorted order for AWS Sig V4\n  const qsParams = [\n    ['X-Amz-Algorithm',     'AWS4-HMAC-SHA256'],\n    ['X-Amz-Credential',    credential],\n    ['X-Amz-Date',          amzDate],\n    ['X-Amz-Expires',       String(expiresIn)],\n    ['X-Amz-SignedHeaders', 'host'],\n  ];\n  // Already sorted alphabetically by key — AWS requirement satisfied\n\n  const qs = _buildQueryString(qsParams);\n\n  const canonicalRequest = [\n    method,\n    '/' + bucket + '/' + objectKey,\n    qs,\n    'host:' + host + '\\n',\n    'host',\n    'UNSIGNED-PAYLOAD'\n  ].join('\\n');\n\n  const canonicalHash = sha256Hex(canonicalRequest);\n  const stringToSign  = ['AWS4-HMAC-SHA256', amzDate, credentialScope, canonicalHash].join('\\n');\n\n  let sigKey = hmacSha256('AWS4' + secretKey, dateStamp);\n  sigKey = hmacSha256(sigKey, region);\n  sigKey = hmacSha256(sigKey, 's3');\n  sigKey = hmacSha256(sigKey, 'aws4_request');\n  const signature = hmacSha256Hex(sigKey, stringToSign);\n\n  return endpoint + '/' + bucket + '/' + objectKey + '?' + qs + '&X-Amz-Signature=' + signature;\n}\n// ============================================================\n// Node: Fetch Audio from MinIO\n// Generate presigned GET URL lalu fetch binary audio\n// ============================================================\n\nconst { object_key, session_id, user_id, topic, level } = $input.first().json;\n\nconst endpoint  = $env.MINIO_ENDPOINT;\nconst bucket    = $env.MINIO_BUCKET;\nconst accessKey = $env.MINIO_ACCESS_KEY;\nconst secretKey = $env.MINIO_SECRET_KEY;\nconst region    = $env.MINIO_REGION || 'us-east-1';\n\nconst fetch_url = buildPresignedUrl({\n  endpoint, bucket, objectKey: object_key,\n  accessKey, secretKey, region,\n  method: 'GET', expiresIn: 60\n});\n\nreturn [{\n  json: {\n    session_id,\n    user_id,\n    object_key,\n    topic,\n    level,\n    minio_fetch_url: fetch_url\n  }\n}];\n"
      },
      "id": "6631bf62-9593-486f-96ee-eb11e39fbca7",
      "name": "Fetch Audio from MinIO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4416,
        320
      ]
    },
    {
      "parameters": {
        "url": "=http://minio:9000/audio-uploads/{{ $json.object_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 15000
        }
      },
      "id": "a05ebcd9-a63a-45ea-894b-5cd517812759",
      "name": "Download Audio Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4224,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \nJSON.stringify({\n  \"model\": \"openai/whisper-1\",\n  \"language\": \"en\",\n  \"input_audio\": {\n    \"data\": $json.audio_base64,\n    \"format\": \"webm\"\n  }\n}) \n}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4bc1390a-6970-460a-99da-4d53164f8233",
      "name": "Send to Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3808,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Pure JS SHA-256 & HMAC-SHA256 — zero dependencies\n// Verified correct against Node.js crypto module\n// ============================================================\nfunction _sha256Bytes(inputBytes) {\n  const H=[0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  const bytes=[...inputBytes];\n  const origLen=bytes.length;\n  bytes.push(0x80);\n  while(bytes.length%64!==56)bytes.push(0);\n  const bitLen=origLen*8;\n  bytes.push(0,0,0,0,(bitLen>>>24)&0xff,(bitLen>>>16)&0xff,(bitLen>>>8)&0xff,bitLen&0xff);\n  const h=[...H];\n  for(let i=0;i<bytes.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w[j]=((bytes[i+j*4]<<24)|(bytes[i+j*4+1]<<16)|(bytes[i+j*4+2]<<8)|bytes[i+j*4+3])>>>0;\n    for(let j=16;j<64;j++){const s0=(((w[j-15]>>>7)|(w[j-15]<<25))^((w[j-15]>>>18)|(w[j-15]<<14))^(w[j-15]>>>3))>>>0;const s1=(((w[j-2]>>>17)|(w[j-2]<<15))^((w[j-2]>>>19)|(w[j-2]<<13))^(w[j-2]>>>10))>>>0;w[j]=(w[j-16]+s0+w[j-7]+s1)>>>0;}\n    let a=h[0],b=h[1],c=h[2],d=h[3],e=h[4],f=h[5],g=h[6],hh=h[7];\n    for(let j=0;j<64;j++){const S1=(((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7)))>>>0;const ch=((e&f)^((~e>>>0)&g))>>>0;const tmp1=(hh+S1+ch+K[j]+w[j])>>>0;const S0=(((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10)))>>>0;const maj=((a&b)^(a&c)^(b&c))>>>0;const tmp2=(S0+maj)>>>0;hh=g;g=f;f=e;e=(d+tmp1)>>>0;d=c;c=b;b=a;a=(tmp1+tmp2)>>>0;}\n    h[0]=(h[0]+a)>>>0;h[1]=(h[1]+b)>>>0;h[2]=(h[2]+c)>>>0;h[3]=(h[3]+d)>>>0;h[4]=(h[4]+e)>>>0;h[5]=(h[5]+f)>>>0;h[6]=(h[6]+g)>>>0;h[7]=(h[7]+hh)>>>0;\n  }\n  return h.map(v=>v.toString(16).padStart(8,'0')).join('');\n}\nfunction _strToBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048){b.push((c>>6)|192);b.push((c&63)|128);}else{b.push((c>>12)|224);b.push(((c>>6)&63)|128);b.push((c&63)|128);}}return b;}\nfunction _hexToBytes(hex){const b=[];for(let i=0;i<hex.length;i+=2)b.push(parseInt(hex.slice(i,i+2),16));return b;}\nfunction sha256Hex(input){return _sha256Bytes(typeof input==='string'?_strToBytes(input):input);}\nfunction hmacSha256(keyInput,msgInput){\n  let key=typeof keyInput==='string'?_strToBytes(keyInput):[...keyInput];\n  const msg=typeof msgInput==='string'?_strToBytes(msgInput):[...msgInput];\n  if(key.length>64)key=_hexToBytes(_sha256Bytes(key));\n  while(key.length<64)key.push(0);\n  const opad=key.map(b=>(b^0x5c)&0xff);\n  const ipad=key.map(b=>(b^0x36)&0xff);\n  const innerBytes=_hexToBytes(_sha256Bytes([...ipad,...msg]));\n  return _hexToBytes(_sha256Bytes([...opad,...innerBytes]));\n}\nfunction hmacSha256Hex(keyInput,msgInput){return hmacSha256(keyInput,msgInput).map(b=>b.toString(16).padStart(2,'0')).join('');}\nfunction randomHex(byteCount){let r='';for(let i=0;i<byteCount*2;i++)r+=Math.floor(Math.random()*16).toString(16);return r;}\n\n// Parse host from URL string — no URL/URLSearchParams globals needed\nfunction _extractHost(endpoint) {\n  // endpoint e.g. \"http://minio:9000\" or \"https://minio.example.com\"\n  const withoutProto = endpoint.replace(/^https?:\\/\\//i, '');\n  // strip any path\n  const slashIdx = withoutProto.indexOf('/');\n  return slashIdx === -1 ? withoutProto : withoutProto.slice(0, slashIdx);\n}\n\n// Build query string manually — no URLSearchParams needed\nfunction _buildQueryString(params) {\n  // params is an ordered array of [key, value] pairs\n  // AWS requires percent-encoding of special chars in values\n  function pctEncode(str) {\n    return String(str).replace(/[^A-Za-z0-9\\-_.~]/g, ch => {\n      const hex = ch.charCodeAt(0).toString(16).toUpperCase();\n      return '%' + (hex.length === 1 ? '0' + hex : hex);\n    });\n  }\n  return params.map(([k, v]) => pctEncode(k) + '=' + pctEncode(v)).join('&');\n}\n\nfunction buildPresignedUrl({endpoint, bucket, objectKey, accessKey, secretKey, region, method, expiresIn}) {\n  const now = new Date();\n  const dateStamp = now.toISOString().slice(0,10).replace(/-/g,'');\n  const amzDate   = now.toISOString().replace(/[:-]|\\\\.\\\\d{3}/g,'');\n  const host      = _extractHost(endpoint);\n\n  const credentialScope = dateStamp + '/' + region + '/s3/aws4_request';\n  const credential      = accessKey + '/' + credentialScope;\n\n  // Query params MUST be in sorted order for AWS Sig V4\n  const qsParams = [\n    ['X-Amz-Algorithm',     'AWS4-HMAC-SHA256'],\n    ['X-Amz-Credential',    credential],\n    ['X-Amz-Date',          amzDate],\n    ['X-Amz-Expires',       String(expiresIn)],\n    ['X-Amz-SignedHeaders', 'host'],\n  ];\n  // Already sorted alphabetically by key — AWS requirement satisfied\n\n  const qs = _buildQueryString(qsParams);\n\n  const canonicalRequest = [\n    method,\n    '/' + bucket + '/' + objectKey,\n    qs,\n    'host:' + host + '\\n',\n    'host',\n    'UNSIGNED-PAYLOAD'\n  ].join('\\n');\n\n  const canonicalHash = sha256Hex(canonicalRequest);\n  const stringToSign  = ['AWS4-HMAC-SHA256', amzDate, credentialScope, canonicalHash].join('\\n');\n\n  let sigKey = hmacSha256('AWS4' + secretKey, dateStamp);\n  sigKey = hmacSha256(sigKey, region);\n  sigKey = hmacSha256(sigKey, 's3');\n  sigKey = hmacSha256(sigKey, 'aws4_request');\n  const signature = hmacSha256Hex(sigKey, stringToSign);\n\n  return endpoint + '/' + bucket + '/' + objectKey + '?' + qs + '&X-Amz-Signature=' + signature;\n}\n// ============================================================\n// Node: Delete Audio from MinIO\n// Hapus file setelah berhasil ditranskrip — hemat storage\n// ============================================================\n\nconst prevData   = $('Fetch Audio from MinIO').first().json;\nconst { object_key } = prevData;\n\nconst endpoint  = $env.MINIO_ENDPOINT;\nconst bucket    = $env.MINIO_BUCKET;\nconst accessKey = $env.MINIO_ACCESS_KEY;\nconst secretKey = $env.MINIO_SECRET_KEY;\nconst region    = $env.MINIO_REGION || 'us-east-1';\n\nconst delete_url = buildPresignedUrl({\n  endpoint, bucket, objectKey: object_key,\n  accessKey, secretKey, region,\n  method: 'DELETE', expiresIn: 30\n});\n\ntry {\n  const resp = await fetch(delete_url, { method: 'DELETE' });\n  return [{ json: { deleted: resp.ok, object_key, status: resp.status } }];\n} catch(e) {\n  console.error('MinIO delete failed:', e.message);\n  return [{ json: { deleted: false, object_key, error: e.message } }];\n}\n"
      },
      "id": "4c96222e-9bfb-420c-a694-862e50429140",
      "name": "Delete Audio from MinIO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryFieldName = 'data'; // Sesuaikan dengan nama property biner dari node MinIO\n\nif (!item.binary || !item.binary[binaryFieldName]) {\n  throw new Error(`Data biner '${binaryFieldName}' tidak ditemukan.`);\n}\n\n// Menggunakan helper n8n untuk menarik buffer asli dari filesystem secara aman\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n\n// Konversi langsung ke murni Base64 string linier (seperti buatan browser)\nconst cleanBase64 = binaryBuffer.toString('base64');\n\nreturn [\n  {\n    json: {\n      ...item.json, // Mempertahankan metadata session_id, user_id, dll\n      audio_base64: cleanBase64\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4016,
        320
      ],
      "id": "f07bb9c4-4a1d-485c-8015-92cdc5f8ad8b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.upload_url }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        336
      ],
      "id": "96aa41fb-a2df-4d4b-9401-5fac01a9f7b0",
      "name": "PUT minIO"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ALL-IN-ONE CODE NODE: Presigned PUT URL Generator\n// ============================================================\n\n// --- HELPER FUNCTIONS ---\nfunction _sha256Bytes(inputBytes) {\n  const H=[0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  const bytes=[...inputBytes];\n  const origLen=bytes.length;\n  bytes.push(0x80);\n  while(bytes.length%64!==56)bytes.push(0);\n  const bitLen=origLen*8;\n  bytes.push(0,0,0,0,(bitLen>>>24)&0xff,(bitLen>>>16)&0xff,(bitLen>>>8)&0xff,bitLen&0xff);\n  const h=[...H];\n  for(let i=0;i<bytes.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w[j]=((bytes[i+j*4]<<24)|(bytes[i+j*4+1]<<16)|(bytes[i+j*4+2]<<8)|bytes[i+j*4+3])>>>0;\n    for(let j=16;j<64;j++){const s0=(((w[j-15]>>>7)|(w[j-15]<<25))^((w[j-15]>>>18)|(w[j-15]<<14))^(w[j-15]>>>3))>>>0;const s1=(((w[j-2]>>>17)|(w[j-2]<<15))^((w[j-2]>>>19)|(w[j-2]<<13))^(w[j-2]>>>10))>>>0;w[j]=(w[j-16]+s0+w[j-7]+s1)>>>0;}\n    let a=h[0],b=h[1],c=h[2],d=h[3],e=h[4],f=h[5],g=h[6],hh=h[7];\n    for(let j=0;j<64;j++){const S1=(((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7)))>>>0;const ch=((e&f)^((~e>>>0)&g))>>>0;const tmp1=(hh+S1+ch+K[j]+w[j])>>>0;const S0=(((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10)))>>>0;const maj=((a&b)^(a&c)^(b&c))>>>0;const tmp2=(S0+maj)>>>0;hh=g;g=f;f=e;e=(d+tmp1)>>>0;d=c;c=b;b=a;a=(tmp1+tmp2)>>>0;}\n    h[0]=(h[0]+a)>>>0;h[1]=(h[1]+b)>>>0;h[2]=(h[2]+c)>>>0;h[3]=(h[3]+d)>>>0;h[4]=(h[4]+e)>>>0;h[5]=(h[5]+f)>>>0;h[6]=(h[6]+g)>>>0;h[7]=(h[7]+hh)>>>0;\n  }\n  return h.map(v=>v.toString(16).padStart(8,'0')).join('');\n}\nfunction _strToBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048){b.push((c>>6)|192);b.push((c&63)|128);}else{b.push((c>>12)|224);b.push(((c>>6)&63)|128);b.push((c&63)|128);}}return b;}\nfunction _hexToBytes(hex){const b=[];for(let i=0;i<hex.length;i+=2)b.push(parseInt(hex.slice(i,i+2),16));return b;}\nfunction sha256Hex(input){return _sha256Bytes(typeof input==='string'?_strToBytes(input):input);}\nfunction hmacSha256(keyInput,msgInput){\n  let key=typeof keyInput==='string'?_strToBytes(keyInput):[...keyInput];\n  const msg=typeof msgInput==='string'?_strToBytes(msgInput):[...msgInput];\n  if(key.length>64)key=_hexToBytes(_sha256Bytes(key));\n  while(key.length<64)key.push(0);\n  const opad=key.map(b=>(b^0x5c)&0xff);\n  const ipad=key.map(b=>(b^0x36)&0xff);\n  const innerBytes=_hexToBytes(_sha256Bytes([...ipad,...msg]));\n  return _hexToBytes(_sha256Bytes([...opad,...innerBytes]));\n}\nfunction hmacSha256Hex(keyInput,msgInput){return hmacSha256(keyInput,msgInput).map(b=>b.toString(16).padStart(2,'0')).join('');}\nfunction _extractHost(endpoint) { const withoutProto = endpoint.replace(/^https?:\\/\\//i, ''); const slashIdx = withoutProto.indexOf('/'); return slashIdx === -1 ? withoutProto : withoutProto.slice(0, slashIdx); }\nfunction _buildQueryString(params) { function pctEncode(str) { return String(str).replace(/[^A-Za-z0-9\\-_.~]/g, ch => { const hex = ch.charCodeAt(0).toString(16).toUpperCase(); return '%' + (hex.length === 1 ? '0' + hex : hex); }); } return params.map(([k, v]) => pctEncode(k) + '=' + pctEncode(v)).join('&'); }\n\nfunction buildPresignedUrl({endpoint, bucket, objectKey, accessKey, secretKey, region, method, expiresIn}) {\n  const now = new Date();\n  const dateStamp = now.toISOString().slice(0,10).replace(/-/g,'');\n  const amzDate   = now.toISOString().replace(/[:-]|\\.\\d{3}/g,'');\n  const host      = _extractHost(endpoint);\n  const credentialScope = dateStamp + '/' + region + '/s3/aws4_request';\n  const credential      = accessKey + '/' + credentialScope;\n  const qsParams = [\n    ['X-Amz-Algorithm',       'AWS4-HMAC-SHA256'],\n    ['X-Amz-Credential',      credential],\n    ['X-Amz-Date',            amzDate],\n    ['X-Amz-Expires',         String(expiresIn)],\n    ['X-Amz-SignedHeaders',   'host'],\n  ];\n  const qs = _buildQueryString(qsParams);\n  const canonicalRequest = [ method, '/' + bucket + '/' + objectKey, qs, 'host:' + host + '\\n', 'host', 'UNSIGNED-PAYLOAD' ].join('\\n');\n  const canonicalHash = sha256Hex(canonicalRequest);\n  const stringToSign  = ['AWS4-HMAC-SHA256', amzDate, credentialScope, canonicalHash].join('\\n');\n  let sigKey = hmacSha256('AWS4' + secretKey, dateStamp);\n  sigKey = hmacSha256(sigKey, region);\n  sigKey = hmacSha256(sigKey, 's3');\n  sigKey = hmacSha256(sigKey, 'aws4_request');\n  const signature = hmacSha256Hex(sigKey, stringToSign);\n  return endpoint + '/' + bucket + '/' + objectKey + '?' + qs + '&X-Amz-Signature=' + signature;\n}\n\n// --- LOGIC UTAMA ---\nconst { session_id } = $input.first().json;\n\nconst upload_url = buildPresignedUrl({\n  endpoint: $env.MINIO_ENDPOINT, // Pastikan env ini ada\n  bucket: $env.MINIO_BUCKET,\n  objectKey: 'audio/' + session_id + '.mp3',\n  accessKey: $env.MINIO_ACCESS_KEY,\n  secretKey: $env.MINIO_SECRET_KEY,\n  region: $env.MINIO_REGION || 'us-east-1',\n  method: 'PUT',\n  expiresIn: 60\n});\n\nreturn [{\n  json: { upload_url },\n  binary: $input.first().binary // Ini kuncinya: meneruskan file binary ke node berikutnya\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        336
      ],
      "id": "0b1c357e-b181-461c-a49a-bcbee1d4e5c7",
      "name": "Prepare Audio Upload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, session_id, role, message, created_at)\nVALUES (\n  '{{ $json.user_id }}', -- Mengambil ID user langsung dari data JSON di atas\n  '{{ $json.session_id }}',\n  'assistant',           -- Karena ini pesan pembuka dari AI Tutor Anda\n  '{{ $json.opening_message.replace(/'/g, \"''\") }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "c76db093-6a24-4301-8f84-795dc5276642",
      "name": "Save Opening Message to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4080,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (user_id, session_id, role, message, created_at)\nVALUES (\n  '{{ $json.user_id }}', -- Mengambil ID user langsung dari data JSON di atas\n  '{{ $json.session_id }}',\n  'user',\n  '{{ $json.user_text.replace(/'/g, \"''\") }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "e88a7613-524f-4c63-a3ee-56e45b8f1005",
      "name": "Save User Message to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3440,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Prepare Grammar Request\n// v8 — Direct CEFR level support (A1-C2) + Vocab mode\n// ============================================================\n\nconst prevData = $('Parse LLM Response').first().json;\nconst userText = (prevData.user_text || '').trim();\nconst rawLevel = (prevData.level || 'A1').toUpperCase();\n\n// Map dari pill CEFR langsung, atau dari legacy string\nconst cefrMap = {\n  'A1': 'A1', 'A2': 'A2', 'B1': 'B1', 'B2': 'B2', 'C1': 'C1', 'C2': 'C2',\n  'BEGINNER': 'A1-A2', 'INTERMEDIATE': 'B1-B2', 'ADVANCED': 'C1-C2'\n};\nconst cefrLevel = cefrMap[rawLevel] || rawLevel;\n\n// Untuk Vocab mode — lebih toleran terhadap creative use\nconst rawTopic = (prevData.topic || '').trim();\nconst isVocab = rawTopic.startsWith('Practice vocabulary:');\nconst vocabNote = isVocab\n  ? `\\n- This student is practicing vocabulary. If they use a vocabulary word creatively but grammatically incorrectly, flag the grammar. If usage is unconventional but grammatically fine, accept it.`\n  : '';\n\nconst grammarPrompt = `You are an English grammar checker for Indonesian learners.\n\nThe student is at CEFR level: ${cefrLevel}\n\nTASK: Check if the student's sentence has a grammar error appropriate for their level.\n- For ${cefrLevel} level, focus on errors that are genuinely wrong, not stylistic preferences.\n- Do NOT penalize informal contractions (don't, can't, won't) — these are correct.\n- Punctuation and capitalization are NOT grammar errors. Ignore them.\n- If the sentence is grammatically acceptable, return has_error false.${vocabNote}\n\nSTRICT FORMATTING RULE:\nIn the \"wrong\" and \"right\" fields, wrap the specific word(s) in bold markdown asterisks (**), leaving the rest normal.\nExample: \"wrong\": \"I **doesn't** have a cat\", \"right\": \"I **don't** have a cat\".\n\nOUTPUT: JSON only, no markdown.\n{\"has_error\": true/false, \"wrong\": \"exact input with **bolding** if error, or NONE\", \"right\": \"corrected version with **bolding** if error, or NONE\", \"reason\": \"1 kalimat dalam Bahasa Indonesia yang menjelaskan aturan grammar. Atau NONE jika tidak ada error.\"}`;\n\nconst requestBody = JSON.stringify({\n  model: 'google/gemini-2.5-flash-lite',\n  max_tokens: 300,\n  messages: [\n    { role: 'system', content: grammarPrompt },\n    { role: 'user',   content: userText || '(empty)' }\n  ],\n  response_format: { type: 'json_object' }\n});\n\nreturn [{\n  json: {\n    ...prevData,\n    grammar_request_body: requestBody\n  }\n}];\n"
      },
      "id": "957ddf35-d919-433e-9863-d16083368e4f",
      "name": "Prepare Grammar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            },
            {
              "name": "X-Title",
              "value": "English AI Tutor"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.grammar_request_body) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "df547aee-99ec-4cda-be21-967ce62b7265",
      "name": "Grammar Check HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2400,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Parse Grammar Response\n// Parse hasil grammar check dari HTTP Request node\n// ============================================================\n\nconst grammarLLM = $input.first().json;\nconst prevData = $('Prepare Grammar Request').first().json;\n\n// Default: tidak ada koreksi\nlet correction = { has_error: false, wrong: 'NONE', right: 'NONE', reason: 'NONE' };\n\n// Jika skip_grammar (user_text kosong), langsung return\nif (prevData.skip_grammar) {\n  return [{ json: { ...prevData, correction } }];\n}\n\ntry {\n  let rawText = '';\n  if (grammarLLM.choices && grammarLLM.choices[0]) {\n    rawText = grammarLLM.choices[0].message?.content || '{}';\n  }\n\n  const cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  const g = JSON.parse(cleaned);\n\n  let hasError = g.has_error === true;\n  const wrong  = (g.wrong  || 'NONE').trim();\n  const right  = (g.right  || 'NONE').trim();\n  const reason = (g.reason || 'NONE').trim();\n\n  // Validasi 1: batalkan jika wrong == right (koreksi identik)\n  if (hasError && wrong !== 'NONE' && right !== 'NONE') {\n    const wc = wrong.toLowerCase().replace(/[^a-z0-9\\s]/g, '').trim();\n    const rc = right.toLowerCase().replace(/[^a-z0-9\\s]/g, '').trim();\n    if (wc === rc) hasError = false;\n  }\n\n  // Validasi 2: batalkan jika field penting NONE\n  if (hasError && (wrong === 'NONE' || right === 'NONE')) hasError = false;\n\n  correction = {\n    has_error: hasError,\n    wrong:  hasError ? wrong  : 'NONE',\n    right:  hasError ? right  : 'NONE',\n    reason: hasError ? reason : 'NONE'\n  };\n\n} catch (e) {\n  // Parse gagal → tidak ada koreksi (safe fallback)\n  correction = { has_error: false, wrong: 'NONE', right: 'NONE', reason: 'NONE' };\n}\n\nreturn [{ json: { ...prevData, correction } }];"
      },
      "id": "89e922d2-db95-4b99-a241-10ed48c3c7a1",
      "name": "Parse Grammar Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Prepare Correction Text\n// Siapkan teks koreksi untuk TTS dengan kalimat pembuka.\n// Format: \"Hmm, kurang tepat. Seharusnya: [right]. [reason]\"\n// ============================================================\n\nconst data = $('Parse Grammar Response').first().json;\nconst correction = data.correction || {};\nconst hasError = correction.has_error === true\n  && correction.right\n  && correction.right !== 'NONE';\n\nlet ttsText = 'ok'; // placeholder jika tidak ada error\n\nif (hasError) {\n  // Strip markdown bold (**word**) agar TTS tidak membaca tanda bintang\n  const stripBold = (str) => (str || '')\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/\\r?\\n+/g, ' ')\n    .replace(/[\\x00-\\x1F\\x7F]/g, '')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n\n  const rightText = stripBold(correction.right);\n  const reasonText = stripBold(correction.reason);\n\n  // Kalimat pembuka + koreksi yang benar + alasan singkat\n  // Sesuaikan kalimat pembuka sesuai selera Anda di sini\n  ttsText = `Hmm, kurang tepat. Seharusnya kamu mengucapkan: ${rightText}. ${reasonText}`;\n\n  // Batasi panjang agar tidak terlalu panjang dibacakan\n  if (ttsText.length > 300) ttsText = ttsText.slice(0, 300);\n}\n\nreturn [{\n  json: {\n    ...data,\n    tts_correction_text: ttsText,\n    skip_correction_tts: !hasError,\n    correction_has_error: hasError\n  }\n}];"
      },
      "id": "6992fc77-b881-4f3b-a4bb-1509fbba1d74",
      "name": "Prepare Correction Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"x-ai/grok-voice-tts-1.0\",\n  \"input\": {{ JSON.stringify($json.skip_correction_tts ? 'ok' : $json.tts_correction_text) }},\n  \"voice\": \"Ara\",\n  \"language\": \"en\",\n  \"response_format\": \"mp3\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "1848107f-9c3e-4688-b202-eaaa95024122",
      "name": "Grok TTS — Correction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ALL-IN-ONE CODE NODE: Presigned PUT URL Generator\n// ============================================================\n\n// --- HELPER FUNCTIONS ---\nfunction _sha256Bytes(inputBytes) {\n  const H=[0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  const bytes=[...inputBytes];\n  const origLen=bytes.length;\n  bytes.push(0x80);\n  while(bytes.length%64!==56)bytes.push(0);\n  const bitLen=origLen*8;\n  bytes.push(0,0,0,0,(bitLen>>>24)&0xff,(bitLen>>>16)&0xff,(bitLen>>>8)&0xff,bitLen&0xff);\n  const h=[...H];\n  for(let i=0;i<bytes.length;i+=64){\n    const w=[];\n    for(let j=0;j<16;j++)w[j]=((bytes[i+j*4]<<24)|(bytes[i+j*4+1]<<16)|(bytes[i+j*4+2]<<8)|bytes[i+j*4+3])>>>0;\n    for(let j=16;j<64;j++){const s0=(((w[j-15]>>>7)|(w[j-15]<<25))^((w[j-15]>>>18)|(w[j-15]<<14))^(w[j-15]>>>3))>>>0;const s1=(((w[j-2]>>>17)|(w[j-2]<<15))^((w[j-2]>>>19)|(w[j-2]<<13))^(w[j-2]>>>10))>>>0;w[j]=(w[j-16]+s0+w[j-7]+s1)>>>0;}\n    let a=h[0],b=h[1],c=h[2],d=h[3],e=h[4],f=h[5],g=h[6],hh=h[7];\n    for(let j=0;j<64;j++){const S1=(((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7)))>>>0;const ch=((e&f)^((~e>>>0)&g))>>>0;const tmp1=(hh+S1+ch+K[j]+w[j])>>>0;const S0=(((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10)))>>>0;const maj=((a&b)^(a&c)^(b&c))>>>0;const tmp2=(S0+maj)>>>0;hh=g;g=f;f=e;e=(d+tmp1)>>>0;d=c;c=b;b=a;a=(tmp1+tmp2)>>>0;}\n    h[0]=(h[0]+a)>>>0;h[1]=(h[1]+b)>>>0;h[2]=(h[2]+c)>>>0;h[3]=(h[3]+d)>>>0;h[4]=(h[4]+e)>>>0;h[5]=(h[5]+f)>>>0;h[6]=(h[6]+g)>>>0;h[7]=(h[7]+hh)>>>0;\n  }\n  return h.map(v=>v.toString(16).padStart(8,'0')).join('');\n}\nfunction _strToBytes(s){const b=[];for(let i=0;i<s.length;i++){const c=s.charCodeAt(i);if(c<128)b.push(c);else if(c<2048){b.push((c>>6)|192);b.push((c&63)|128);}else{b.push((c>>12)|224);b.push(((c>>6)&63)|128);b.push((c&63)|128);}}return b;}\nfunction _hexToBytes(hex){const b=[];for(let i=0;i<hex.length;i+=2)b.push(parseInt(hex.slice(i,i+2),16));return b;}\nfunction sha256Hex(input){return _sha256Bytes(typeof input==='string'?_strToBytes(input):input);}\nfunction hmacSha256(keyInput,msgInput){\n  let key=typeof keyInput==='string'?_strToBytes(keyInput):[...keyInput];\n  const msg=typeof msgInput==='string'?_strToBytes(msgInput):[...msgInput];\n  if(key.length>64)key=_hexToBytes(_sha256Bytes(key));\n  while(key.length<64)key.push(0);\n  const opad=key.map(b=>(b^0x5c)&0xff);\n  const ipad=key.map(b=>(b^0x36)&0xff);\n  const innerBytes=_hexToBytes(_sha256Bytes([...ipad,...msg]));\n  return _hexToBytes(_sha256Bytes([...opad,...innerBytes]));\n}\nfunction hmacSha256Hex(keyInput,msgInput){return hmacSha256(keyInput,msgInput).map(b=>b.toString(16).padStart(2,'0')).join('');}\nfunction _extractHost(endpoint) { const withoutProto = endpoint.replace(/^https?:\\/\\//i, ''); const slashIdx = withoutProto.indexOf('/'); return slashIdx === -1 ? withoutProto : withoutProto.slice(0, slashIdx); }\nfunction _buildQueryString(params) { function pctEncode(str) { return String(str).replace(/[^A-Za-z0-9\\-_.~]/g, ch => { const hex = ch.charCodeAt(0).toString(16).toUpperCase(); return '%' + (hex.length === 1 ? '0' + hex : hex); }); } return params.map(([k, v]) => pctEncode(k) + '=' + pctEncode(v)).join('&'); }\n\nfunction buildPresignedUrl({endpoint, bucket, objectKey, accessKey, secretKey, region, method, expiresIn}) {\n  const now = new Date();\n  const dateStamp = now.toISOString().slice(0,10).replace(/-/g,'');\n  const amzDate   = now.toISOString().replace(/[:-]|\\.\\d{3}/g,'');\n  const host      = _extractHost(endpoint);\n  const credentialScope = dateStamp + '/' + region + '/s3/aws4_request';\n  const credential      = accessKey + '/' + credentialScope;\n  const qsParams = [\n    ['X-Amz-Algorithm',       'AWS4-HMAC-SHA256'],\n    ['X-Amz-Credential',      credential],\n    ['X-Amz-Date',            amzDate],\n    ['X-Amz-Expires',         String(expiresIn)],\n    ['X-Amz-SignedHeaders',   'host'],\n  ];\n  const qs = _buildQueryString(qsParams);\n  const canonicalRequest = [ method, '/' + bucket + '/' + objectKey, qs, 'host:' + host + '\\n', 'host', 'UNSIGNED-PAYLOAD' ].join('\\n');\n  const canonicalHash = sha256Hex(canonicalRequest);\n  const stringToSign  = ['AWS4-HMAC-SHA256', amzDate, credentialScope, canonicalHash].join('\\n');\n  let sigKey = hmacSha256('AWS4' + secretKey, dateStamp);\n  sigKey = hmacSha256(sigKey, region);\n  sigKey = hmacSha256(sigKey, 's3');\n  sigKey = hmacSha256(sigKey, 'aws4_request');\n  const signature = hmacSha256Hex(sigKey, stringToSign);\n  return endpoint + '/' + bucket + '/' + objectKey + '?' + qs + '&X-Amz-Signature=' + signature;\n}\n\n// --- LOGIC UTAMA: Correction Audio ---\nconst { session_id } = $input.first().json;\n\nconst upload_url = buildPresignedUrl({\n  endpoint: $env.MINIO_ENDPOINT,\n  bucket: $env.MINIO_BUCKET,\n  objectKey: 'audio/' + session_id + '_correction.mp3',\n  accessKey: $env.MINIO_ACCESS_KEY,\n  secretKey: $env.MINIO_SECRET_KEY,\n  region: $env.MINIO_REGION || 'us-east-1',\n  method: 'PUT',\n  expiresIn: 60\n});\n\nreturn [{\n  json: { upload_url },\n  binary: $input.first().binary\n}];"
      },
      "id": "a7057069-5914-450f-91f0-0d5b93a9d5ab",
      "name": "Prepare Correction Audio Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        336
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.upload_url }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "8774d7f7-66f0-4d2d-b91b-382d3d671145",
      "name": "PUT minIO — Correction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1136,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Sanitize Conversation Text for TTS\n// Dipanggil dari PUT minIO — Correction (sequential path)\n// Baca conversation_text dari Parse Grammar Response, sanitize untuk TTS\n// ============================================================\nconst grammarData = $('Parse Grammar Response').first().json;\nlet text = (grammarData.conversation_text || '').trim();\n\n// Sanitasi: hapus markdown bold (**word**)\ntext = text.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n// Hapus newline berlebihan, ganti dengan spasi\ntext = text.replace(/\\r?\\n+/g, ' ');\n// Hapus karakter kontrol\ntext = text.replace(/[\\x00-\\x1F\\x7F]/g, '');\n// Trim spasi berlebih\ntext = text.replace(/\\s{2,}/g, ' ').trim();\n\n// Fallback jika kosong\nif (!text) text = 'Let us continue our conversation.';\n\n// Batasi panjang (Grok TTS max ~4096 chars)\nif (text.length > 1000) text = text.slice(0, 1000);\n\nreturn [{\n  json: {\n    ...grammarData,\n    tts_conversation_text: text\n  }\n}];"
      },
      "id": "f3a0c596-eb49-4582-9e93-e2b4e48ff61c",
      "name": "Sanitize Conversation Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user/profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4752,
        1520
      ],
      "id": "797a8dd3-15f2-4a1d-8d71-1cfc238d5d34",
      "name": "Webhook — POST /user/profile",
      "webhookId": "user-profile-webhook-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, level, created_at, avatar_url FROM users WHERE id = '{{ $json.body.user_id }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4544,
        1520
      ],
      "id": "99fb4c79-ce56-4552-a274-3981c62ac873",
      "name": "Get User from DB",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Build User Profile Response\n// Ambil data user dari DB, return name + level + avatar_url\n// ============================================================\n\nconst rows = $input.all();\n\nif (!rows || rows.length === 0 || !rows[0].json.id) {\n  return [{\n    json: {\n      success: true,\n      user: {\n        id: $('Webhook — POST /user/profile').first().json.body.user_id,\n        name: 'Learner',\n        display_name: 'Learner',\n        level: 'A1',\n        avatar_url: null\n      }\n    }\n  }];\n}\n\nconst user = rows[0].json;\n\nreturn [{\n  json: {\n    success: true,\n    user: {\n      id:           user.id,\n      name:         user.name,\n      display_name: user.name,\n      level:        user.level || 'A1',\n      created_at:   user.created_at,\n      // Cek berbagai kemungkinan nama kolom foto di DB\n      avatar_url:   user.avatar_url || user.photo_url || user.picture || user.profile_photo || null\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4352,
        1520
      ],
      "id": "ea5707ef-135a-4ed6-ba61-de912f5f20ff",
      "name": "Build User Profile Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4144,
        1520
      ],
      "id": "29229a40-2156-49fa-96dc-a214309e62d0",
      "name": "Respond User Profile"
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil data utuh dari node sebelumnya\nconst inputData = $input.first().json;\nconst rawTopic = inputData.topic || '';\n\n// 2. Cek apakah ini mode latihan kosakata\nif (rawTopic.startsWith('Practice vocabulary:')) {\n  const cleanText = rawTopic.replace('Practice vocabulary:', '').trim();\n  const wordsArray = cleanText.split(',').map(w => w.trim().toLowerCase()).filter(w => w.length > 0);\n\n  // 3. Kita pecah, tapi setiap baris tetap membawa seluruh payload chat agar aman\n  return wordsArray.map(word => {\n    return {\n      json: {\n        ...inputData,       // Membawa semua data (correction, conversation_text, minio_url, dll)\n        vocab_word: word    // Menyisipkan 1 kata spesifik untuk loop Postgres\n      }\n    };\n  });\n}\n\n// Jika bukan mode vocab, teruskan data asli\nreturn [{ json: inputData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        -144
      ],
      "id": "e0776457-86e9-4c92-b399-3169dcc8a109",
      "name": "Fetch Vocab"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vocabularies (vocab_word, part_of_speech, level, definition)\nVALUES (\n  '{{ $json.vocab_word.toLowerCase() }}',\n  'NOUN',\n  '{{ $json.level }}',\n  'Ditambahkan otomatis saat mulai sesi'\n)\nON CONFLICT (LOWER(vocab_word))\nDO UPDATE SET level = EXCLUDED.level\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1664,
        -144
      ],
      "id": "62679d98-22b8-4d02-9253-acaf04cf56c1",
      "name": "Save Vocab DB",
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4d4ba68-3414-4aac-b119-9d6bf46d0cf5",
              "leftValue": "={{ $json.topic }}",
              "rightValue": "Practice vocabulary:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        -128
      ],
      "id": "e939ce01-98c7-4b3e-8ed8-c564cafae3ef",
      "name": "Is Vocab Mode?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_vocabularies (user_id, session_id, vocabulary_id)\nVALUES (\n  '{{ $node[\"Fetch Vocab\"].json.user_id }}',\n  --Mengambil paksa dari Node Code\n  '{{ $node[\"Fetch Vocab\"].json.session_id }}',\n  --Mengambil paksa dari Node Code\n  '{{ $json.id }}'\n)\nON CONFLICT (user_id, session_id, vocabulary_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        -144
      ],
      "id": "0910a605-f6f5-4e55-881b-f4c8f5bb9cac",
      "name": "Link User Vocab DB",
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocab/pull-dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "57ceb79e-d869-4015-b797-519a43a1163a",
      "name": "Webhook — POST /vocab/pull-dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4752,
        1248
      ],
      "webhookId": "vocab-pull-dashboard-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  v.id,\n  v.vocab_word,\n  v.part_of_speech,\n  v.level,\n  v.definition\nFROM public.user_vocabularies uv\nINNER JOIN public.vocabularies v ON v.id = uv.vocabulary_id\nWHERE uv.user_id = '{{ $json.body.user_id }}'\n  AND uv.is_mastered = false\nORDER BY uv.created_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "21d06b52-b592-4d8a-bdaa-997a61a59773",
      "name": "Postgres: Get Unmastered Vocab",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4512,
        1248
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Node: Build Pull Dashboard Response\n// Ambil max 20 vocab dengan is_mastered = false\n// Return: vocabulary_raw (string comma-separated) + vocab_list (array detail)\n// ============================================================\n\nconst items = $input.all();\n\n// Filter row kosong (alwaysOutputData bisa return 1 row kosong)\nconst rows = items\n  .map(i => i.json)\n  .filter(r => r && r.vocab_word);\n\nif (rows.length === 0) {\n  return [{\n    json: {\n      success: false,\n      error: 'No unmastered vocabulary found in dashboard.',\n      count: 0,\n      vocabulary_raw: '',\n      vocab_list: []\n    }\n  }];\n}\n\n// Comma-separated string untuk langsung isi input di HTML\nconst vocabularyRaw = rows.map(r => r.vocab_word).join(', ');\n\n// Array detail untuk preview chips di UI\nconst vocabList = rows.map(r => ({\n  id:             r.id,\n  word:           r.vocab_word,\n  part_of_speech: r.part_of_speech || '',\n  level:          r.level || '',\n  definition:     r.definition || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: rows.length,\n    vocabulary_raw: vocabularyRaw,\n    vocab_list: vocabList\n  }\n}];\n"
      },
      "id": "f86ad2a7-711c-46a3-8f38-b400bf2dfc48",
      "name": "Code: Build Pull Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4304,
        1248
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "ab677346-3d7e-468d-a3b2-f32e58ae5613",
      "name": "Respond: Pull Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -4048,
        1248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Attach metadata dari webhook ke setiap vocab item\nconst webhook = $('Vocab Sync Dashboard').first().json;\n\nreturn items.map(item => ({\n  json: {\n    word:       item.json.word.trim().toLowerCase(),  // membuat vocab menjadi kecil eg. dog\n    achieved:   item.json.achieved ?? false,\n    sentence:   item.json.sentence ?? '',\n    user_id:    webhook.body.user_id,\n    session_id: webhook.body.session_id,\n    level:      webhook.body.level ?? 'A1'\n  }\n}));\n"
      },
      "id": "24a31420-f2e7-4179-a040-cae5ea0a25a4",
      "name": "Prepare Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4272,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge vocabulary_id dari PostgreSQL 1\n// dengan achieved + user_id + session_id dari Prepare Item\nconst prepareItems = $('Prepare Item').all();\n\nreturn items.map((item, i) => ({\n  json: {\n    vocabulary_id: item.json.id,\n    user_id:       prepareItems[i]?.json?.user_id,\n    session_id:    prepareItems[i]?.json?.session_id,\n    achieved:      prepareItems[i]?.json?.achieved ?? false\n  }\n}));\n"
      },
      "id": "6779abd9-fe84-4f9f-abd6-23dfdc8d9b82",
      "name": "Merge Vocab ID + Achieved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hitung summary hasil sync\nconst allItems = $input.all();\nconst webhook = $('Vocab Sync Dashboard').first().json.body;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Vocab synced successfully',\n    user_id:    webhook.user_id,\n    session_id: webhook.session_id,\n    total_synced: allItems.length,\n    synced_at: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "dd22f54a-106b-4c2a-aa36-bcba330b372c",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        1776
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.vocabulary",
        "options": {}
      },
      "id": "d693b850-17b0-46cf-a269-71e61df54352",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4512,
        1776
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upsert AS (\n    INSERT INTO vocabularies (vocab_word, part_of_speech, level)\n    VALUES ($1, 'NOUN', $2)\n    ON CONFLICT (LOWER(vocab_word)) DO NOTHING\n    RETURNING id\n)\nSELECT id FROM upsert\nUNION ALL\nSELECT id FROM vocabularies WHERE LOWER(vocab_word) = LOWER($1)\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.word }},={{ $json.level }}"
        }
      },
      "id": "3959c717-5d25-4731-a3ac-33605646c408",
      "name": "PostgreSQL 1 - Upsert vocabularies2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4032,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_vocabularies (user_id, session_id, vocabulary_id, is_mastered)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (user_id, session_id, vocabulary_id)\nDO UPDATE SET is_mastered = EXCLUDED.is_mastered, created_at = NOW();",
        "options": {
          "queryReplacement": "={{ $json.user_id }},={{ $json.session_id }},={{ $json.vocabulary_id }},={{ $json.achieved }}"
        }
      },
      "id": "65f53315-9f6f-4705-8411-f0d88664d44f",
      "name": "PostgreSQL 2 - Upsert user_vocabularies3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3552,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ecdef60d-9931-4f4d-bda4-47d2706c7bd0",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3072,
        1776
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocab/sync-dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "5da63fd9-6c1a-4c82-b008-b85748918507",
      "name": "Vocab Sync Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4752,
        1776
      ],
      "webhookId": "vocab-sync-dashboard-001"
    },
    {
      "parameters": {
        "content": "Untuk Sync Dashboard Vocab Mission",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4960,
        1792
      ],
      "typeVersion": 1,
      "id": "8a492ced-badc-4821-9fe4-2daae63a2f7b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Untuk Mengambil Profile user id pertama kali",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4960,
        1536
      ],
      "typeVersion": 1,
      "id": "1073d0aa-67f7-4ae5-82fa-0695cb25d7a2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Untuk mengambil vocab dari dashboard vocabulary ke Tutor dashboard\n( fitur full from dashboard)",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4960,
        1264
      ],
      "typeVersion": 1,
      "id": "a64c60de-f9f2-4cfd-9323-ba28be6b4588",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — POST /conversation": {
      "main": [
        [
          {
            "node": "Validate & Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Extract Input": {
      "main": [
        [
          {
            "node": "Fetch Audio from MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Prepare Grammar Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Correction Exists": {
      "main": [
        [
          {
            "node": "Save Correction to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — POST /session/start": {
      "main": [
        [
          {
            "node": "Create Session in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Session in DB": {
      "main": [
        [
          {
            "node": "Build Session Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Session Response": {
      "main": [
        [
          {
            "node": "Save Opening Message to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — GET /corrections/:session_id": {
      "main": [
        [
          {
            "node": "Get Corrections from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Corrections from DB": {
      "main": [
        [
          {
            "node": "Build Corrections Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Corrections Response": {
      "main": [
        [
          {
            "node": "Respond Corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcription": {
      "main": [
        [
          {
            "node": "Save User Message to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [
          {
            "node": "Build Messages with History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages with History": {
      "main": [
        [
          {
            "node": "OpenRouter LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Audio from MinIO": {
      "main": [
        [
          {
            "node": "Download Audio Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio Binary": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Whisper": {
      "main": [
        [
          {
            "node": "Delete Audio from MinIO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — POST /upload/presign": {
      "main": [
        [
          {
            "node": "Generate Presigned URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Presigned URL": {
      "main": [
        [
          {
            "node": "Respond Presign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send to Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT minIO": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio Upload": {
      "main": [
        [
          {
            "node": "PUT minIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Opening Message to DB": {
      "main": [
        [
          {
            "node": "Respond Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message to DB": {
      "main": [
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Grammar Request": {
      "main": [
        [
          {
            "node": "Grammar Check HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grammar Check HTTP": {
      "main": [
        [
          {
            "node": "Parse Grammar Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Grammar Response": {
      "main": [
        [
          {
            "node": "Save Conversation to DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Correction Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Correction Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Vocab Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok TTS — Conversation": {
      "main": [
        [
          {
            "node": "Prepare Audio Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Correction Text": {
      "main": [
        [
          {
            "node": "Grok TTS — Correction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok TTS — Correction": {
      "main": [
        [
          {
            "node": "Prepare Correction Audio Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Correction Audio Upload": {
      "main": [
        [
          {
            "node": "PUT minIO — Correction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT minIO — Correction": {
      "main": [
        [
          {
            "node": "Sanitize Conversation Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Conversation Text": {
      "main": [
        [
          {
            "node": "Grok TTS — Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — POST /user/profile": {
      "main": [
        [
          {
            "node": "Get User from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User from DB": {
      "main": [
        [
          {
            "node": "Build User Profile Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Profile Response": {
      "main": [
        [
          {
            "node": "Respond User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vocab": {
      "main": [
        [
          {
            "node": "Save Vocab DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Vocab Mode?": {
      "main": [
        [
          {
            "node": "Fetch Vocab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Vocab DB": {
      "main": [
        [
          {
            "node": "Link User Vocab DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — POST /vocab/pull-dashboard": {
      "main": [
        [
          {
            "node": "Postgres: Get Unmastered Vocab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get Unmastered Vocab": {
      "main": [
        [
          {
            "node": "Code: Build Pull Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Pull Response": {
      "main": [
        [
          {
            "node": "Respond: Pull Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Item": {
      "main": [
        [
          {
            "node": "PostgreSQL 1 - Upsert vocabularies2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Vocab ID + Achieved": {
      "main": [
        [
          {
            "node": "PostgreSQL 2 - Upsert user_vocabularies3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Prepare Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL 1 - Upsert vocabularies2": {
      "main": [
        [
          {
            "node": "Merge Vocab ID + Achieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL 2 - Upsert user_vocabularies3": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vocab Sync Dashboard": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f0c59cf8-e844-4f29-ad2e-3942359fdfc8",
  "meta": {
    "instanceId": "0bc038e49b07af2e3e858246c7c482b54ba66879f695b1ba1f1900faa8f7d141"
  },
  "id": "FjBKFdVlzGln47zW",
  "tags": []
}