api/SpeakUp - Page Vocabulary Lab API.json
{
  "name": "SpeakUp - Page Vocabulary Lab API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocabulary/list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cdcaf46a-87b3-47d7-875f-ad4c7576c2fb",
      "name": "Webhook: POST /vocabulary/list",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        1904
      ],
      "webhookId": "vocab-list-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb8cce43-4e2b-41ce-b5fe-1cb4434838f5",
      "name": "Validate: user_id exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -496,
        1904
      ]
    },
    {
      "parameters": {
        "jsCode": "// Satu Code node menggantikan: Set + 2x Postgres + Merge\n// Alasan: Merge node tidak trigger jika salah satu input kosong (0 rows)\n// Fix: query langsung dari sini pakai $execution.customData atau helper\n\nconst userId = $('Webhook: POST /vocabulary/list').first().json.body.user_id;\n\n// Simpan user_id untuk diakses node berikutnya\nreturn [{ json: { user_id: userId } }];\n"
      },
      "id": "8353fa4c-c8ee-4aee-8ec3-37cf2ca1a67e",
      "name": "Set: user_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1904
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.id           AS user_id,\n  u.name         AS user_name,\n  u.level        AS user_level,\n  u.avatar_url   AS user_avatar,\n  v.id           AS vocab_id,\n  v.vocab_word,\n  v.part_of_speech,\n  v.level        AS vocab_level,\n  v.definition,\n  v.pronunciation,\n  v.meaning_id,\n  v.created_at   AS vocab_created_at,\n  uv.id          AS user_vocab_id,\n  uv.is_mastered,\n  uv.created_at  AS learned_at,\n  s.topic        AS session_topic,\n  -- Stats dihitung sekalian di sini\n  COUNT(*) OVER()                                              AS total_words,\n  COUNT(*) FILTER (WHERE uv.is_mastered = true)  OVER()       AS total_mastered,\n  COUNT(*) FILTER (WHERE uv.is_mastered = false) OVER()       AS total_learning\nFROM public.users u\nINNER JOIN public.user_vocabularies uv ON uv.user_id = u.id\nINNER JOIN public.vocabularies v       ON v.id = uv.vocabulary_id\nLEFT  JOIN public.sessions s           ON s.id = uv.session_id\nWHERE u.id = '{{ $json.user_id }}'\nORDER BY uv.created_at DESC;",
        "options": {}
      },
      "id": "ec22cd8d-373f-4d2e-a6b0-ab457c857eaa",
      "name": "Postgres: Get User Vocabularies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -16,
        1904
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tidak ada Merge — semua data sudah ada di satu query (window function)\n// alwaysOutputData = true di Postgres node agar tetap jalan walau 0 rows\n\nconst items = $input.all();\nconst userId = $('Set: user_id').first().json.user_id;\n\nconst firstRow = items.length > 0 ? items[0].json : null;\n\n// User info\nconst user = firstRow ? {\n  id:         firstRow.user_id,\n  name:       firstRow.user_name,\n  level:      firstRow.user_level,\n  avatar_url: firstRow.user_avatar || null\n} : {\n  id:         userId,\n  name:       'Learner',\n  level:      '—',\n  avatar_url: null\n};\n\n// Stats dari window function (sama di semua row)\nconst stats = {\n  total_words:    firstRow ? parseInt(firstRow.total_words    || 0) : 0,\n  total_mastered: firstRow ? parseInt(firstRow.total_mastered || 0) : 0,\n  total_learning: firstRow ? parseInt(firstRow.total_learning || 0) : 0\n};\n\n// Vocab list\nconst vocabs = items.map(function(item) {\n  const r = item.json;\n  return {\n    id:             r.vocab_id,\n    vocab_word:     r.vocab_word,\n    part_of_speech: r.part_of_speech,\n    level:          r.vocab_level,\n    definition:     r.definition || '',\n    pronunciation:  r.pronunciation || '',\n    meaning_id:     r.meaning_id || '',\n    is_mastered:    r.is_mastered === true || r.is_mastered === 'true',\n    is_difficult:   false,\n    session_topic:  r.session_topic || null,\n    learned_at:     r.learned_at   || null,\n    created_at:     r.vocab_created_at || null\n  };\n});\n\nreturn [{ json: { user, stats, vocabs } }];\n"
      },
      "id": "4abe6e1a-bf52-4b3d-8927-0b034137dcbf",
      "name": "Code: Build Response Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1904
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "fffe897a-09ea-4e59-910c-04a6f799ee98",
      "name": "Response: 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        1904
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, message: 'user_id is required', code: 400 }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "9e73ff7d-0ba7-4508-9d8b-0f7d39ceaed6",
      "name": "Response: 400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        2144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocabulary/master",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11541ac8-433a-42ce-b6ca-6d0dc367252e",
      "name": "Webhook: POST /vocabulary/master",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        2368
      ],
      "webhookId": "vocab-master-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.user_vocabularies\nSET is_mastered = true\nWHERE user_id       = '{{ $json.body.user_id }}'\n  AND vocabulary_id = '{{ $json.body.vocabulary_id }}'\nRETURNING id, user_id, vocabulary_id, is_mastered;",
        "options": {}
      },
      "id": "17596a58-31cf-4263-b6a2-9cdc07019f55",
      "name": "Postgres: Mark Mastered",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -496,
        2368
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, updated: $json }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "dce52f72-63d8-452b-909c-b8564a66eda1",
      "name": "Response: Master OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        2368
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocabulary/add",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dbc6f476-3f49-42ba-927d-62384fe24603",
      "name": "Webhook: POST /vocabulary/add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        2656
      ],
      "webhookId": "vocab-add-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Step 1: Upsert ke tabel vocabularies (shared, bukan per-user)\n-- Menggunakan index LOWER karena constraint lama sudah diganti dengan unique index case-insensitive\nINSERT INTO public.vocabularies (vocab_word, part_of_speech, level, definition, pronunciation, meaning_id)\nVALUES (\n  '{{ $json.body.vocab_word }}',\n  '{{ $json.body.part_of_speech || \"NOUN\" }}',\n  '{{ $json.body.level || \"B1\" }}',\n  '{{ $json.body.definition || \"\" }}',\n  '{{ $json.body.pronunciation || \"\" }}',\n  '{{ $json.body.meaning_id || \"\" }}'\n)\nON CONFLICT (LOWER(vocab_word)) DO UPDATE\n  SET definition     = EXCLUDED.definition,\n      part_of_speech = EXCLUDED.part_of_speech,\n      pronunciation  = COALESCE(NULLIF(EXCLUDED.pronunciation, ''), vocabularies.pronunciation),\n      meaning_id     = COALESCE(NULLIF(EXCLUDED.meaning_id, ''), vocabularies.meaning_id)\nRETURNING id, vocab_word, part_of_speech, level, definition, pronunciation, meaning_id, created_at;",
        "options": {}
      },
      "id": "859d4196-2d96-463e-a9ec-459e568b1c29",
      "name": "Postgres: Upsert Vocabulary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -496,
        2656
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing_session AS (\n  SELECT id FROM public.sessions\n  WHERE user_id = '{{ $('Webhook: POST /vocabulary/add').item.json.body.user_id }}'\n    AND ended_at IS NULL\n  ORDER BY started_at DESC\n  LIMIT 1\n),\nnew_session AS (\n  INSERT INTO public.sessions (user_id, topic, level)\n  SELECT\n    '{{ $('Webhook: POST /vocabulary/add').item.json.body.user_id }}',\n    'Manual Entry',\n    '{{ $('Webhook: POST /vocabulary/add').item.json.body.level || \"B1\" }}'\n  WHERE NOT EXISTS (SELECT 1 FROM existing_session)\n  RETURNING id\n)\nSELECT id FROM existing_session\nUNION ALL\nSELECT id FROM new_session\nLIMIT 1;",
        "options": {}
      },
      "id": "49587e81-f7b1-42ee-831b-1bd94b30f114",
      "name": "Postgres: Get or Create Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -256,
        2656
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const vocabRow   = $('Postgres: Upsert Vocabulary').first().json;\nconst sessionRow = $('Postgres: Get or Create Session').first().json;\nconst body       = $('Webhook: POST /vocabulary/add').first().json.body;\n\nreturn [{\n  json: {\n    user_id:        body.user_id,\n    vocabulary_id:  vocabRow.id,\n    session_id:     sessionRow.id,\n    vocab_word:     vocabRow.vocab_word,\n    part_of_speech: vocabRow.part_of_speech,\n    level:          vocabRow.level,\n    definition:     vocabRow.definition,\n    pronunciation:  vocabRow.pronunciation || '',\n    meaning_id:     vocabRow.meaning_id    || '',\n    created_at:     vocabRow.created_at\n  }\n}];\n"
      },
      "id": "3cc62489-fffa-44a1-ade1-5cfae18d939a",
      "name": "Code: Prepare user_vocab Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        2656
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.user_vocabularies (user_id, vocabulary_id, session_id, is_mastered)\nVALUES (\n  '{{ $json.user_id }}',\n  '{{ $json.vocabulary_id }}',\n  '{{ $json.session_id }}',\n  false\n)\nON CONFLICT (user_id, session_id, vocabulary_id) DO NOTHING\nRETURNING id, user_id, vocabulary_id, session_id, is_mastered, created_at;",
        "options": {}
      },
      "id": "464b81be-ea99-4964-b417-5727169ec2ba",
      "name": "Postgres: Insert user_vocabularies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        2656
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Code: Prepare user_vocab Insert').first().json;\nconst uv   = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    id:             prep.vocabulary_id,\n    vocab_word:     prep.vocab_word,\n    part_of_speech: prep.part_of_speech,\n    level:          prep.level,\n    definition:     prep.definition,\n    pronunciation:  prep.pronunciation || '',\n    meaning_id:     prep.meaning_id    || '',\n    is_mastered:    false,\n    is_difficult:   false,\n    learned_at:     uv.created_at || new Date().toISOString(),\n    created_at:     prep.created_at\n  }\n}];\n"
      },
      "id": "0f14352b-ecdd-4fb0-9cc9-cbb3f89c8b27",
      "name": "Code: Build Add Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2656
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c4dd1986-f777-440d-baaa-fe66708f366f",
      "name": "Response: Add OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        704,
        2656
      ]
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "vocabulary/list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3898552-effc-4082-89a8-54e5f0ea566d",
      "name": "CORS: OPTIONS /vocabulary/list",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        1728
      ],
      "webhookId": "cors-list-001"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "vocabulary/master",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "79daf0a4-cc08-49b3-9e7d-28da35919a50",
      "name": "CORS: OPTIONS /vocabulary/master",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        1520
      ],
      "webhookId": "cors-master-001"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "vocabulary/add",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c94ad45-ca51-4f29-b90f-7c4e04a00620",
      "name": "CORS: OPTIONS /vocabulary/add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        1312
      ],
      "webhookId": "cors-add-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=\"{}\"",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              }
            ]
          }
        }
      },
      "id": "6064840c-0f2c-4df0-ad26-42b674fe23af",
      "name": "CORS: Respond 204",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -304,
        1312
      ]
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "vocabulary/edit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fe182fda-29b5-4365-aa1c-a2927489166d",
      "name": "CORS: OPTIONS /vocabulary/edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        1104
      ],
      "webhookId": "cors-edit-001"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "vocabulary/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d25224d4-4d12-467d-ba1f-6e808dbb8e70",
      "name": "CORS: OPTIONS /vocabulary/delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        896
      ],
      "webhookId": "cors-delete-001"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocabulary/edit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "082ca131-870f-4f9d-bb67-514672dd7605",
      "name": "Webhook: POST /vocabulary/edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        2944
      ],
      "webhookId": "vocab-edit-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-edit-001",
              "leftValue": "={{ $json.body.vocabulary_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-edit-002",
              "leftValue": "={{ $json.body.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e7f62e3-a113-4b49-8a24-03d79954c4e4",
      "name": "Validate: Edit Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -496,
        2944
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Step 1: Update vocabularies table (shared data)\nUPDATE public.vocabularies\nSET\n  vocab_word     = COALESCE(NULLIF('{{ $json.body.vocab_word }}', ''), vocab_word),\n  part_of_speech = COALESCE(NULLIF('{{ $json.body.part_of_speech }}', ''), part_of_speech),\n  level          = COALESCE(NULLIF('{{ $json.body.level }}', ''), level),\n  definition     = COALESCE(NULLIF('{{ $json.body.definition }}', ''), definition),\n  pronunciation  = COALESCE(NULLIF('{{ $json.body.pronunciation }}', ''), pronunciation),\n  meaning_id     = COALESCE(NULLIF('{{ $json.body.meaning_id }}', ''), meaning_id)\nWHERE id = '{{ $json.body.vocabulary_id }}'\nRETURNING id, vocab_word, part_of_speech, level, definition, pronunciation, meaning_id;",
        "options": {}
      },
      "id": "e6f061e2-2ef9-4423-aee8-fd7f929488ca",
      "name": "Postgres: Update Vocabulary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -256,
        2928
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Step 2: Update is_mastered in user_vocabularies (per-user data)\nUPDATE public.user_vocabularies\nSET is_mastered = {{ $('Webhook: POST /vocabulary/edit').item.json.body.is_mastered }}\nWHERE user_id       = '{{ $('Webhook: POST /vocabulary/edit').item.json.body.user_id }}'\n  AND vocabulary_id = '{{ $('Webhook: POST /vocabulary/edit').item.json.body.vocabulary_id }}'\nRETURNING id, user_id, vocabulary_id, is_mastered;",
        "options": {}
      },
      "id": "f2fd8109-f5a3-4ab8-be76-46c9d04fd8d1",
      "name": "Postgres: Update User Mastered",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -16,
        2928
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const vocab = $('Postgres: Update Vocabulary').first().json;\nconst uv    = $input.first()?.json || {};\nconst body  = $('Webhook: POST /vocabulary/edit').first().json.body;\n\nreturn [{\n  json: {\n    success:        true,\n    id:             vocab.id,\n    vocab_word:     vocab.vocab_word,\n    part_of_speech: vocab.part_of_speech,\n    level:          vocab.level,\n    definition:     vocab.definition,\n    pronunciation:  vocab.pronunciation || '',\n    meaning_id:     vocab.meaning_id || '',\n    is_mastered:    uv.is_mastered === true || uv.is_mastered === 'true' || body.is_mastered === true\n  }\n}];\n"
      },
      "id": "b290c766-d229-48dd-bcc9-dd376f30cddb",
      "name": "Code: Build Edit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2928
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "dde64b15-410c-4f11-b66e-47cfd59fa3ed",
      "name": "Response: Edit OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        2928
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, message: 'vocabulary_id and user_id are required', code: 400 }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7db16f70-9fc8-45a6-9ff6-5f919d8043f0",
      "name": "Response: Edit 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        3168
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vocabulary/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6502a7de-f83b-4f42-8f59-a94cf23d9033",
      "name": "Webhook: POST /vocabulary/delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        3408
      ],
      "webhookId": "vocab-delete-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-del-001",
              "leftValue": "={{ $json.body.vocabulary_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-del-002",
              "leftValue": "={{ $json.body.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "09a366c7-8ef6-4f33-92ea-99a9f0ed86fd",
      "name": "Validate: Delete Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -496,
        3408
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Hapus dari user_vocabularies saja (soft delete per user)\n-- Vocabulary shared tetap ada di tabel vocabularies untuk user lain\nDELETE FROM public.user_vocabularies\nWHERE user_id       = '{{ $json.body.user_id }}'\n  AND vocabulary_id = '{{ $json.body.vocabulary_id }}'\nRETURNING id, user_id, vocabulary_id;",
        "options": {}
      },
      "id": "7718fd2e-f7a7-4fd1-939a-1545ba55d94c",
      "name": "Postgres: Delete User Vocab",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -256,
        3392
      ],
      "credentials": {
        "postgres": {
          "id": "Smbm5jUOReBn9ZeS",
          "name": "Postgres account English AI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, deleted: $json }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "70bcd9d1-a3ae-44c3-8271-b13ee9880483",
      "name": "Response: Delete OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -16,
        3392
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, message: 'vocabulary_id and user_id are required', code: 400 }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2fc46efc-a100-430a-a5e2-b144c9e99106",
      "name": "Response: Delete 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        3632
      ]
    },
    {
      "parameters": {
        "content": "API untuk mendelete Card Vocab",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        3424
      ],
      "typeVersion": 1,
      "id": "a951a464-1cfc-47bd-b518-60a8098c5d67",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "API untuk mengedit Card Vocab",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        2976
      ],
      "typeVersion": 1,
      "id": "c79260ee-7a3e-4b5f-ae69-4045afa5551f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "API untuk menambahkan vocab",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        2688
      ],
      "typeVersion": 1,
      "id": "b6f86343-a3ff-4949-88e7-3f8e068287e6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "API untuk mengubah status  vocab is_mastered value/true\n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        2384
      ],
      "typeVersion": 1,
      "id": "9010e897-60d1-47a0-bc09-8da7817dd294",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "API untuk mengambul semua vocab di  page \nvocabulary lab ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        1904
      ],
      "typeVersion": 1,
      "id": "a7c2da0b-b4c1-4abc-84e9-d8d6731c864b",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: POST /vocabulary/list": {
      "main": [
        [
          {
            "node": "Validate: user_id exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate: user_id exists?": {
      "main": [
        [
          {
            "node": "Set: user_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: 400 Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: user_id": {
      "main": [
        [
          {
            "node": "Postgres: Get User Vocabularies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get User Vocabularies": {
      "main": [
        [
          {
            "node": "Code: Build Response Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Response Payload": {
      "main": [
        [
          {
            "node": "Response: 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: POST /vocabulary/master": {
      "main": [
        [
          {
            "node": "Postgres: Mark Mastered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Mark Mastered": {
      "main": [
        [
          {
            "node": "Response: Master OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: POST /vocabulary/add": {
      "main": [
        [
          {
            "node": "Postgres: Upsert Vocabulary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Upsert Vocabulary": {
      "main": [
        [
          {
            "node": "Postgres: Get or Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get or Create Session": {
      "main": [
        [
          {
            "node": "Code: Prepare user_vocab Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare user_vocab Insert": {
      "main": [
        [
          {
            "node": "Postgres: Insert user_vocabularies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Insert user_vocabularies": {
      "main": [
        [
          {
            "node": "Code: Build Add Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Add Response": {
      "main": [
        [
          {
            "node": "Response: Add OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS: OPTIONS /vocabulary/list": {
      "main": [
        [
          {
            "node": "CORS: Respond 204",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS: OPTIONS /vocabulary/master": {
      "main": [
        [
          {
            "node": "CORS: Respond 204",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS: OPTIONS /vocabulary/add": {
      "main": [
        [
          {
            "node": "CORS: Respond 204",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS: OPTIONS /vocabulary/edit": {
      "main": [
        [
          {
            "node": "CORS: Respond 204",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORS: OPTIONS /vocabulary/delete": {
      "main": [
        [
          {
            "node": "CORS: Respond 204",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: POST /vocabulary/edit": {
      "main": [
        [
          {
            "node": "Validate: Edit Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate: Edit Params": {
      "main": [
        [
          {
            "node": "Postgres: Update Vocabulary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Edit 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Update Vocabulary": {
      "main": [
        [
          {
            "node": "Postgres: Update User Mastered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Update User Mastered": {
      "main": [
        [
          {
            "node": "Code: Build Edit Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Edit Response": {
      "main": [
        [
          {
            "node": "Response: Edit OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: POST /vocabulary/delete": {
      "main": [
        [
          {
            "node": "Validate: Delete Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate: Delete Params": {
      "main": [
        [
          {
            "node": "Postgres: Delete User Vocab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response: Delete 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Delete User Vocab": {
      "main": [
        [
          {
            "node": "Response: Delete OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dee90e6a-608d-4fc8-baf8-191d7f548687",
  "meta": {
    "instanceId": "0bc038e49b07af2e3e858246c7c482b54ba66879f695b1ba1f1900faa8f7d141"
  },
  "id": "8gtHf4bhZQUNMkrW",
  "tags": []
}